.brands_page {
	width: 1024px;
	.wrapp_first-screen, .wrapp_slider, .wrapp_cards-block-1, .filters-wrapp, .breadcrumbs{
		margin: 0;
		padding-left: 10px;
		padding-right: 10px; 
	}
	header {
		padding-left: 20px;
		padding-right: 20px; 
	}
	.breadcrumbs {
		padding-left: 20px;
	}
	.wrapp_slider-video-bg-black .wrapp_slider {
		padding-left: 25px;
		padding-right: 25px;
	}
	.wrapp_page {
		margin: 0 20px;
	}
	.go_top {
		display: none;
	}
	.company-content-wrapp {
		padding-left: 20px;
		width: 700px;
	}
	.company-contact  {
		right: 5%;
	}
	.company-content-wrapp .content-block .content-right .gallery_foto .wrapp-img {
		flex-basis: 29%;
	}
	.company-content-wrapp .content-block .content-right .card-wrapp .card {
		flex-basis: 43%;
	}
	.specialist-page-first-screen .article-wrapp-info .wrapp-info .foto {
		left: 15px;
	}
	.article-wrapp .article-wrapp-info .panel_dop .add_favorites {
		padding-left: 20px;
	}
	.specialist-page-first-screen .article-wrapp-info .breadcrumbs {
		padding-left: 20px;
	}
	.filters-wrapp h2 {
		left: 20px;
	}
	.filters-wrapp .dropdown {
		right: 20px;
	}
	//5-0
	.search {
		.search-left {
			form {
				padding-left: 20px;
				padding-right: 20px;
				.search-btn {
					right: 35px;
				}
			}
			.search-resault {
				.sum-resault, .search-resault-none {
					padding-left: 20px;
					padding-right: 20px;
				}
				.search-resault-wrapp {
					.card-horizontal {
						margin-left: 20px;
						.wrapp-img {
							flex-basis: 30%;
							max-width: none;
						}
						.wrapp-content {
							flex-basis: 70%;
						}
					} 
				}
			}
		}
	}
	//5-0

	//page4-0

	.title-page-wrapp {
		padding: 20px 20px 35px;
	}
	.favourites-menu {
		padding: 0 20px;
	}
	.favourites {
		.favourites-right {
			.favourites-content {
				.wrapp_tabs-content {
					.wrapp_slider-content {
						.card {
							flex-basis: 29%;
							flex-grow: 1;
						}
						.card-full_bg {
							.card-title	 {
								margin-top: 250px;
							}
						}
						.card-horizontal {
							flex-basis: 46%;
						}
					}
				}
			}
		}   	
	}
	//end 4-0
	.wrapp_sidebar h4 {
		margin: 38px 15px 13px 0;
	}
	.block-right {
		display: none;
	}
	//5-0
	.search {
		.search-left {
			.search-resault {
				.search-resault-wrapp {
					.card-horizontal {
						.wrapp-img {
							flex-basis: 30%;
							max-width: none;
						}
					}
				}
			}
		}
	}
	//5-0
	.user_panel {
		bottom: 0;
		top: 0;
		margin: auto;
		height: 22px;
	}
	.wrapp_header .burger {
		bottom: 0;
		top: 0;
		margin: auto;
		height: 18px;
	}
	//page 1-8
	.favourites {
		flex-wrap: wrap;
		.favourites-left {
			flex-basis: 100%;
			.favourites-menu {
				text-align: center;
				li {
					display: inline-block;
					padding: 10px;
				}
			}
		}
		.favourites-right {
			flex-basis: 100%;
			width: 100%;
			.favourites-content {
				margin-top: 40px;
			}
		}
		.personal_data {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			margin-top: 80px;

			.favourites-right_left {
				
			}
			.favourites-right_right {
				
			}
		}
	}
	.company-contact {
		width: 350px;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .left-content {
		display: none;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .right-content {
		padding-left: 0;
	}
	.filters-wrapp {
		padding-left: 25px;
		padding-right: 25px; 
	}
	.breadcrumbs {
		padding-left: 25px;
		padding-right: 25px; 
	}
 //end page 1-8
	//header
	.wrapp_header {
		.menu_categories {
			display: none;
			li:first-child {
				margin-left: 20px;
			}
			li:last-child {
				margin-left: 20px;	
			}
			li {
				font-size: 1.3rem;
			}
		}
	}

	header {
		padding: 0 20px;
	}
	.fixPaddingMenu {
		padding-top: 117px !important;
	}
	.fixedMenu {
		.wrapp_header {
			.logo {
				display: block;
			}
			.user_panel {
				top: 0px;
				.user {
					display: inline-block;
				}
			}
			.burger {
	    		top: 0px;
			}
		}
	}
	//end header
	
	//-------------------------------------------------

	//first-screen
	.wrapp_cards {
		flex-basis: 68%;
		.card-vertical {
			flex-basis: 33%;
		}
		a.card:last-of-type { 
			display: block;
			width: 29%;
		}	
		.card-big {
			flex-basis: 100%;
		}
		.wrapp_whats-up {
			li  {
				padding-right: 10px;
				line-height: 1.4;
				img {
					margin-right: 5px;
				}
			}
		}
		
	}
	.card-full_bg .card-title {
			margin-top: 300px;
	}
	.wrapp_sidebar {
		flex-basis: 32%;
		h4 {
			margin: 28px 15px 20px 0;
		}
	}
	

	//end first-screen

	//-------------------------------------------------
	
	//cards-block-1
	.wrapp_cards-block-1 {
		.card {
			flex-basis: 30%;
			flex-grow: 1;
		}
	}
	//end cards-block-1

	//-------------------------------------------------

	//footer
	.wrapp_footer {
		padding: 0 20px;
		.footer-menu {
			.footer-menu_logo {
				display: none;
			}
			.email {
				padding-right: 20px;
				.email-input {
					width: 200px;
				}
			}
		}
		.footer-info {
			.copyrat {
				flex-basis: 20%;
			}
			.block-info {
				flex-basis: 65%;
				padding-right: 40px;
			}
			.made-in {
				flex-basis: 15%;
			}
		}
	}
	//end footer

	.wrapp_burger_menu {
		.burger_menu {
			width: 100%;
			text-align: center;
			padding-left: 10px;
			padding-top: 70px;
			.burger_menu-big-mobile {
				display: block;
			}
			.burger_menu-small, .burger_menu-big {
				display: none;
			}
			.burger_menu-big {
				li {
					padding-bottom: 25px;
					a {
						font-size: 2rem;
						letter-spacing: 1px;
						color: #000;
						font-family: $font_m;
					}
					&:last-child {
						padding-bottom: 0;
					}
				}
			}
			.wrapp-menu-mobile {
				display: block;
				margin-bottom: 90px;
				.burger_menu-big { 
					display: block;
				}
			}
		}
		.social_links {
			position: relative;
			// margin: 0 auto;
			// left: 0;
			// right: 0;
		}
	}
	//1-0page
	
	// .even-last-child .card:last-child, .even-last-child .card:nth-last-child(2) {
	// 	display: flex;
	// }
	// .odd-last-child .card:last-child, .odd-last-child .card:nth-last-child(3) {
	// 	display: none;
	// }

	//1-0page

	.content-wrapp {
		.block-left {
			position: relative;
			padding: 100px 0 0;
			margin: 0 auto;
		}
	}

	//1-8 page 
	.article-wrapp .article-wrapp-bg {
		height: 580px;
	}
	.company-content-wrapp {
		width: 640px;
		.menu {
			padding: 40px 0;
		}
		.content-block {
			flex-wrap: wrap;
			.content-left {
				flex-basis: 100%;
				margin-bottom: 30px;
				h3 {
					display: inline-block;
				}
				ul {
					display: inline-block;
					margin-left: 30px;
					margin-top: 0;
					li {
						display: inline-block;
						padding-right: 30px;
						&:last-child {
							padding-right: 0;
						}
					}
				}
				.logo {
					padding-right: 20px;
				}
			}
			.content-right {
				flex-basis: 100%;
			}
		}
		.content-block.first-block {
			flex-wrap: nowrap;
			.content-left {
				flex-basis: 25%;
				h3 {
					display: none;
				}
			}
		}
	}
	.company-contact {
		right: 1%;
	}
	
	.specialist-page-first-screen .article-wrapp-info .breadcrumbs {
		padding-bottom: 70px;
	}
	.card-vertical {
		min-height: 550px;
		max-height: 550px;
		.wrapp-img {
			max-height: 350px;
		}
	}
	.filters-wrapp {
		flex-direction: column;
		margin-bottom: 25px;
		h2 {
			position: relative;
			left: 0;
		}
		.filters-li {
			li {
				margin-right: 10px;
			}
		}	 
		.dropdown {
			display: none;
		}
	}
	.specialist-page-first-screen .article-wrapp-info .wrapp-info h1 {
		height: 140px;
	}
	.specialist-page-first-screen .article-wrapp-info .wrapp-info {
		padding-bottom: 41px;
	}

	.search {
		.search-right {
			display: none;
		}
		.search-left {
			flex-basis: 100%;
			.search-resault .search-resault-wrapp .card-horizontal .wrapp-content {
				flex-basis: 70%;
			}
		}
	}
	.content-wrapp .block-center-text .subscribe {
		display: none;
	}
	.odd-last-child .card:last-child {
		display: block;
	}
	.even-last-child .card:last-child, .even-last-child .card:nth-last-child(2) {
		display: none;
	}
	.cards-block-sport {
		.card-horizontal {
			flex-basis: 40%;
			.wrapp-img {
				flex-basis: 35%;
			}
			.wrapp-content {
				flex-basis: 65%;	
			}
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				flex-basis: 100%;	
			}
		}
	}
	.block-filters .item-filter p {
		max-width: 130px;
	}
	.auth {
		padding: 30px 20px 0
	}
	.company-contact {
		position: relative !important;
		top: 0 !important;
		right: 0 !important;
		margin: 30px auto 0;
		width: 385px;
	}
	.company-content-wrapp {
		width: 96%;
	}
	
	.comments-wrapp .comments-wrapp-content .comments-col {
		display: none;
	}
	.content-wrapp .block-center-text {
		padding: 50px 20px;
	}
	.wrapp_footer{
		.social_links {
			text-align: right;
			li {
				display: block;
				padding: 10px 0 10px 10px;
			}
		}
	}
	
}

.gallery{
	.slick-track{
		.slick-slide{
			img{
				max-height: 100%;
			}
		}
	}
}