.input-type-1 {
	background-color: transparent;
	border: 1px solid #4e4e4e;
	color: #000;
	font-family: $font_phil;
	padding: 10px 38px 10px 15px;
}
.input-type-1:focus {
	border: 1px solid $main_blue;
}

.input-border-bottom {
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid $grey_dop;
	padding: 15px 0;
	font-size: 1.4rem;
	position: relative;
	z-index: 1010;
	transition: all 0.3s ease;
	margin: 15px 0;
}
.input-border-bottom + label {
	position: absolute;
	z-index: 1001;
	font-size: 1.4rem;
	margin-top: -50px;
	color: $grey;
	transition: all 0.3s ease;
	span {
		color: red;
	}
}
.input-border-bottom:focus {
	border-bottom: 1px solid $main_blue;
}
.input-border-bottom:focus + label {
	margin-top: -70px;
	font-size: 1.2rem;
}
.input-border-bottom-value {
	border-bottom: 1px solid #000;
}
.input-border-bottom-value + label {
	margin-top: -70px;
	font-size: 1.2rem;
}

// .item-filter-input-checkbox {
// 	cursor: default;
// 	input[type=checkbox] {
// 		display: none;
// 	}
// 	input[type=checkbox]+label {
// 		margin-left: -15px;
// 		position: relative;
// 	}
// 	input[type=checkbox]+label:after {
// 		margin-top: 0px !important;
// 	}
// }

.btn {
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	text-align: center;
}
.btn-size-225 {
	width: 225px;
	padding: 15px 0;
}

.btn-size-130 {
	width: 130px;
	padding: 10px 0;
}

.btn-black {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.btn-black:hover {
	background-color: $main_blue;
	color: #fff;
}

.email-input {
	color: #fff;
	font-family: $font_r;
	width: 220px;
	background-image: url(../img/svg/uEA02-email-grey.svg);
	background-size: 10%;
	background-position: 95%;
	background-repeat: no-repeat;
	transition: all 0.1s ease-out;
	
}
.email-input::-webkit-input-placeholder {color:#4e4e4e;}
.email-input::-moz-placeholder          {color:#4e4e4e;}
.email-input:-moz-placeholder           {color:#4e4e4e;}
.email-input:-ms-input-placeholder      {color:#4e4e4e;}

.email-input:focus {
	background-image: url(../img/svg/uEA01-email-blue.svg);
}
//end form




.social_links {
	li {
		display: inline-block;
		padding-right: 30px;
		font-size: 0;
		line-height: 0;
		vertical-align: middle;
		a {
			svg {
				fill: #fff;
				transition: all 0.3s ease-out;
				&:hover {
					fill: $main_blue !important;
				}
			}
		}
		a.vk {
			svg {
				width: 20px;
				height: 13px;
			}
		}
		a.fb {
			svg {
				width: 8px;
				height: 16px;
			}
		}
		a.yt {
			svg {
				width: 15px;
				height: 20px;
			}
		}
		a.inst {
			svg {
				width: 16px;
				height: 16px;
			}
		}

		&:last-child {
			padding-right: 10px;
		}
	}
}

.breadcrumbs {
	padding-top: 20px;
	li {
		display: inline-block;
		text-transform: uppercase;
		color: $grey;
		font-size: 1rem;
		letter-spacing: 2px;
		a {
			color: $grey;
		}
		a:hover {
			color: $main_blue;
		}
		&:after {
			content:'/';
		}
		&:last-child:after {
			content:'';
		}
	}
	
}

input[type='checkbox'] {
	display: none;
}
input[type='checkbox'] + label {
	padding-left: 40px;
	cursor: pointer;
}
input[type='checkbox'] + label:hover {
	color: $main_blue;
}

input[type='checkbox'] + label:after {
	content:'';
	background-color: rgba(0,0,0,0);
	color: #757e1f;
    font-family: pf_medium;
    margin-right: 5%;
    font-size: 0rem;
    border: 1px solid #c6c6c6;
	padding: 7px;
	border-radius: 1px;
	background-image: none;
	background-size: 85%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
  	top: 0;
  	margin-top: 8px;
    // width: 10px;
    // height: 10px;
}
input[type=checkbox]:checked + label {
	color: $main_blue;
}
input[type=checkbox]:checked + label:after {
	border-color: $main_blue;
	background-image: url('../img/svg/uEA01-check-symbol.svg');
}