.input-type-1 {
	background-color: transparent;
	border: 1px solid #4e4e4e;
	color: #000;
	font-family: $font_phil;
	padding: 10px 38px 10px 15px;
}
.input-type-1:focus {
	border: 1px solid $main_blue;
}

.input-border-bottom {
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid $grey_dop;
	padding: 15px 0;
	font-size: 1.4rem;
	position: relative;
	z-index: 1010;
	transition: all 0.3s ease;
	margin: 15px 0;
}
.input-border-bottom + label {
	position: absolute;
	z-index: 1001;
	font-size: 1.4rem;
	margin-top: -50px;
	color: $grey;
	transition: all 0.3s ease;
	span {
		color: red;
	}
}
.input-border-bottom:focus {
	border-bottom: 1px solid $main_blue;
}
.input-border-bottom:focus + label {
	margin-top: -70px;
	font-size: 1.2rem;
}
.input-border-bottom-value {
	border-bottom: 1px solid #000;
}
.input-border-bottom-value + label {
	margin-top: -70px;
	font-size: 1.2rem;
}
.btn {
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	text-align: center;
}
.btn-size-225 {
	width: 225px;
	padding: 15px 0;
}

.btn-size-130 {
	width: 130px;
	padding: 10px 0;
}

.btn-black {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.btn-black:hover {
	background-color: $main_blue;
	color: #fff;
}

.email-input {
	color: #fff;
	font-family: $font_r;
	width: 220px;
	background-image: url(../img/svg/uEA02-email-grey.svg);
	background-size: 10%;
	background-position: 95%;
	background-repeat: no-repeat;
	transition: all 0.1s ease-out;
}

.email-input:focus {
	background-image: url(../img/svg/uEA01-email-blue.svg);
}
//end form




.social_links {
	li {
		display: inline-block;
		padding-right: 30px;
		font-size: 0;
		line-height: 0;
		a.vk {
			svg {
				width: 25px;
				fill: #fff;
			}
		}
		a.fb {
			svg {
				width: 10px;
				fill: #fff;
			}
		}
		a.yt {
			svg {
				width: 20px;
				fill: #fff;
			}
		}
		a.inst {
			svg {
				width: 19px;
				fill: #fff;
			}
		}

		&:last-child {
			padding-right: 10px;
		}
	}
}

.breadcrumbs {
	padding-top: 15px;
	li {
		display: inline-block;
		text-transform: uppercase;
		color: $grey;
		font-size: 1rem;
		letter-spacing: 2px;
		a {
			color: $grey;
		}
		a:hover {
			color: $main_blue;
		}
		&:after {
			content:'/';
		}
		&:last-child:after {
			content:'';
		}
	}
	
}