.wrapp_footer-bg-black {
	background-color: #000;
}
.wrapp_footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	// flex-wrap: wrap;
	min-height: 400px;
	a {
		color: #fff;
	}
	.footer-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 65px 0 70px;
		.footer-menu_logo {
			img {
				max-width: 100px;
				margin-right: 60px;
			}
		}
		.footer-menu_categories {
			padding-right: 40px;
			li:last-child {
				a {
					padding-bottom: 0;
				}
			}
			a {
				text-transform: uppercase;
				font-size: 1.4rem;
				letter-spacing: 1px;
				font-family: $font_m;
				padding-bottom: 20px;
				display: block;
				transition: all 0.3s ease-out;
			}
			a.active {
				color:#fff;
			}
			a.no-active {
				color: $grey;
			}
		}
		.footer-menu_main-info {
			padding-right: 60px;
			li:last-child {
				a {
					padding-bottom: 0;
				}
			}
			a {
				font-size: 1.4rem;
				letter-spacing: 1px;
				transition: all 0.3s ease-out;
				padding-bottom: 20px;
				display: block;
			}
			a.active {
				color:#fff;
			}
			a.no-active {
				color: $grey;
			}
		}
		.email {
			padding-right: 60px;
			.email-title {
				font-size: 1.4rem;
				color: #fff;
				padding-bottom: 20px;
			}
			
		}
	}
	.footer-info {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		padding-bottom: 90px;
		p {
			color: #4e4e4e;
			font-size: 1.4rem;
		}
		a {
			color: #fff;
		}
		.block-info {
			padding-right: 190px;
			flex-grow:1;
			flex-basis:58%;
		}
		.copyrat {
			flex-basis:29%;
		}
		.made-in {
			flex-basis:13%;
		}
		.footer-menu_logo {
			display: none;
		}
	}
}

