header {
	width: 100%;
	position: relative;
	z-index: 100;
}
.user_panel  {
	position: absolute;
	right: 35px;
	top: 50px;
	z-index: 101;
	
	div {
		display: inline-block;
		svg {
			width: 16px;
			fill: #fff;
			margin-left: 40px;
			cursor:pointer;
			transition: all 0.3s ease;
			&:hover {
				fill: $main_blue;
			}
		}
	}
}
.wrapp_header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: #000;
	width: 100%;
	position: relative;
	.burger {
		position: absolute;
		z-index: 1000;
		top: 50px;
		left: 35px;
	}
	
	.logo {
		flex-basis: 100%;
		.wrapp_svg {
			width: 40%;
			max-width: 420px;
			margin: 32px auto 27px;
			svg {
				fill: #fff;
				width: 100%;
				height: 100%;
			}
		}
	}
	.menu_categories {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-basis: 100%;
		position: relative;
   		z-index: 101;
		li {
			a {
				// color: #c4c4c4;
				color: #fff;
				font-family: $font_b;
				font-weight: 400;
				letter-spacing: 1.2px;
				padding: 0px 5px 22px 5px;
				display: block;
				text-transform: uppercase;
				border-bottom: 3px solid rgba(0,0,0,0);
				transition: all 0.3s ease;
				
			}
			a.active, .active_page {
				border-bottom: 3px solid #fff;
				
			}
			a.active_page {
				color: #fff !important;
			}
			a.no-active {
				color: $grey;
			}
			&:first-child {
				margin-left: 60px;
			}
			&:last-child {
				margin-right: 60px;
			}

		}

	}
	// .wrapp_menu_categories {
	// 	width: 100%;
	// }
	.wrapp_menu_categories-content {
		width: 100%;
		position: relative;
		.menu_categories-content {
			height: 453px;
			display: none;
			background-color: #1b1b1b;
			width: 100%;
			position: absolute;
			z-index: 100;
			padding: 25px 0 50px;
			font-size: 0;
			box-shadow: 0px 4px 35px 1px rgba(0,0,0,0.75);
			top: 0;
			&.active-item-menu {
				display: block
			}
			.menu-left {
				display: inline-block;
				width: 20%;
				vertical-align: top;
				li {
					a {
						color: #fff;
						text-transform: uppercase;
						font-family: $font_b;
						padding: 15px 10px 15px 40px;
						display: block;
						letter-spacing: 1px;
						transition: all 0.3s ease;
						
					}
					
				}
				li.active {
					a {
						background-color: #3b3b3b;
					}
				}
			}
			.wrapp_content {
				// display: inline-block;
				width: 80%;
				vertical-align: top;
			}
			.wrapp_content.hidden {
				// display: none;
			}
			.menu-center {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				ul {
					display: inline-block;
					width: 48%;
					vertical-align: top;
					li {
						a {
							color: #fff;
							padding: 15px 10px 15px 40px;
							display: block;
							transition: all 0.3s ease-out;
						}
						a.no-active {
							color: $grey;
						}
					}
				}
			}
			.menu-right {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				max-height: 370px;
				height: 100%;
				// overflow: hidden;
				.card-horizontal  {
					align-items: flex-start;
					position: relative;
					top: 0;
					height: 175px;
					max-height: 175px;
					overflow: hidden;
					.wrapp-content  {
						flex-basis: 68%;
    					padding-left: 20px;
    					.card-title {
    						padding-left: 0;
    						padding-bottom: 20px;
    					}
    					.card-category {
    						padding: 10px 0 20px;
    					}
					}
					.wrapp-img {
						flex-basis: 32%;
					}
				}
			}
		}
	}
}
.fixPaddingMenu {
	padding-top: 189px;
}
.fixedMenu {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: none;
	// transition: all 0.5s ease-out;
	background-color: #000;
	.wrapp_header {
		max-width: 1280px;
   		margin: 0 auto;
		.burger {
			top: 25px;
		}
		.user_panel {
			top: 25px;
			.user {
				display: none;
			}
		}
		.menu_categories {
			padding-top: 25px;
			max-width: 1000px;
    		margin: 0 auto;
			li {
				font-size: 1.2rem;
			}
		}
		.logo {
			display: none;
		}
	}
}
.animetMenuIn {
	animation: topMenuIn 0.5s ease-in-out;
}
.animetMenuOut {
	animation: topMenuOut 1s ease-in-out;
}

@keyframes topMenuIn {
	0% {
		transform: translate(0, -100%);
	}
	100% {
		transform: translate(0, 0%);
	}
}

@keyframes topMenuOut {
	0% {
		transform: translate(0, 0%);
	}
	100% {
		
		transform: translate(0, -100%);
	}
}