$card-margin: 10px;
$card-height-vertical: 400px;
$main_blue: blue;
$grey: grey;
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: 'Aria';
	font-weight: 500;
	min-width: 320px;
	// max-width: 1024px;
	position: relative;
	line-height: 1.6;
	background-color: #fff;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column no-wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	// transition-property: all;
	// transition-duration: 2s;
	// transition-delay: 1s;
	// transition-timing-function: ease;
}
h1,h2,h3,h4,h5,ul,p,ol,input,textarea,a {
	margin: 0;
	padding:0;
	font-weight: 500;
	outline: none;
	font-family: 'Aria', sans-serif;
}
h1 { font-size: 6rem; font-family: 'Aria'}
h2 { font-size: 4rem; font-family: 'Aria'}
h3 { font-size: 3rem; font-family: 'Aria' }
h4 { font-size: 2rem; font-family: 'Aria' }
p,li { font-size: 1.4rem;  font-family: 'Aria'}
ul { list-style-type: none; }
a {text-decoration: none;}
a:visited { color: $main_blue;}

.overflow-hidden, .overflow-hidden-1, .overflow-hidden-2 {
	overflow: hidden;
} 
.out {
	width: 100%;
	min-height: 100vh;    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px 0;
}
.hidden { display: none !important; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left;}
.text-uppercase { text-transform: uppercase; }


.card {
	margin: $card-margin;
	.card-category {
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-size: 1.4rem;
		padding-top: 10px;
		color: $grey;
	}
	.card-title {
		font-size: 2rem;
		padding: 10px 0;
		a {
			color: #000;
		}
		a:hover {
			color: $main_blue;
		}
	}
	.card-date_like {
		font-size: 1.3rem;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: $grey;
		span {
			padding: 0 5px;
		}
	}
}
.card-big {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 170px 20px 0;
	.card-title {
		font-size: 3rem;
	}
}

.card-vertical {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	.wrapp-img {
		max-height: $card-height-vertical/1.8;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}
}

.card-full_bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.card-title { 
		a{
			color: #fff;
		}
	}
}
.card-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	.wrapp-img {
		flex-basis: 40%;
		img {
			max-width: 100%;
		}
	}
	.wrapp-content {
		flex-basis: 60%;
	}
}

.wrapp_first-screen {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.wrapp_cards {
	flex-basis: 75%;
	width: 74%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap; 
	.wrapp_whats-up {
		min-height: 70px;
		flex-basis: 100%;
	}
	.card-big {
		flex-basis: 52%;
		flex-grow: 2;
	}
	.card-vertical {
		flex-basis: 25%;
		flex-grow: 1;
	}
}

.wrapp_sidebar {
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap; 
	h4 {
		min-height: 70px;
		max-height: 70px;
		overflow: hidden;
		margin: $card-margin;
	}
	.wrapp_top-news {
		margin: 10px ;
		.card-horizontal {
			border-bottom: 1px solid red;
			padding: 20px 0;
			max-height: $card-height-vertical/4;
			min-height: $card-height-vertical/4;
			margin: 0;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			.wrapp-img {
				overflow: hidden;
				height: 100%;
				img {
					max-width: 100%;
				}
			}
			.wrapp-content {
				.card-title  {
					font-size: 1.3rem;
				}
				.card-date_like  {
					font-size: 1.1rem;
				}
			}
		}
	}
}