* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: $font_r;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	background-color: #fff;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column no-wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	// transition-property: all;
	// transition-duration: 2s;
	// transition-delay: 1s;
	// transition-timing-function: ease;
}
h1,h2,h3,h4,h5,ul,p,ol,input,textarea,a {
	margin: 0;
	padding:0;
	font-weight: 500;
	outline: none;
	font-family: $font_r;
}
h1 { font-size: 6rem; font-family: $font_r}
h2 { font-size: 4rem; font-family: $font_r}
h3 { font-size: 3rem; font-family: $font_r }
h4 { font-size: 2rem; font-family: $font_r }
p,li { font-size: 1.5rem;  font-family: $font_r}
ul { list-style-type: none; }
a {text-decoration: none;}
a:visited { color: $main_blue;}

.overflow-hidden, .overflow-hidden-1, .overflow-hidden-2 {
	overflow: hidden;
} 
.out {
	width: 100%;
	min-height: 100vh;    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 0 0;
	max-width: 1300px;
}
.hidden { display: none !important; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left;}
.text-uppercase { text-transform: uppercase; }
.text-black { 
	a {color: #000;}
}
.text-white { 
	a {color: #fff;}
}


.card {
	margin: $card-margin;
	.card-category {
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-size: 1.4rem;
		padding: 25px 0;
		a {
			color: $grey;
		}
	}
	.card-title {
		font-size: 2.8rem;
		padding: 0 0 25px;
		line-height: 1;
		a {
			font-family: $font_phil;
			transition: all 0.1s ease-out;
		}
		a:hover {
			color: $main_blue;
		}
	}
	.card-date_like {
		font-size: 1.3rem;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: $grey;
		span {
			padding: 0 5px;
		}
	}
}
.card-big {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0 40px 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
	.card-title {
		font-size: 5rem;
	}
}

.card-vertical {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	.wrapp-img {
		max-height: $card-height-vertical/1.8;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}
}

.card-full_bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding-bottom: 40px;
	.card-date_like {
		color: $grey_dop;
	}
}
.card-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	.wrapp-img {
		flex-basis: 40%;
		img {
			max-width: 100%;
		}
	}
	.wrapp-content {
		flex-basis: 60%;
		padding-left: 20px;

		
	}
}

.wrapp_first-screen {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 -15px;
}
.wrapp_cards {
	flex-basis: 75%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap; 
	.wrapp_whats-up {
		flex-basis: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: no-wrap;
		margin: 40px 15px 25px;
		max-height: 50px;
		li {
			padding-right: 25px;
			img {
				max-width: 50px;
				float: left;
				margin-right: 15px;
			}
		}
	}
	.card-big {
		flex-basis: 52%;
		flex-grow: 2;
	}
	.card-vertical {
		flex-basis: 25%;
		flex-grow: 1;
	}
}

.wrapp_sidebar {
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap; 
	.banner {
		img {
			width: 100%;
		}
	}
	h4 {
		margin: 55px $card-margin 40px;
		font-family: $font_bb;
		font-size: 1.8rem;
   		letter-spacing: 4px;
	}
	.wrapp_top-news {
		margin: 10px ;
		.card-horizontal {
			border-bottom: 1px solid red;
			padding: 20px 0;
			max-height: $card-height-vertical/4;
			min-height: $card-height-vertical/4;
			margin: 0;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			.wrapp-img {
				overflow: hidden;
				height: 100%;
				img {
					max-width: 100%;
				}
			}
			.wrapp-content {
				.card-title  {
					font-size: 1.5rem;
				}
				.card-date_like  {
					font-size: 1rem;
				}
			}
		}
	}
}