* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: $font_r;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	background-color: #fff;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column no-wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	// transition-property: all;.input-type-1
	// transition-duration: 2s;
	// transition-delay: 1s;
	// transition-timing-function: ease;
}
h1,h2,h3,h4,h5,ul,p,ol,input,textarea,a {
	margin: 0;
	padding:0;
	font-weight: 500;
	outline: none;
}
h1 { font-size: 6rem; font-family: $font_r}
h2 { font-size: 4rem; font-family: $font_r}
h3 { font-size: 3rem; font-family: $font_r }
h4 { font-size: 2rem; font-family: $font_r }
p,li { font-size: 1.5rem;  font-family: $font_r}
ul { list-style-type: none; }
a {text-decoration: none;}
input {font-family: $font_r}
input[type='password'] {font-family: arial}

.modal-open {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
} 
.overflow-hidden {
	overflow: hidden;
}
.out {
	width: 100%;
	min-height: 100vh;    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.wrapp_page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px 0 0 0;
}
.content{
	flex: 1 0 auto;
}
.max-width-1300 {
	max-width: 1300px;
	margin: 0 auto;
} 
.full-width {
	width: 100%;
}
.go_top { 
	border-radius: 50%;
	border: 2px solid $grey_dop;
	width: 45px;
	height: 45px;
	padding-top: 13px;
	padding-left: 11px;
	position: fixed;
	bottom: 80px;
	z-index: 101;
	left: 75px;
	display: none;
	svg {
		width: 20px;
		height: 15px;
		fill: $grey_dop;
	}
 }


 
.hidden { display: none; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left;}
.text-uppercase { text-transform: uppercase; }

.card {
	margin: 15px 15px 35px 15px;
	position: relative;
	transition: all 0.3s ease-out;
	// overflow: hidden;
	.card-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50%;
		top: 0;
		left: 0;
		z-index: -2;

	}
	.card-category {
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-size: 1.1rem;
		padding: 22px 0 13px;
		font-family: $font_m;
		a {
			color: $grey;
		}
	}
	.card-title {
		font-size: 2.8rem;
		line-height: 1.1;
		font-family: $font_phil;
		color: #000;
		padding-left: 10px;
		padding-right: 10px;
		transition: all 0.3s ease-out;
		max-height: 90px;
   		overflow: hidden;
   		margin-bottom: 20px;
   		position: relative;
   		z-index: 5;
	}
	.card-date_like {
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: $grey;

		span {
			padding: 0 5px;
			color: $grey;
		}
		.eyes {
			svg {
				width: 14px;
				fill: #000;
				position: relative;
				top: 2px;
				opacity: 0.2;
			}
		}
		.comment {
			svg {
				width: 11px;
				fill: #000;
				position: relative;
				top: 4px;
				opacity: 0.2;
			}
		}
	}
	.label {
		font-family: $font_phil;
		position: absolute;
		left: -5px;
		background-color: #000;
		color: #fff;
		font-style: italic;
		font-size: 1.5rem;
		top: 15px;
		padding: 0px 10px;
		z-index: 10;
		transform: translateZ(0);
		&:after {
			content: '';
			position: absolute;
			border: 12px solid transparent;
			border-bottom: 0px solid transparent;
			border-right: 0px solid transparent;
			border-left: 8px solid #000;
			display: block;
			width: 0;
			height: 0;
			right: -8px;
			top: 12px;
		}
		&:before {
			content: '';
			position: absolute;
			border: 12px solid transparent;
			border-bottom: 0px solid transparent;
			border-right: 0px solid transparent;
			border-left: 8px solid #000;
			display: block;
			width: 0;
			height: 0;
			right: -8px;
			top: 0px;
			transform: scaleY(-1);
		}
	}
	.like  {
		position: absolute;
		right: 10px;
    	top: 10px;
    	display: none;
    	transition: all 0.3s ease-out;
    	z-index: 4;
		span {
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/heart1.png');
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
		}
		.added {
			background-image: url('../img/icons/heart-3.png');
		}

	}
	.like.show {
		display: block;
	}
	.label.label-orang {
		background-color: #ff620c;
		&:after {
			border-left: 8px solid #ff620c;
		}
		&:before {
			border-left: 8px solid #ff620c;
		}
	}
	.label.label-blue {
		background-color: #0039de;
		&:after {
			border-left: 8px solid #0039de;
		}
		&:before {
			border-left: 8px solid #0039de;
		}
	}
	.label.label-green {
		background-color: #53ba42;
		&:after {
			border-left: 8px solid #53ba42;
		}
		&:before {
			border-left: 8px solid #53ba42;
		}
	}
	.wrapp-img-bg-full {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		transition: background-color 0.3s ease-out;
	}
	&:hover {
		.like {
			display: block;
		}
		.card-title { 
			color: $main_blue !important;
		}
		.wrapp-img-bg-full {
			background-color: rgba(0,0,0,0.3);
		}

	}
}
//modify white
.card.text-white {
	.card-title {
		color: #fff;
		&:hover {
			color: $main_blue;
		}
	}
	.card-category {
		a {
			color: #fff;
		}
	}
	.card-description {
		color: #fff;
	}
	.card-date_like {
		color: $grey_dop;
		span {
			color: $grey_dop;
		}
		.eyes {
			svg {
				fill: #fff;
				opacity: 0.5;
			}
		}
		.comment { 
			svg {
				fill: #fff;
				opacity: 0.5;
			}
		}
	}
}	
// .card:hover {
// 	.card-date_like {
// 		.eyes {
// 			svg {
// 				opacity: 1;
// 			}
// 		}
// 		.comment {
// 			svg {
// 				opacity: 1;
// 			}
// 		}
// 	}
// }
.card-big {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0 40px 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
	.card-title {
		font-size: 5rem;
		padding-left: 0;
		max-height: 120px;
	}
	.wrapp-img-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease-out;
	}
	&:hover  {
		.wrapp-img-bg {
			background-color: rgba(0,0,0,0.3);
		}
	}
	
}
.card-vertical {
	min-height: $card-height-vertical; 
	max-height: $card-height-vertical; 
	.wrapp-img {
		max-height: $card-height-vertical/1.67;
		overflow: hidden;
		position: relative;
		img {
			max-width: 100%;
			width: 100%;
			display: block;
		}
		.wrapp-img-bg {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			transition: background-color 0.3s ease-out;
		}
	}
	.card-date_like {
		//position: absolute;
		//bottom: 25px;
		//left: 0;
		//right: 0;
		//margin: 0 auto;
		position: relative;
		margin: 0 auto;
	}
	&:hover {
		.wrapp-img {
			.wrapp-img-bg {
				background-color: rgba(0,0,0,0.3);
			}
		}
	}
}
.card-full_bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	a {
		display: block;
	}
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	// align-items: stretch;

	// padding-bottom: 40px;
	.card-date_like {
		color: $grey_dop;
	}
	.card-category{
		margin-top: 291px;
	}
	.card-title {
		//margin-top: 300px;
		transition: all 0.3s ease-out;
	}
	
}

.wrapp_first-screen{
	.card-full_bg .card-category{
		margin-top: 297px;
	}
}

.favourites-right .wrapp_slider-content .content-container{
	width: 100%;
}

.card-horizontal {
	a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// align-items: flex-start;
		align-items: stretch;
		.wrapp-img {
			flex-basis: 40%;
			overflow: hidden;
			height: 100%;
			flex-grow: 10;
			position: relative;
			img {
				max-width: 100%;
				display: block;
				width: 100%;
			}
		}
		.wrapp-img-bg-h {
			position: absolute;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			transition: background-color 0.3s ease-out;
		}
		.wrapp-content {
			flex-basis: 60%;
			
		}
		.card-title {
			line-height: 1.3;
			position: relative;
	    	z-index: 5;
		}
		.card-description  {
			font-size: 1.5rem;
			font-family: $font_r;
			color: #000;
			line-height: 1.3;
			position: relative;
	    	z-index: 5;
		}
		.wrapp-bg {
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			width: 93%;
			height: 100%;
			background-size: cover;
			background-position: 50%;
			top: 0;
			left: 0;
			z-index: -1;
			// margin-left: 15px;
		}

		&:hover {
			.wrapp-img-bg-h {
				background-color: rgba(0,0,0,0.3);
			}
		}
	}
}


// first screen
.wrapp_first-screen {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 -15px;
	padding-bottom: 50px;
	position: relative;
	.card-vertical {
		min-height: 508px;
   		max-height: 508px;
	}
}
.wrapp_cards {
	flex-basis: 75%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap; 
	.wrapp_whats-up {
		flex-basis: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: no-wrap;
		margin: 40px 15px 35px;
		max-height: 50px;
		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: no-wrap;
			padding-right: 25px;
			img {
				max-width: 50px;
				// float: left;
				margin-right: 15px;
			}
			
		}
	}
	.card-big {
		flex-basis: 52%;
		flex-grow: 2;
	}
	.card-vertical {
		flex-basis: 30%;
		//flex-grow: 1;
	}
	div.card:last-of-type {
		//flex-grow: 0;
		//position: absolute;
		//width: 29.5%;
		//bottom: 0;
		//right: 10px;
		//margin-top: -51px;
		//margin-bottom: 65px;
		//display: none;
	}
	
}
.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.wrapp_sidebar {
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap; 
	.banner {
		margin-top: 40px;
		img {
			width: 100%;
		}
	}
	h4 {
		margin: 38px $card-margin 40px 0;
		font-family: $font_bb;
		font-size: 1.8rem;
		letter-spacing: 4px;
	}
	.wrapp_top-news {
		margin: 10px ;
		.card-horizontal {
			border-bottom: 1px solid $grey_dop;
			padding: 24px 0;
			margin: 0;
			&:nth-child(2) {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			.wrapp-img {
				overflow: hidden;
				height: 100%;
				max-height: 89px;
			}
			.wrapp-content {
				padding-left: 20px;
				.card-title  {
					font-size: 1.5rem;
					margin-bottom: 10px;
					padding: 0;
					max-height: 62px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					display: -webkit-box;
				}
			}
		}
	}
}
//end first_screen


//------------------------------------------------------------------------


//slider all style
.wrapp_slider{
	padding: 50px 0;
	margin: 0 -15px;
	.wrapp_slider-content{
		.card-horizontal{
			min-height: 190px;
			max-height: 190px;
			padding-right: 23px;
			// margin: 15px 0;
			// padding: 0 15px;
			.wrapp-img {
				display: inline-block;
				width: 45%;
				font-size: 0;
				max-height: 190px;
				overflow: hidden;
				line-height: 0;
			}
			.wrapp-content  {
				display: inline-block;
				width: 54%;
				font-size: 0;
				max-height: 190px;
				line-height: 0;
				vertical-align: top;
				padding-left: 25px;
				.card-category {
					padding: 10px 0 25px 0;
				}
				.card-title {
					padding: 0;
					line-height: 1.1;
					margin-bottom: 20px;
				}
				
			}
		}
		.card-horizontal-full_bg {
			min-height: 190px;
			max-height: 190px;
			.wrapp-img-bg-h {
				width: 93%
			}
			.wrapp-content {
				width: 100%;
				position: relative;
				z-index: 5;
				flex-basis: 100%;
				.card-category {
					padding: 25px 0 70px;
					a {
						color: #fff;
					}
				}
				.card-description {
					color: #fff;
				}
			}
			.wrapp-bg {
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				width: 93%;
				height: 100%;
				background-size: cover;
				background-position: 50%;
				top: 0;
				left: 0;
				z-index: -1;
				// margin-left: 15px;
			}
			.like {
				right: 20px;
			}
		}	
	}
	.slider_arrow {
		width: 15px;
		background-color: transparent;
		position: absolute;
		top: -60px;
		svg {
			transition: all $time-animation ease-out;
		}
		&:hover {
			svg {
				fill: $main_blue;
			}
		}
	}
	.slider_arrow-next {
		right: 0;
	}
	.slider_arrow-pre {
		right: 50px;
	}
	.slider_arrow-next:before {
		content: '';
		width: 1px;
		height: 37px;
		position: absolute;
		background-color: $grey_dop;
		right: 32px;
		top: -10px;
	}
}

//hack chrome size arrows slider
@media all and (-webkit-min-device-pixel-ratio:0) {
   .wrapp_slider .slider_arrow { width: 10px; }
	.wrapp_slider .slider_arrow-next:before { right: 30px; }
}

//end slider all style


//------------------------------------------------------------------------


//slider-categories
.wrapp_slider-categories-bg-grey {
	background-color: #f7f7f7;
	.wrapp_tabs-content,.wrapp_tabs-categories {
		width: 100%;
	}
	.wrapp_tabs-categories {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 15px 30px 0;
		.tabs-categories {
			li {
				display: inline-block;
				padding-right: 45px;
				cursor: pointer;
				text-transform: uppercase; 
				font-size: 1.8rem;
				font-family: $font_b;
				color: #9e9e9e;
				letter-spacing: 2px;
				transition: all $time-animation ease-out;
				&:hover {
					color: $main_blue;
				}
			}
			li.active {
				font-family: $font_bb;
				color: #000;
				&:hover {
					color: $main_blue;
				}
			}
		}

		.all {
			font-size: 1.1rem;
			color: #9e9e9e;
			text-transform: uppercase;
			letter-spacing: 2px;
			cursor: pointer;
			margin-right: 85px;
			transition: all $time-animation ease-out;
			&:hover {
				color:$main_blue;
			}
		}
	}
	
	
	.slider_arrow-next {
		right: 15px;
	}
	.slider_arrow-pre {
		right: 65px;
	}
	.slider_arrow-next:before {
		right: 30px;
	}
}
.shadow_left:after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:40px;
	background: rgba(247,247,247,0.85);
    background: -webkit-linear-gradient(left, rgba(247,247,247,0.85) 0%, rgba(255,255,255,0.26) 69%, rgba(255,255,255,0.16) 81%, rgba(255,255,255,0.07) 92%, rgba(247,247,247,0) 100%);
    background: -o-linear-gradient(left, rgba(247,247,247,0.85) 0%, rgba(255,255,255,0.26) 69%, rgba(255,255,255,0.16) 81%, rgba(255,255,255,0.07) 92%, rgba(247,247,247,0) 100%);
    background: linear-gradient(to right, rgba(247,247,247,0.85) 0%, rgba(255,255,255,0.26) 69%, rgba(255,255,255,0.16) 81%, rgba(255,255,255,0.07) 92%, rgba(247,247,247,0) 100%);
}
.shadow_right:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:40px;
	background: rgba(247,247,247,0);
    background: -webkit-linear-gradient(left, rgba(247,247,247,0) 0%, rgba(247,247,247,0.43) 50%, rgba(247,247,247,0.69) 81%, rgba(255,255,255,0.78) 92%, rgba(247,247,247,0.85) 100%);
    background: -o-linear-gradient(left, rgba(247,247,247,0) 0%, rgba(247,247,247,0.43) 50%, rgba(247,247,247,0.69) 81%, rgba(255,255,255,0.78) 92%, rgba(247,247,247,0.85) 100%);
    background: linear-gradient(to right, rgba(247,247,247,0) 0%, rgba(247,247,247,0.43) 50%, rgba(247,247,247,0.69) 81%, rgba(255,255,255,0.78) 92%, rgba(247,247,247,0.85) 100%);
    z-index: 100;
}

//end slider-categories


//------------------------------------------------------------------------


//cards-block-1

.wrapp_cards-block-1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 -15px;
	flex-wrap: wrap;
	padding: 30px 0;
	.card {
		flex-basis: 22%;
	}
	//cards-block-2
	

	//end cards-block-2
}
.load_more {
	flex-basis: 100%;
	text-align: center;
	padding: 55px 0px 100px 0;
	a {
		text-transform: uppercase;
		color: $main_blue;
		font-size: 1.4rem;
		letter-spacing: 2px;
		font-weight: bold;
		transition: all 0.3s ease-out;
		span {
			font-family: $font_m;
		}
		&:hover {
			color: #000;
		}
	}
}

//end cards-block-1


//------------------------------------------------------------------------


//slider-video

.card.text-white:hover{
	.card-title {
		color: white !important;
	}
}
.card.card-big:hover{
	.card-title {
		color: white !important;
	}
}
.wrapp_slider-video-bg-black {
	background-color: #000;
	.wrapp_slider {
		margin: 0;
	}
	.wrapp_slider-content {
		.card {
			min-height: 360px;
			max-height: 360px;
			position:relative;
			.card-title {
				font-size: 2.8rem;
			}
			.video-play {
				position: absolute;
				z-index: 100;
			}
			.like {
				z-index: -1;
			}
			&:hover {
				.card-title {
					color: $main_blue;
				}
			}

		}
		.card-big {
			width: 630px;
			display: flex !important;
			padding: 0 40px 40px;
			.video-play {
				width: 60px;
				margin: auto;
				top: 0; left: 0; bottom: 0; right: 0;
			}
		}
		.card-vertical {
			width: 310px;
			.wrapp-img {
				max-height: 170px;
			}
			.card-title {
				margin-top: 35px;
			}
			.video-play {
				width: 35px;
				left: 50%;
				margin-left: -13px;
				top: 70px;
			}
		}
		.slider_arrow {
			top: -55px;
			svg {
				fill: #fff;
				&:hover {
					fill: $orange;
				}
			}
		}
	
	}
	.wrapp_slider-title  {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding:0 0 30px 0;
		.rubric {
			text-transform: uppercase; 
			font-size: 1.8rem;
			font-family: $font_b;
			color: #fff;
			letter-spacing: 2px;
		}
		.all {
			font-size: 1.1rem;
			color: #9e9e9e;
			text-transform: uppercase;
			letter-spacing: 2px;
			cursor: pointer;
			margin-right: 85px;
			transition: all $time-animation ease-out;
			&:hover {
				color: $orange;
			}
		}
	}
}

//end slider-video

//banner
.full-baner {
	width: 100%;
	background-image: url('../img/banner-full.jpg');
	background-size: cover;
	text-align: center;
	padding: 45px 0;
	color: #fff;
	display: block;
	.t {
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 2.2rem;
		font-family: $font_b;
		padding: 0 10px 20px;
	}
	.d {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.4rem;
	}
}

.dropdown {
	position: relative;
	cursor: pointer;
	padding: 16px 0;
	svg.down {
		width: 20px;
   		height: 11px;
   		transform: rotate(180deg);
   		position: relative;
   		top: 2px;
   		transition: all 0.3s ease-out;
	}
	svg.up {
		transform: rotate(0deg);
	}
	.dropdown-list {
		display: none;
		position: absolute;
		background-color: #fff;
		border: 2px solid #000;
		padding: 10px 25px;
		right: -1px;
    	top: 56px;
    	z-index: 50;
    	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		li {
			padding: 7px 0;
			a {
				color: #000;
				transition: all 0.3s ease-out;
				&:hover {
					color: $main_blue;
				}
			}
		}
	}
}




//fix_bug

.js-scroll-opasity {
	position: relative;
	margin: 0 15px;
}

.js-menu-category {
	width: 100%;
	z-index: 1;
}


.ps-container > .ps-scrollbar-y-rail {
	opacity: 1 !important;
}

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
	width: 3px  !important;
	right: 10px !important;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: grey !important;
	right: 10px !important;
}
.ps-container > .ps-scrollbar-y-rail {
	width: 3px !important;
	background-color: transparent !important;
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	width: 3px !important;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { width: 3px !important; }

.form-error {
	display: none;
}

.js-no-popup .has-error {
	border-color: red !important;
}
.js-no-popup .error {
	border: none;
}
.error {
	border-bottom-color: red !important;
}
.like {
	width: 20px !important;
}
.js-slider-init-youtube{
	iframe{
		width: 100% !important;
		height: 100% !important;
	}
}
.structure_inner .article-wrapp.inner-page-content .article-wrapp-info{
	top: -55px;
}
.text-message{
	color: green;
	margin-bottom: 10px;
}
.has-error{
	border-color: red !important;
}
.menu_categories-content .card .card-title{
	max-height: 103px;
}

.article-wrapp .article-wrapp-bg:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}