@media (max-width: 1330px) {
	.wrapp_first-screen, .wrapp_slider, .wrapp_cards-block-1{
		margin: 0;
		padding-left: 10px;
		padding-right: 10px; 
	}
	.wrapp_slider-video-bg-black .wrapp_slider {
		padding-left: 25px;
		padding-right: 25px;
	}
	.wrapp_page {
		margin: 0 20px;
	}
	.go_top {
		display: none;
	}
}

@media (max-width: 1150px) {
	//header
	.wrapp_header {
		.menu_categories {
			display: none;
			li:first-child {
				padding-left: 25px;
			}
			li:last-child {
				padding-right: 25px;
			}
			li {
				font-size: 1.3rem;
			}
		}
	}

	header {
		padding: 0 20px;
	}
	//end header
	
	//-------------------------------------------------

	//first-screen
	.wrapp_cards {
		flex-basis: 68%;
		.card-vertical {
			flex-basis: 33%;
		}
		a.card:last-of-type { 
			display: block;
			width: 29%;
		}	
		.card-big {
			flex-basis: 100%;
		}
		.wrapp_whats-up {
			li  {
				padding-right: 10px;
				line-height: 1.4;
				img {
					margin-right: 5px;
				}
			}
		}
	}
	.wrapp_sidebar {
		flex-basis: 32%;
		h4 {
			margin: 28px 15px 20px;
		}
	}
	

	//end first-screen

	//-------------------------------------------------
	
	//cards-block-1
	.wrapp_cards-block-1 {
		.card {
			flex-basis: 30%;
			flex-grow: 1;
			&:last-child {
				display: none;
			}
			&:nth-last-child(2) {
				display: none;
			}
		}
	}
	//end cards-block-1

	//-------------------------------------------------

	//footer
	.wrapp_footer {
		padding: 0 20px;
		.footer-menu {
			.footer-menu_logo {
				display: none;
			}
			.email {
				padding-right: 20px;
				.email-input {
					width: 200px;
				}
			}
		}
		.footer-info {
			.copyrat {
				flex-basis: 20%;
			}
			.block-info {
				flex-basis: 65%;
				padding-right: 40px;
			}
			.made-in {
				flex-basis: 15%;
			}
		}
	}
	//end footer

	.wrapp_burger_menu {
		.burger_menu {
			width: 100%;
			text-align: center;
			padding-left: 10px;
			.burger_menu-big-mobile {
				display: block;
			}
			.burger_menu-small {
				display: none;
			}
			.burger_menu-big {
				padding-bottom: 60px;
				li {
					padding-bottom: 25px;
					a {
						font-size: 2rem;
						letter-spacing: 1px;
						color: #000;
						font-family: $font_m;
					}
					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.wrapp_cards a.card:last-of-type {
		display: none;
	}
}
@media (max-width: 860px) {
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_cards,.wrapp_sidebar {
		flex-basis: 100%;
	}
	.wrapp_sidebar {
		flex-direction: row;
		.wrapp_baner {
			flex-basis: 48%;
			.banner {
				max-height: none;
			}
		}
		.wrapp_top-news {
			flex-basis: 46%;

		}
	}
	.wrapp_slider-categories-bg-grey .wrapp_tabs-categories p.all {
		display: none;
	}
}

@media (max-width: 768px) {
	.wrapp_slider .wrapp_slider-content .card-horizontal-full_bg .wrapp-content .card-category {
		padding: 25px 0 50px;
	}
	.wrapp_footer{
		.social_links {
			text-align: right;
			li {
				display: block;
				padding: 10px 0 10px 10px;
			}
		}
	}
	
}

@media (max-width: 700px) {
	.wrapp_page {
		padding-top: 0;
	}
	header {
    	padding: 0;
	}
	.wrapp_burger_menu {
		.burger_menu {
			.user_panel {
				display: block;
			}
		}
	}
	.wrapp_header {
    	.burger {
			right: 20px;
			left: auto;
			top: 22px;
		}
		.logo {
			.wrapp_svg {
				width: 60%;
    			margin: 20px;
			}
		}
		.user_panel {
			display: none;
		}
		
	}
	.card-vertical {
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: none; 
		.wrapp-img {
			max-height: none !important; 
		}
	}

	.wrapp_footer{
		.social_links {
			text-align: center;
			li {
				display: inline-block;
				padding: 0 30px 0 0;
			}
		}
	}
	
	.wrapp_cards .card-big {
		min-height: 330px;
		padding: 0 24px 15px;
	}
	.wrapp_cards .wrapp_whats-up, .wrapp_slider-video-bg-black .wrapp_slider-title .all {
		display: none;
	}
	.card-big .card-title {
		font-size: 3rem;
	}
	.wrapp_sidebar, .card-vertical, .wrapp_top-news,.wrapp_baner {
		flex-basis: 100% !important;
	}
	.wrapp_slider {
		.wrapp_slider-content {
			.card-horizontal {
				padding-right: 0;
				margin-bottom: 30px;
				.wrapp-content {
					position: relative;
					padding-left: 10px;
					.card-title {
						padding: 0 0 10px;
						max-height: 62px;
						overflow: hidden;
					}
		// 			.card-category {
					//     padding: 10px 0 15px;
					// }
				}
			}
			.card-horizontal-full_bg .wrapp-bg {
				z-index: 0;
				width: 100%;
			}
			a.card:nth-child(n+7) {
				display: none;
			}
		}
	}
	.wrapp_slider-categories-bg-grey {
		.wrapp_tabs-categories {
			overflow: auto;
			width: 100%;
			white-space: nowrap;
			padding: 0 0 30px;
			position: relative;
			.tabs-categories {

				li {
					padding: 10px 15px 10px 0px;
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
	.card-horizontal .wrapp-content {
		flex-basis: auto;
	}
	.card .card-bg {
		z-index: 0;
	}
	.card  {
		.card-category, .card-title, .card-date_like {
			z-index: 10;
			position: relative;
		}
	}
	.wrapp_slider-video-bg-black {
		.wrapp_slider-content {
			a.card:nth-child(n+4) {
				display: none;
			}
			.card-vertical  {
				width: auto;
				.video-play {
					top: 33%;
				}
			}
			.card{
				margin: 35px 0;
				max-height: none;
				display: block;
			}
			.card-big {
				width: auto;
				flex-basis: 100%;
				padding-left: 15px; 
				margin: 0;
				.video-play {
					display: none;
				}
			}
		}
	}

	.wrapp_footer {
		.footer-menu {
			flex-direction: column;
			align-items: stretch;
			text-align: center;
			padding: 40px 0 60px;
			.footer-menu_categories {
				padding: 0;
				a {
					font-size: 1.8rem;
				}
			}
			.footer-menu_main-info {
				display: none;
			}
			.email {
				text-align: left;
				padding:  50px 0;
				width: 300px;
				margin: 0 auto;
				.email-title {
					font-size: 1.8rem;
				}
				.email-input {
					width: 100%;
					max-width: 300px;
					margin: 0 auto;
					display: block;
				}
			}
		}
		.footer-info {
			flex-direction: column;
			align-items: stretch;
			text-align: center;
			p {
				font-size: 1.8rem;
			}
			.block-info {
				display: none;
			}
			.footer-menu_logo {
				display: block;
				padding-top: 60px;
			}
			.copyrat {
				padding-bottom: 25px;
			}
		}
	}
	.search-wrapp  {
		.search-content {
			.search-pop  {
				ul {
					display: block;
					width: 100%;
				}
			}
			form {
				input[type=radio]+label {
					width: 50%;
    				display: inline-block;
				}
			}
		}
	}
	
}


@media (max-width: 480px) {
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_popup {
		.wrapp_popup_window { 
			h3 {
				padding: 0 20px;
			}
			.text-note {
				padding: 40px 20px 20px;
			}
			form  {
				padding: 0 20px;
				label {
					left: 20px;
				}
			}
		}
		
	}	
	.search-wrapp  {
		.search-content {
			form {
				margin-top: 30px;
				.input-border-bottom {
					font-size: 2.8rem;
					padding: 7px 0;
					// margin: 25px 0;
				}
				.input-border-bottom+label {
					font-size: 2.8rem;
					margin-top: -60px;
				}
				.input-border-bottom:focus + label {
					margin-top: -85px;
					font-size: 1.8rem;
				}
				.input-border-bottom-value + label {
					margin-top: -85px;
					font-size: 1.8rem;
				}
			}
		}
	}

}

@media (max-width: 325px) {
	.wrapp_footer .footer-menu .email .email-input {
		max-width: 290px;
	}
}
