@media (max-width: 1330px) {
	.wrapp_first-screen, .wrapp_slider, .wrapp_cards-block-1, .filters-wrapp, .breadcrumbs, {
		margin: 0;
		padding-left: 10px;
		padding-right: 10px; 
	}
	header, .wrapp_footer {
		padding-left: 25px;
		padding-right: 25px; 
	}
	.breadcrumbs {
		padding-left: 20px;
	}
	.wrapp_slider-video-bg-black .wrapp_slider {
		padding-left: 25px;
		padding-right: 25px;
	}
	.wrapp_page {
		margin: 0 20px;
	}
	.go_top {
		display: none;
	}
	.company-content-wrapp {
		padding-left: 20px;
		width: 700px;
	}
	.company-contact  {
		right: 5%;
	}
	.company-content-wrapp .content-block .content-right .gallery_foto .wrapp-img {
		flex-basis: 29%;
	}
	.company-content-wrapp .content-block .content-right .card-wrapp .card {
		flex-basis: 43%;
	}
	.specialist-page-first-screen .article-wrapp-info .wrapp-info .foto {
		left: 15px;
	}
	.article-wrapp .article-wrapp-info .panel_dop .add_favorites {
		padding-left: 20px;
	}
	.specialist-page-first-screen .article-wrapp-info .breadcrumbs {
		padding-left: 20px;
	}
	.filters-wrapp h2 {
		left: 20px;
	}
	.filters-wrapp .dropdown {
		right: 20px;
	}
}
@media (max-width: 1300px) { 
	//5-0
	.search {
		.search-left {
			form {
				padding-left: 20px;
				padding-right: 20px;
				.search-btn {
					right: 35px;
				}
			}
			.search-resault {
				.sum-resault, .search-resault-none {
					padding-left: 20px;
					padding-right: 20px;
				}
				.search-resault-wrapp {
					.card-horizontal {
						margin-left: 20px;
						.wrapp-img {
							flex-basis: 30%;
							max-width: none;
						}
						.wrapp-content {
							flex-basis: 70%;
						}
					} 
				}
			}
		}
	}
	//5-0

	//page4-0

	.title-page-wrapp, .error-404, .map-site {
		padding: 20px 20px 35px;
	}
	.favourites-menu {
		padding: 0 20px;
	}
	.favourites {
		.favourites-right {
			.favourites-content {
				.wrapp_tabs-content {
					.wrapp_slider-content {
						.card {
							flex-basis: 29%;
							flex-grow: 1;
						}
						.card-full_bg {
							.card-title	 {
								margin-top: 250px;
							}
						}
						.card-horizontal {
							flex-basis: 46%;
						}
					}
				}
			}
		}   	
	}
	//end 4-0
}
@media (max-width: 1279px) { 
	.wrapp_sidebar h4 {
		margin: 38px 15px 13px 0;
	}
}
@media (max-width: 1250px) {
	.block-right {
		display: none;
	}
	//5-0
	.search {
		.search-left {
			.search-resault {
				.search-resault-wrapp {
					.card-horizontal {
						.wrapp-img {
							flex-basis: 30%;
							max-width: none;
						}
					}
				}
			}
		}
	}
	//5-0
	.wrapp_footer {
		.footer-menu {
			.social_links {
				li {
					padding-right: 15px;
					&:last-child {
						padding-right: 0px;
					}
				}
			}
			.email {
				padding-right: 30px;
			}
		}
	}

	.cards-block-sport-articles-float{
		width: 65%;
	}

	.block-link-offer-apply{
		width: 27%;
	}

	.block-link-offer-apply .btn-link-contract-offer, .block-link-offer-apply .btn-link-apply-now{
		padding: 8px 3px;
	}
	
 }

@media (max-width: 1150px) {

	.wrapp_footer {
		.footer-menu {
			.social_links {
				li {
					padding-right: 30px;
				}
			}
		}
		.email {
			padding-right: 60px;
		}
	}
	.user_panel {
		bottom: 0;
		top: 0;
		margin: auto;
		height: 22px;
	}
	.wrapp_header .burger {
		bottom: 0;
		top: 0;
		margin: auto;
		height: 18px;
	}
	//page 1-8
	.favourites {
		flex-wrap: wrap;
		.favourites-left {
			flex-basis: 100%;
			.favourites-menu {
				text-align: center;
				li {
					display: inline-block;
					padding: 10px;
				}
			}
		}
		.favourites-right {
			flex-basis: 100%;
			width: 100%;
			.favourites-content {
				margin-top: 40px;
			}
		}
		.personal_data {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			margin-top: 80px;

			.favourites-right_left {
				
			}
			.favourites-right_right {
				
			}
		}
	}
	.company-contact {
		width: 350px;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .left-content {
		display: none;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .right-content {
		padding-left: 0;
	}
	.filters-wrapp {
		padding-left: 25px;
		padding-right: 25px; 
	}
	.breadcrumbs {
		padding-left: 25px;
		padding-right: 25px; 
	}
 //end page 1-8
	//header
	.wrapp_header {
		.menu_categories {
			display: none;
			li:first-child {
				margin-left: 20px;
			}
			li:last-child {
				margin-left: 20px;	
			}
			li {
				font-size: 1.3rem;
			}
		}
	}

	header {
		padding: 0 20px;
	}
	.fixPaddingMenu {
		padding-top: 117px !important;
	}
	.fixedMenu {
		.wrapp_header {
			.logo {
				display: block;
			}
			.user_panel {
				top: 0px;
				.user {
					display: inline-block;
				}
			}
			.burger {
	    		top: 0px;
			}
		}
	}
	//end header
	
	//-------------------------------------------------

	//first-screen
	.wrapp_cards {
		flex-basis: 68%;
		.card-vertical {
			flex-basis: 33%;
		}
		div.card:last-of-type { 
			display: block;
			width: 29%;
		}	
		.card-big {
			flex-basis: 100%;
		}
		.wrapp_whats-up {
			li  {
				padding-right: 10px;
				line-height: 1.4;
				img {
					margin-right: 5px;
				}
			}
		}
		
	}
	.card-full_bg .card-title {
			margin-top: 300px;
	}
	.wrapp_sidebar {
		flex-basis: 32%;
		h4 {
			margin: 28px 15px 20px 0;
		}
	}
	

	//end first-screen

	//-------------------------------------------------
	
	//cards-block-1
	.wrapp_cards-block-1 {
		.card {
			flex-basis: 30%;
			flex-grow: 1;
		}
	}
	//end cards-block-1

	//-------------------------------------------------

	//footer
	.wrapp_footer {
		.footer-menu {
			.footer-menu_logo {
				display: none;
			}
			.email {
				padding-right: 20px;
				.email-input {
					width: 200px;
				}
			}
		}
		.footer-info {
			.copyrat {
				flex-basis: 20%;
			}
			.block-info {
				flex-basis: 65%;
				padding-right: 40px;
			}
			.made-in {
				flex-basis: 15%;
			}
		}
	}
	//end footer

	.wrapp_burger_menu {
		.burger_menu {
			width: 100%;
			text-align: center;
			padding-left: 10px;
			padding-top: 70px;
			padding-bottom: 10px;
			.burger_menu-big-mobile {
				display: block;
			}
			.burger_menu-small, .burger_menu-big {
				display: none;
			}
			.burger_menu-big {
				li {
					padding-bottom: 25px;
					a {
						font-size: 2rem;
						letter-spacing: 1px;
						color: #000;
						font-family: $font_m;
					}
					&:last-child {
						padding-bottom: 0;
					}
				}
			}
			.wrapp-menu-mobile {
				display: block;
				margin-bottom: 90px;
				.burger_menu-big { 
					display: block;
				}
			}
		}
		.social_links {
			position: relative;
			margin-bottom: 80px;
			// margin: 0 auto;
			// left: 0;
			// right: 0;
		}
	}
	//1-0page
	
	// .even-last-child .card:last-child, .even-last-child .card:nth-last-child(2) {
	// 	display: flex;
	// }
	// .odd-last-child .card:last-child, .odd-last-child .card:nth-last-child(3) {
	// 	display: none;
	// }

	//1-0page

	.content-wrapp {
		.block-left {
			position: relative;
			padding: 30px 0 0;
			margin: 0 auto;
		}
	}

	//1-8 page 
	// .article-wrapp .article-wrapp-bg {
	// 	height: 580px;
	// }
	.structure_inner .sticky-container {
		padding: 0 15px;
	}
	.company-content-wrapp {
		width: 610px;
		.menu {
			padding: 40px 0;
		}
		.content-block {
			flex-wrap: wrap;
			.content-left {
				flex-basis: 100%;
				margin-bottom: 30px;
				h3 {
					display: inline-block;
				}
				ul {
					display: inline-block;
					margin-left: 30px;
					margin-top: 0;
					li {
						display: inline-block;
						padding-right: 30px;
						&:last-child {
							padding-right: 0;
						}
					}
				}
				.logo {
					padding-right: 20px;
				}
			}
			.content-right {
				flex-basis: 100%;
			}
		}
		.content-block.first-block {
			flex-wrap: nowrap;
			.content-left {
				flex-basis: 25%;
				h3 {
					display: none;
				}
			}
		}
	}
	.company-contact {
		right: 1%;
	}
	
	.specialist-page-first-screen .article-wrapp-info .breadcrumbs {
		padding-bottom: 70px;
	}
	.card-vertical {
		min-height: 550px;
		max-height: 550px;
		.wrapp-img {
			max-height: 350px;
		}
	}

	.cards-block-sport-articles-float .tags{
		width: 65%;
	}

	.block-link-offer-apply {
		width: 35%;
	}

	.wrapp_header .dop_logo{
		display: none;
	}
}


@media (max-width: 1090px) {
	.filters-wrapp {
		flex-direction: column;
		margin-bottom: 25px;
		h2 {
			position: relative;
			left: 0;
		}
		.filters-li {
			li {
				margin-right: 10px;
			}
		}	 
		.dropdown {
			display: none;
		}
	}
}

@media (max-width: 1057px) {
	// .specialist-page-first-screen .article-wrapp-info .wrapp-info h1 {
	// 	height: 140px;
	// }
	.specialist-page-first-screen .article-wrapp-info .wrapp-info {
		padding-bottom: 81px;
	}
}



@media (max-width: 1024px) {
	
	.search {
		.search-right {
			display: none;
		}
		.search-left {
			flex-basis: 100%;
			.search-resault .search-resault-wrapp .card-horizontal .wrapp-content {
				flex-basis: 70%;
			}
		}
	}
	.content-wrapp .block-center-text .subscribe {
		display: none;
	}
	.odd-last-child .card:last-child {
		display: block;
	}
	.even-last-child .card:last-child, .even-last-child .card:nth-last-child(2) {
		display: none;
	}
	.cards-block-sport {
		.card-horizontal {
			flex-basis: 40%;
			.wrapp-img {
				flex-basis: 35%;
			}
			.wrapp-content {
				flex-basis: 65%;	
			}
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				flex-basis: 100%;	
			}
		}
	}
	.block-filters .item-filter p {
		max-width: 130px;
	}
}

.content-wrapp .block-center-text:first-child{
	padding: 30px 0 0 0;
}

@media (max-width: 1020px) {
	.auth {
		padding: 30px 20px 0
	}
	.company-contact {
		// position: relative !important;
		// top: 0 !important;
		// right: 0 !important;
		float: none;
		margin: 30px auto 0;
		width: 385px;
	}

	.content-wrapp .block-center-text:first-child{
		padding: 50px 20px 0 20px;
	}

	.company-content-wrapp {
		width: 96%;
	}
	
	.comments-wrapp .comments-wrapp-content .comments-col {
		display: none;
	}
	.content-wrapp .block-center-text {
		padding: 30px 20px 0;
	}

	.content-wrapp .block-left:first-child+.block-center-text {
		padding: 40px 20px 0;
	}

	.content-wrapp .block-center-text p:last-child{
		padding-bottom: 0;
	}
	.content-wrapp .block-center-text p.line-bottom{
		padding: 0 0 45px 0;
		margin-bottom: 20px;
	}

	.block-center-text + .block-center-img-50{
		margin-top: 40px;
		margin-bottom: 10px;
		padding: 0;
	}

	.block-center-text + .block-left{
		padding: 30px 0 0;
	}
	.content-wrapp .block-left a{
		padding: 0;
	}

	.content-wrapp .block-center-text h2{
		padding: 20px 0 5px;
		line-height: 1.2;
	}

	.content-wrapp .block-center-img-50 figcaption{
		padding: 20px 20px 0 20px;
	}

	.content-wrapp .auth-foto{
		padding: 30px 20px 0 20px;
	}

	.wrapp_footer{
		.footer-menu  {
			.social_links {
				text-align: right;
				li {
					display: block;
					padding: 10px 0 10px 10px;
				}
			}
		}
	}
	.article-wrapp .article-wrapp-info .panel_dop .add_favorites, .article-wrapp .article-wrapp-info .panel_dop .all_article{
		padding-left: 0;
	}

	.article-wrapp .article-wrapp-info .panel_dop .all_article svg{
		margin-right: 0;
	}

	.content-wrapp .block-center-img-50+.block-center-text{
		padding: 0 20px 20px;
	}

	.container-scroll-top{
		display: none !important;
	}

	.article-wrapp .article-wrapp-info .panel_dop .share{
		text-align: center;
	}

	.article-wrapp .article-wrapp-info .panel_dop .add_favorites .heart{
		margin-right: 0;
	}

	.box-read-more_txt{
		padding: 35px 20px 0;
	}

	.comments-wrapp{
		margin-top: 30px;
	}

	.wrapp_cards-block-1{
		padding-top: 10px;
	}

	.wrapp_popup{
		//position: absolute;
		-webkit-overflow-scrolling: touch;
		.wrapp_popup-contener{
			padding-bottom: 70px;
		}
	}

	.comments-wrapp-content{
		.container-comments{
			padding-top: 80px;
		}
	}

	.wrapp_slider .wrapp_slider-content .card-horizontal{
		min-height: inherit;
		max-height: inherit;
	}

	.wrapp_slider .wrapp_slider-content .card-horizontal .wrapp-content{
		max-height: inherit;
	}

	.block-center-text iframe{
		width: 100%;
	}
}

@media (max-width: 980px) {
	.cards-block-sport-articles-float{
		width: 100%;
		margin-bottom: 25px;
	}
	.block-link-offer-apply{
		width: 100%;
	}
	.block-float-right{
		float: left;
	}
	.cards-block-sport-articles-float .tags{
		margin-bottom: 15px;
	}
}

@media (max-width: 936px) {
	.block-filters {
		display: none;
	}
	.block-filters-mobile {
		display: block;
	}
	.wrapp_cards-block-1  {
		.card-vertical {
			.wrapp-img {
				max-height: 415px;
			}
		}
		.card-full_bg {
			.card-title {
				margin-top: 400px;
			}
		}
	}
	.favourites {
		.favourites-right {
			.favourites-content {
				.wrapp_tabs-content {
					.wrapp_slider-content {
						.card-horizontal {
							.card-title {
								padding: 0;
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}   	
	}
	.wrapp-map-site_row-subsections .wrapp-map-site_row-subsection_list{
		width: 30%;
	}


	.block-btn-add-comp .btn-size-225{
		float: left;
	}

	.block-btn-add-comp{
		float: none;
	}

	.cards-block-sport-articles-float .tags{
		margin-bottom: 15px;
	}
}

@media (max-width: 860px) {
	.card-vertical {
		
		.wrapp-img  {
			max-height: 390px;
		}
	}
	.wrapp_cards div.card:last-of-type {
		display: none; 
	}
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_cards,.wrapp_sidebar {
		flex-basis: 100%;
	}
	.wrapp_sidebar {
		flex-direction: row;
		.wrapp_baner {
			flex-basis: 48%;
			.banner {
				max-height: none;
			}
		}
		.wrapp_top-news {
			flex-basis: 46%;

		}
	}
	.wrapp_slider-categories-bg-grey .wrapp_tabs-categories p.all {
		display: none;
	}
}

@media (max-width: 768px) {
	.wrapp_slider .wrapp_slider-content .card-horizontal-full_bg .wrapp-content .card-category {
		padding: 25px 0 50px;
	}
	.wrapp_footer {
		.footer-menu {
			.footer-menu_categories {
				padding-right: 30px;
			}
			.footer-menu_main-info {
				padding-right: 40px;
			}
		}
	}  
	.favourites {
		.favourites-right {
			.favourites-content {
				.wrapp_tabs-content {
					.wrapp_slider-content {
						.card-horizontal {
							flex-basis: 100%;
						}
					}
				}
			}
		}   	
	}
	.wrapp-map-site_row-section, .wrapp-map-site_row-subsections, .wrapp-map-site_row-section{
		width: 100%;
	}
	.wrapp-map-site_row-section{
		padding-bottom: 20px;
	}
	.line-subsections{
		margin-bottom: 30px;
	}
	.wrapp-map-site_row-subsections{
		padding-bottom: 0;
	}
	body{
		word-wrap: break-word;
	}

    .article-wrapp .article-wrapp-info .panel_dop .share{
      margin-bottom: 25px;
    }
}

@media (max-width: 700px) {
	.structure_inner {
		&.inner_align-left  {
			.article-wrapp {
				.article-wrapp-info {
					h1 {
						padding: 0px 0px 30px 0px;
					}
				}
			}
			.breadcrumbs {
				text-align: center;
			}
		}
	}
	.company-wrapp .adress {
		padding: 0 10px 100px;
	}
	.article-wrapp .article-wrapp-info .card-date_like {
		padding-bottom: 65px;
	}

	header {
		padding-left: 0px;
		padding-right: 0px; 
	}
	.dop_logo {
		display: none !important;
	}
	.burger {
		display: block !important;
	}
	.fixPaddingMenu {
		padding-top: 0 !important;
	}
	.search {
		.search-left {
			form {
				ul {
					li {
						display: block;
					}
				}
			}
			.search-resault {
				.search-resault-wrapp {
					.card-horizontal {
						a {
							flex-direction: column;
							align-items: center;
							.wrapp-img {
								margin-bottom: 30px;
							}
							.wrapp-content {
								padding-left: 0;
								margin-bottom: 40px;
							}
						}
					}
				}
			} 		
		}
	} 
	.favourites {
		.favourites-right {
			.favourites-content {
				.wrapp_tabs-content {
					.wrapp_slider-content {
						.card-full_bg {
							.card-title {
								margin-top: 350px;
							}
						}
					}
				}
			}
		}
	}     
	.wrapp_cards-block-1 .card-vertical {
		max-height: none;
		min-height: 0;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .right-content .wrapp-img img, .gallery-wrapp .gallery-wrapp-content .gallery .right-youtube-gallery .wrapp-img div {
		height: 30rem;
	}
	.article-wrapp .article-wrapp-info .panel_dop .all_article {
		text-align: center;
		margin-top: 20px;
	}
	.content-wrapp .block-center-img-100 figcaption {
		text-align: center;
	}
	.content-wrapp .block-center-img-big-100 figcaption {
		text-align: center;
	}
	.content-wrapp .block-center-img-50 img {
		padding: 0;
	}
	.wrapp_page {
		padding-top: 0;
	}
	header {
		padding: 0;
	}
	.wrapp_burger_menu {
		.burger_menu {
			.user_panel {
				display: block;
				bottom: 0;
				top: 25px;
				margin: 0;
			}
		}
	}
	.wrapp_header {
		.burger {
			right: 20px;
			left: auto;
			top: 0;
		}
		.logo {
			.wrapp_svg {
				width: 60%;
				margin: 22px 20px 15px;
			}
		}
		.user_panel {
			display: none;
		}
		
	}
	.card-vertical {
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: none !important;
		min-height: 0 !important;
		.wrapp-img {
			max-height: none !important; 
		}
	}

	.wrapp_footer{
		.footer-menu {
			.social_links {
				text-align: center;
				li {
					display: inline-block;
					padding: 0 30px 0 0;
				}
			}
		}
	}
	
	.wrapp_cards .card-big {
		min-height: 500px;
		padding: 0 24px 15px;
	}
	.wrapp_cards .wrapp_whats-up, .wrapp_slider-video-bg-black .wrapp_slider-title .all {
		display: none;
	}
	.card-big .card-title {
		font-size: 3rem;
	}
	.wrapp_sidebar, .card-vertical, .wrapp_top-news,.wrapp_baner {
		flex-basis: 100% !important;
	}
	.wrapp_slider {
		.wrapp_slider-content {
			.card-horizontal {
				padding-right: 0;
				margin-bottom: 30px;
				.wrapp-content {
					position: relative;
					padding-left: 10px;
					.card-title {
						margin: 0 0 10px;
						padding: 0;
						max-height: 62px;
						overflow: hidden;
					}
				}
			}
			.card-horizontal-full_bg .wrapp-bg {
				z-index: 0;
				width: 100%;
			}
			.card-horizontal-full_bg .wrapp-img-bg-h { 
				width: 100%;
			}
			a.card:nth-child(n+7) {
				display: none;
			}
		}
	}
	.wrapp_slider-categories-bg-grey {
		.wrapp_tabs-categories {
			overflow: auto;
			width: 100%;
			white-space: nowrap;
			padding: 0 0 30px;
			position: relative;
			.tabs-categories {

				li {
					padding: 10px 15px 10px 0px;
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
	.card-horizontal .wrapp-content {
		flex-basis: auto;
	}
	.card .card-bg {
		z-index: 0;
	}
	.card  {
		.card-category, .card-title, .card-date_like {
			z-index: 10;
			position: relative;
		}
		.card-date_like {
			padding-bottom: 20px;
			bottom: 0;
		}
	}
	.wrapp_slider-video-bg-black {
		.wrapp_slider-content {
			a.card:nth-child(n+4) {
				display: none;
			}
			.card-vertical  {
				width: auto;
				.video-play {
					top: 33%;
				}
			}
			.card{
				margin: 35px 0;
				max-height: none;
				display: block;
			}
			.card-big {
				width: auto;
				flex-basis: 100%;
				padding-left: 15px; 
				margin: 0;
				.video-play {
					display: none;
				}
			}
		}
	}

	.wrapp_footer {
		.footer-menu {
			flex-direction: column;
			align-items: stretch;
			text-align: center;
			padding: 40px 0 60px;
			.footer-menu_categories {
				padding: 0;
				a {
					font-size: 1.8rem;
				}
			}
			.footer-menu_main-info {
				display: none;
			}
			.email {
				text-align: left;
				padding:  50px 0;
				width: 300px;
				margin: 0 auto;
				.email-title {
					font-size: 1.8rem;
				}
				.email-input {
					width: 100%;
					max-width: 300px;
					margin: 0 auto;
					display: block;
				}
			}
		}
		.footer-info {
			flex-direction: column;
			align-items: stretch;
			text-align: center;
			p {
				font-size: 1.8rem;
			}
			.block-info {
				display: none;
			}
			.footer-menu_logo {
				display: block;
				padding-top: 60px;
			}
			.copyrat {
				padding-bottom: 25px;
			}
		}
	}
	.search-wrapp  {
		.search-content {
			.search-pop  {
				ul {
					display: block;
					width: 100%;
				}
			}
			form {
				input[type=radio]+label {
					width: 100%;
					display: block;
					margin-top: 0;
				}
			}
		}
	}

	//1-0page
	.cards-block-sport { 
		.card {
			flex-basis: 100%;
		}
		.card-horizontal {
			// max-height: 200px;
			// height: 200px;
			.wrapp-img {
				flex-basis: 30%;
			}
			.wrapp-content {
				flex-basis: 70%;
			}
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				flex-basis: 100%;
			}
		}
		
	}
	
	//1-0page

	//1-8page
	.article-wrapp {
		// .article-wrapp-bg {
		// 	height: 580px;
		// }
		.article-wrapp-info {
			.panel_dop {
				flex-direction: column-reverse;
				align-items: center;
				.add_favorites {
					margin-top: 15px;
				}
			}
		}
	}
	.company-content-wrapp  {
		.content-block {
			padding: 30px 0;
			.content-left {
				ul {
					display: none;
				}
			}
		}
		.content-block.first-block {
			flex-wrap: wrap;
			.content-left {
				flex-basis: 100%;
				h3 {
					display: inline-block;
				}
				img {
					display: none;
				}
				
			}
			.content-right {
				flex-basis: 100%;
			}
		}
	}
	.content-right  .card-horizontal .wrapp-img {
		flex-basis: 30%;
	}
	.content-right  .card-horizontal .wrapp-content {
		flex-basis: 70%;
	}
	//1-8page

	.specialist-page-first-screen .article-wrapp-info .wrapp-info .foto {
		display: none;
	}
	.specialist-page-first-screen .article-wrapp-info .wrapp-info {
		text-align: center;
		padding: 0 20px 132px 20px;
	}
	.specialist-page-first-screen .article-wrapp-info .breadcrumbs {
		padding-bottom: 30px;
		text-align: center;
	}
	.content-wrapp  {
		.block-supported {
			text-align: center;
			padding: 90px 10px;
			.sup-wrapp {
				.sup-text-wrapp {
					.btn {
						margin: 15px auto;
					}
				}
			} 
		}
	}

	.specialists {
		.card-horizontal {
			.wrapp-img {
				.wrapp-img-bg-h, img {
					width: 90%;
				}
			}
		}
	}
	.content-wrapp .block-center-img-50 .slider .slider_arrow {
		    top: 0;
	}
	.content-wrapp .block-center-citation .slider .slider_arrow, .content-wrapp .block-center-img-50 .slider .slider_arrow{
		height: 100%;
	}

	.specialist-page-first-screen .article-wrapp-info{
		text-align: center;
	}

}

@media (max-width: 650px) {
	.wrapp-map-site_row-subsections .wrapp-map-site_row-subsection_list{
		width: 100%;
	}
}

@media (max-width: 542px) {
	.content-wrapp .block-center-citation .slider .slider_arrow, .content-wrapp .block-center-img-50 .slider .slider_arrow{
		height: 100%;
	}
	.content-wrapp .block-center-img-50 .slider .slider_arrow {
		    top: 0;
	}
	.company-content-wrapp .content-block .content-right .gallery_foto .wrapp-img {
		flex-basis: 45%;
	}
	.company-content-wrapp .content-block .content-right .card-wrapp .card {
		flex-basis: 100%;
	}
	.company-content-wrapp .content-block .content-right .sertif div {
		flex-basis: 100%;
	}
	.company-contact {
		margin: 45px auto 0;
	}
	.company-content-wrapp .content-block .content-right .trainers .card-horizontal .wrapp-img {
		flex-basis: 30%;
	}
	.article-wrapp .article-wrapp-info h1 {
		font-size: 4.5rem;
	}

	.slick-list {
		min-height: 300px;
	}
}



@media (max-width: 480px) {
	.content-wrapp .block-center-img-50 .slider .slider_arrow {
		 top: 0;
	}
	.block-filters-mobile .block-filters-mobile-footer .reset-filter {
		display: block;
		padding: 17px 5px 5px;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .right-content .wrapp-img img, .gallery-wrapp .gallery-wrapp-content .gallery .right-youtube-gallery .wrapp-img div {
		height: 25rem;
	}
	.gallery-wrapp .gallery-wrapp-content .gallery .wrapp_close {
		right: 0;
	}
	.content-wrapp .block-supported .sup-wrapp .sup-text-wrapp {
		padding-left: 0px;
	}
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_popup {
		.wrapp_popup_window { 
			h3 {
				padding: 0 20px;
			}
			.text-note {
				padding: 40px 20px 20px;
			}
			form  {
				padding: 0 20px;
				label {
					left: 20px;
				}
			}
		}
		
	}	
	.search-wrapp  {
		.search-content {
			form {
				margin-top: 30px;
				.input-border-bottom {
					font-size: 2.8rem;
					padding: 7px 0;
					// margin: 25px 0;
				}
				.input-border-bottom+label {
					font-size: 2.8rem;
					margin-top: -60px;
				}
				.input-border-bottom:focus + label {
					margin-top: -85px;
					font-size: 1.8rem;
				}
				.input-border-bottom-value + label {
					margin-top: -85px;
					font-size: 1.8rem;
				}
			}
		}
	}

	//1-0page
	.cards-block-sport { 
		.card {
			flex-basis: 100%;
		}
		.card-horizontal {
			max-height: none;
			height: auto;
			.wrapp-img {
				flex-basis: 45%;
			}
			.wrapp-content {
				flex-basis: 50%;
			}
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				flex-basis: 100%;
			}
		}
		
	}
	
	//1-0page

	//1-8page 
	.company-contact {
		width: 90%;
	}
	.company-content-wrapp .content-block .content-right .gallery_foto .wrapp-img {
		flex-basis: 43%;
	}
	//1-8page end 
	.filters-wrapp .filters-li li {
		display: block;
		text-align: center;
		margin: 0;
		padding: 10px 0;
	}
	.filters-wrapp .filters-li li.active:after {
		text-align: right;
    	top: 12px;
		content: '';
	}
	.favourites .favourites-left .favourites-menu li {
		display: block;
	}

	.form-content{
		padding: 0 20px !important;
	}
}

@media (max-width: 450px) {
	.cards-block-sport {
		.card-horizontal {
			.wrapp-content {
				.dop_info {
					display: none;
				}
				.card-description {
					display: none;
				}
			} 
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				.card-description {
					display: block;
				}
			} 
		}
	} 

}

@media (max-width: 400px) {
	.slick-list{
		min-height: 200px;
	}
}

@media (max-width: 380px) {
	.content-wrapp .block-center-img-50 .slider .slider_arrow {
		top: 0;
	}
	.block-link-offer-apply .btn-link-contract-offer{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.block-link-offer-apply .btn-link-apply-now{
		width: 100%;
		text-align: center;
		margin-left: 0;
	}
}

@media (max-width: 325px) {
	.wrapp_footer .footer-menu .email .email-input {
		max-width: 290px;
	}
	//1-0page
	.cards-block-sport { 
		padding-left: 0;
		padding-right: 0; 
		.card {
			flex-basis: 100%;
		}
		.card-horizontal {
			
		}
		.card-horizontal-full_bg {
			.wrapp-content {
				max-height: none;
			}
		}
		
	}

	.wrapp_footer .footer-menu .email{
		width: 100%;
	}
	
	//1-0page
}
	


@media (max-width: 1024px) {
	.card-vertical {
	    min-height: 508px;
	    max-height: 508px;
	}
	.favourites .subscribe .favourites-right_left .check-all:hover svg {
		fill: #828282;
	}
	.favourites .subscribe .favourites-right_left .check-all:hover span a {
		color: #828282;
	}
	.favourites .subscribe .favourites-right_left .check-all:active span a {
		color: #0039de;
	}
	.favourites .subscribe .favourites-right_left .check-all:hover svg {
		color: #0039de;
	}
}
@media (max-width: 936px) {
	.favourites .favourites-right .favourites-content .wrapp_tabs-content .wrapp_slider-content .card {
		flex-basis: 31%;
		flex-grow: 1;
	}
	.card-vertical {
	    min-height: 600px;
	    max-height: 600px;
	}
	.wrapp_first-screen {
		.card-vertical {
			min-height: 508px;
			max-height: 508px;
		}
	}
}

@media (max-width: 860px) {
	.wrapp_first-screen {
		.card-vertical {
			min-height: 600px;
			max-height: 600px;
		}
	}
}
@media (max-width: 830px) {
	.card-vertical {
	    min-height: 580px;
		max-height: 580px;    
	}
	.card-full_bg {
		.card-title {
			
		}
	}
	.wrapp_cards-block-1 .card-full_bg .card-title {
		margin-top: 350px;
	}
}

@media (max-width: 343px) {
	.comments-wrapp-content .container-comments{
		padding-top: 120px;
	}
}



