@media (max-width: 1330px) {
	.wrapp_first-screen, .wrapp_slider, .wrapp_cards-block-1{
		margin: 0;
		padding-left: 10px;
		padding-right: 10px; 
	}
	.wrapp_slider-video-bg-black .wrapp_slider {
		padding-left: 25px;
		padding-right: 25px;
	}
	.wrapp_page {
		margin: 0 20px;
	}
	.go_top {
		display: none;
	}
}

@media (max-width: 1150px) {
	//header
	header {
		padding: 0 20px;
	}
	.wrapp_header .menu_categories li:first-child {
		padding-left: 25px;
	}
	.wrapp_header .menu_categories li:last-child {
		padding-right: 25px;
	}
	.wrapp_header .menu_categories li {
		font-size: 1.3rem;
	}
	//end header
	
	//-------------------------------------------------

	//first-screen
	.wrapp_cards {
		flex-basis: 68%;
		.card-vertical {
			flex-basis: 33%;
		}
		a.card:last-of-type { 
			display: block;
		}	
	}
	.wrapp_cards .card-big {
		flex-basis: 100%;
	}
	.wrapp_sidebar {
		flex-basis: 32%;
	}

	//end first-screen

	//-------------------------------------------------
	
	//cards-block-1
	.wrapp_cards-block-1 {
		.card {
			flex-basis: 30%;
			flex-grow: 1;
			&:last-child {
				display: none;
			}
			&:nth-last-child(2) {
				display: none;
			}
		}
	}
	//end cards-block-1

	//-------------------------------------------------

	//footer
	.wrapp_footer {
		padding: 0 20px;
	}
	.wrapp_footer .footer-menu .footer-menu_logo {
		display: none;
	}
	.wrapp_footer .footer-menu .email {
		padding-right: 20px;
	}
	.wrapp_footer .footer-menu .email .email-input {
		width: 200px;
	}
	.wrapp_footer .footer-info .copyrat {
		flex-basis: 20%;
	}
	.wrapp_footer .footer-info .block-info {
		flex-basis: 65%;
		padding-right: 40px;
	}
	.wrapp_footer .footer-info .made-in {
		flex-basis: 15%;
	}

	//end footer
}

@media (max-width: 1000px) {
	.wrapp_sidebar h4 {
		margin: 28px 15px 20px;
	}
	.wrapp_cards a.card:last-of-type {
		display: none;
	}
}
@media (max-width: 860px) {
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_cards,.wrapp_sidebar {
		flex-basis: 100%;
	}
	.wrapp_sidebar {
		flex-direction: row;
		.wrapp_baner {
			flex-basis: 46%;
			.banner {
				max-height: none;
			}
		}
		.wrapp_top-news {
			flex-basis: 46%;

		}
	}
}




@media (max-width: 480px) {
	.wrapp_first-screen {
		flex-wrap: wrap;
	}
	.wrapp_cards, .wrapp_sidebar, .card-vertical {
		flex-basis: 100% !important;
	}
	.wrapp_cards .wrapp_whats-up {
		display: none;
	}
}