.wrapp_close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	svg {
		fill: #000;
		width: 20px;
	}
}
.wrapp_popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	z-index: 1010;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
	.wrapp_popup-contener {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 0;
		overflow: auto;
		display: none;
		// padding: 50px;
		&:before {
			content:'';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.wrapp_popup_window {
		background-color: #fff;
		max-width: 450px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 100%;
		.rewiew {
			text-align: left;
			margin-top: 25px;
			li {
				display: inline-block;
				background-image: url('../img/star-g.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				width: 20px;
				height: 20px;
				margin-right: 7px;
				transition: all 0.2s ease-out;
				cursor: pointer;
				&:hover {
					background-image: url('../img/star-y.png');
				}
				&:first-child {
					width: auto;
					background-image: none !important;
					height: auto;
					color: #6e6e6e;
					font-size: 1.4rem;
					margin-right: 15px;
					span {
						color: red;
						left: -4px;
						position: relative;
					}
				}
			}
		}
		.js-review-input {
			display: none;
		}
    	h3 {
    		margin-top: 60px;
    		padding: 0 40px;
    	}
    	.text-note {
    		padding: 40px 80px 20px;
    		span {
    			color: $main_blue;
    			cursor: pointer;
    		}
    	}
    	.success {
    		padding: 20px 40px 50px;
    	}
    	.link {
    		color: $grey;
    		cursor: pointer;
    		font-size: 1.2rem;
    	}
    	.sing_in_social {
    		margin-bottom: 30px;
    	}
    	
		form {
			width: 100%;
			padding: 0 50px;
			position: relative;
			input {
				display: block;
				width: 100%;
			}
			label {
				left: 50px;
			}
			button {
				margin: 40px 0
			}
		}
	}
	
}

.wrapp_social-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	li {
		flex-basis: 30%;
		flex-grow: 1;
		
		height: 75px;
		&:nth-child(1) {
			background-color: #4c75a3;
		}
		&:nth-child(2) {
			background-color: #3b5998;
		}
		&:nth-child(3) {
			background-color: #dd4b39;
		}
		a {
			color: #000;
			width: 100%;
			display: block;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			svg {
				fill: #fff;
				width: 20px;
			}
		}
	}
	.vk {
		a {
			svg {
				width: 28px;
			}
		}
	}
	.fb {
		a {
			svg {
				width: 11px;
			}
		}
	}
}