.search-wrapp {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
	.search-wrapp-content {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 0;
		overflow: auto;
		&:before {
			content:'';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.search-content {
		background-color: #fff;
		width: 100%;
		min-height: 100%;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		form {
			max-width: 850px;
			margin: 0 auto;
			padding: 20px;
			text-align: left;
			position: relative;
			.search-btn {
				margin-top: -55px;
				z-index: 1002;
				svg {
					fill: #000;
				}
			}
			.input-border-bottom {
				width: 100%;
				display: block;
				font-size: 4.2rem;
				font-family: $font_phil;
				// background-image: url(../img/svg/uEA01-search.svg);
				background-size: 20px;
    			background-position: 100% 75%;
				background-repeat: no-repeat;
				z-index: 1001
			}
			.input-border-bottom:focus + .search-btn {
				svg {
					fill: $main_blue;
				}
			}
			.input-border-bottom + label {
				font-size: 4.2rem;
				font-family: $font_phil;
				color: $grey;
				margin-top: -80px;
			}
			.input-border-bottom:focus + label {
				margin-top: -110px;
				font-size: 2rem;
			}
			.input-border-bottom-value + label {
				margin-top: -110px;
				font-size: 2rem;
			}
			
		}
		.search-pop {
			max-width: 850px;
			margin: 0 auto;
			text-align: left;
			padding: 20px;
			.note {
				text-transform: uppercase;
				color: $grey;
				font-size: 1rem;
				letter-spacing: 2px;
				padding-bottom: 20px;
			}
			ul {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				li {
					a {
						text-transform: uppercase;
						font-size: 1.8rem;
						font-family: $font_b;
						color: #000;
						display: block;
						padding: 20px 0;
						letter-spacing: 2px;
						transition: all 0.3s ease-out;
						&:hover {
							color: $main_blue;
						}
					}
				}
				// width: 49%;
			}
		}
	}
}

input[type='radio'] {
	display: none;
}
input[type='radio'] + label {
	font-size: 1.4rem;
	padding: 0 40px 0 0;
	cursor: pointer;
}
input[type='radio'] + label:before {
	content: '';
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid $grey; 
	font-size: 0;
	line-height: 0;
	padding: 7px;
	margin-right: 15px;
	top: -5px;
		position: relative;
}
input[type='radio']:checked + label:before {
	// background-color: #000;
	background-image: url('../img/svg/uEA01-dot.svg');
	background-size: 45%;
   	background-repeat: no-repeat;
	background-position: center center;
	border-color: #000;
}

.search-btn {
	background-color: transparent;
	position: absolute;
	right: 22px;
	top: 25px;
	// margin-top: -45px;
	svg {
		width: 20px;
		height: 23px;
		fill: #5b5b5b;
	}
}