mixin card-horizont(className)
	div(class=className)
		div.wrapp-img
			img(src='img/5.jpg' alt='')
		div.wrapp-content.text-left
			p.card-title 
				a(href='#') Как подготовиться к фарафону: история минчанки
			p.card-date_like 
				span 159
				span 28	
	
	