mixin card-vertical(className)
	div(class=className)
		div.wrapp-img
			img(src='img/5.jpg' alt='')
		p.card-category Зож
		p.card-title 
			a(href='#') Как подготовиться к фарафону: история минчанки
		p.card-date_like 6 октября 2016 / 
			span 159
			span 28	