footer
	div.wrapp_footer-bg-black.full-width
		div.max-width-1300
			div.wrapp_footer
				div.footer-menu
					a.footer-menu_logo(href='#')
						img(src='img/logo-footer.png' alt='')
					ul.footer-menu_categories
						li
							a(href='#') Мода и стиль
						li
							a(href='#') Красота
						li
							a(href='#') Спорт
						li
							a(href='#') Зож
					ul.footer-menu_categories
						li
							a(href='') Эстетическая медицина
						li
							a(href='') Дети
						li
							a(href='') Модельный бизнес
						li
							a(href='') Афиша	
					ul.footer-menu_main-info
						li 
							a(href='#') О проекте
						li 
							a(href='#') Контакты
						li 
							a(href='#') Партнерам
						li 
							a(href='#') Карта сайта
					div.email
						p.email-title Подписаться на рассылку:
						input.input-type-1.email-input 

					include _social-links
					
				div.footer-info
					p.copyrat  	&#169; 2016, Fashionbank.by 
					p.block-info Мнение авторов материалов может не совпадать с мнением редакции. Использование материалов fashionbank.by разрешено только с обязательным размещением активной ссылки на источник. Все авторские права защищены.
					p.made-in Made in 
						span 
							a(href='#') Flex Media
					a.footer-menu_logo(href='#')
						img(src='img/logo-footer.png' alt='')
