header
	div.wrapp_header
		div.burger
		div.logo
			img(src='' alt='Лого')
		div.user_panel
		ul
			li 
				a(href='#') Мода и стиль
			li 
				a(href='#') Красота
			li 
				a(href='#') Спорт
			li 
				a(href='#') Зож
			li 
				a(href='#') Эстетическая медицина
			li 
				a(href='#') Дети
			li 
				a(href='#') Модельный бизнес
			li 
				a(href='#') Афиша
