div.search-wrapp.hidden.js-search
	div.search-wrapp-content
		div.search-content
			div.wrapp_close.js-search-close
				<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
			form.js-form
				input.input-border-bottom
				button.search-btn
					svg
						use(xlink:href="../img/svg/sprite/sprite.min.svg#uEA01-search" xmlns:xlink="http://www.w3.org/1999/xlink")
				label Введите запрос
				input(type='radio' name='search' id ='radio-1')
				label(for='radio-1') Статьи
				input(type='radio' name='search' id ='radio-2')
				label(for ='radio-2') Компании
				input(type='radio' name='search' id ='radio-3')
				label(for ='radio-3') Специалисты	
				input(type='radio' name='search' id ='radio-4')
				label(for ='radio-4') Магазины
			div.search-pop
				p.note Популярные запросы
				ul 
					li
						a(href = '#') Модные тенденции
					li
						a(href = '#') Косметолог
					li
						a(href = '#') Уличная мода
					li
						a(href = '#') Стильные тенденции
					li
						a(href = '#') Фитнес
				ul 
					li
						a(href = '#') Процедуры омоложения
					li
						a(href = '#') Детский педиатр
					li
						a(href = '#') Медицинские центры		
					li
						a(href = '#') Spa процедуры
					li
						a(href = '#') Неделя мод
