.about {
	
	.block-left {
		ul {
			text-align: left;
			li {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 1.8rem;
				padding: 20px 0;
				font-family: $font_b;
				a {
					color: #969696;
					transition: all 0.1s ease-out;
					&:hover {
						color: #000;
					}
				}
				&:first-child {
					padding: 0 0 20px;
				}
				
			}
			li.active {
				font-family: $font_bb;
				a {
					color: #000;
				}
			}
		}
	}
	.block-center-text {
		.three-block {
			width: 100%;
			li {
				display: inline-block;
				font-size: 0;
				width: 33%;
				padding: 0 16px;
				vertical-align: top;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
				.title {
					font-size: 6rem;
					font-family: $font_m;
				}
				.text {
					font-size: 2rem;
				}
				p {
					padding: 10px 0;
				}
			}
		}
		.left-padding {
			padding-left: 35px;
		}
	}
	.accordion {
		margin-top: 140px;
		li {
			margin-bottom: 35px;
			p.title {
				font-size: 2rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: $font_bb;
				cursor: pointer;
				border-bottom: 1px solid #000;
				display: inline-block;
				padding: 10px 0;
			}
			p.text {
				display: none;
			}
		}
	}
	.contacts {
		font-size: 0;
		li {
			width: 50%;
			display: inline-block;
			height: 200px;
			padding-right: 10px;
			vertical-align: top;
			p {
				padding: 5px 0;
			}
			h3 {
				padding: 0 0 20px 0;
			}
		}
	}
}

.about.line-bottom > div:last-child {
	border-bottom: 4px solid #000;
	padding-bottom: 120px;
} 