
.article-wrapp {
	width: 100%;
	position: relative;
    top: -186px;
	.article-wrapp-bg {
		width: 100%;
		max-height: 420px;
		height: 420px;
		position: absolute;
		background-color: rgba(0,0,0,.5);
		z-index: 1;
		top: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		
	}
	.article-wrapp-bg-dark {
		width: 100%;
		position: absolute;
		background-color: rgba(0,0,0,.5);
		z-index: 2;
		top: 0;
		left: 0;
		max-height: 630px;
		height: 630px;
	}

	.article-wrapp-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		text-align: center;
		position: relative;
		z-index: 10;
		max-height: 483px;
		// height: 700px;
		// top: -215px;
		color: #fff;
		top: 186px;
		.breadcrumbs {
			padding-bottom: 90px;
			padding-top: 45px;
			li {
				a {
					color: #c4c3c3;
				}
				&:after {
					color: #c4c3c3;
				}
			}
		}
		h1 {
			padding-bottom: 20px;
			font-family: $font_m;
			line-height: 1;
			max-width: 700px;
			margin: 0 auto;
		}
		.adress {
			max-width: 700px;
			margin: 0 auto;
		}
		.panel_dop {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 30px;
			.all_article {
				font-size: 1.4rem;
				color: #c1c1c1;
				letter-spacing: 0.25px;
				font-family: $font_l;
				width: 200px;
				text-align: left;
				svg {
					width: 5px;
					fill: #c1c1c1;
					margin-right: 10px;
				}
			}
			.add_favorites {
				font-size: 1.4rem;
				font-family: $font_r;
				cursor: pointer;
				width: 200px;
				transition: all 0.3s ease-out;
				svg {
					width: 15px;
					fill: #fff;
					margin-right: 7px;
					position: relative;
					top: 3px;
				}
				img {
					width: 15px;
					fill: #fff;
					margin-right: 7px;
					position: relative;
					top: 2px;
				}
				.heart {
					width: 17px;
					height: 15px;
					margin-right: 7px;
					position: relative;
					top: 5px;
					background-image: url('../img/icons/heart1.png');
					background-repeat: no-repeat;
					background-size: 100%;
					display: block;
					float: left;
				}
				.heart.added {
					background-image: url('../img/icons/heart-2.png');
				}
				&:hover {
					color: $orange;
					svg {
						fill: $orange;
					}
				}
				.span-active {
					color: $main_blue; 
				}
				.span-noactive {
					color: #fff !important; 
				}
			}
			// .add-favorites-active {
			// 	svg {
			// 		fill: $main_blue; 
			// 	}
			// }
			.share  {
				width: 200px;
				text-align: right;
				padding-right: 10px;
			}
			.review {
				span {
					font-size: 1.4rem;
					color: #c1c1c1;
					padding-left: 15px;
					position: relative;
					top: -4px;
					transition: all 0.3s ease-out;
					cursor: pointer;
					&:hover {
						color: $orange;
					}
				}
				ul {
					display: inline-block;
					li {
						display: inline-block;
						img {
							width: 20px;
						}
					}
				}
			}
		}
		.card-date_like {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			color: #fff;
			padding-bottom: 120px;
			span {
				padding: 0 5px;
				color: #fff;
			}
			.eyes {
				svg {
					width: 14px;
					fill: #fff;
					position: relative;
					top: 2px;
					opacity: 0.5;
				}
			}
			.comment {
				svg {
					width: 11px;
					fill: #fff;
					position: relative;
					top: 4px;
					opacity: 0.5;
				}
			}
		}
	}
}

.content-wrapp {
	position: relative;
	.wrapp-video {
		//height: 400px;
	}
	.block-left {
		a {
			display: block;
			color: #000;
			padding: 0 0 20px 0;
			&:hover {
				.title {
					color: $main_blue;
				}
			}
		}
		position: absolute;
		left: 0;
		max-width: 260px;
		text-align: center;
		padding: 70px 10px;
		img {
			border-radius: 50%;
			border: 6px solid #efefef; 
			width: 90px;
		}
		.title {
			font-family: $font_phil;
			font-size: 2.4rem;
			padding:  20px 0 10px;
			transition: all 0.3s ease-out;
		}
	}

	.block-center-text {
		max-width: 630px;
		margin: 0 auto;
		width: 100%;
		text-align: left;
		padding: 50px 0;

		.block-left {
			padding-top: 0;
			.title {
				padding:  20px 0 10px;
			}
			.description {
				font-size: 1.5rem;
				padding: 0;
			}
		}
		.tags {
			border-bottom: 1px solid #dbdbdb;
			padding-bottom: 30px;
		}
		.line-bottom {
			font-family: $font_m;
			font-size: 2.4rem;
			padding-bottom: 75px;
			border-bottom: 4px solid #000;
			margin-bottom: 60px;
		}
		.share {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 25px 0;
			border-bottom: 1px solid #dbdbdb;
			.add_favorites {
				font-size: 1.4rem;
				font-family: $font_r;
				cursor: pointer;
				width: 200px;
				transition: all 0.3s ease-out;
				svg {
					fill: #000;
					margin-right: 7px;
					position: relative;
					top: 3px;
				}
				.heart {
					width: 17px;
					height: 15px;
					margin-right: 7px;
					position: relative;
					top: 5px;
					background-image: url('../img/icons/heart1.png');
					background-repeat: no-repeat;
					background-size: 100%;
					display: block;
					float: left;
				}
				.heart.added {
					background-image: url('../img/icons/heart-2.png');
				}
				img {
					width: 15px;
					margin-right: 7px;
					position: relative;
					top: 2px;
				}
				&:hover {
					color: $main_blue;
					svg {
						fill: $main_blue;
					}
				}
			}
		}
		.subscribe {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center; 
			padding: 15px 0;
			p {
				font-size: 1.5rem;
			}
			.input_wrapp {
				position: relative;
				flex-basis: 75%;
			}
			.input-type-1 {
				width: 100%;
				border-color: #cccccc;
				padding-left: 40px;
				font-family: $font_r;
				transition: border-color 0.3s ease-out;
			}
			.input-type-1 + button {
				background-color: transparent;
				position: absolute;
				left: 12px;
				top: 5px;
				svg {
					width: 20px;
					fill: #cccccc;
					height: 30px;
					transition: fill 0.3s ease-out;
				}
			}
			.input-type-1:focus {
				border-color: $main_blue;
			}
			.input-type-1:focus + button {
				svg {
					fill: $main_blue;
				}
			}
		}
		h2 {
			font-family: $font_m;
			padding: 0 0 20px;
		}
		p {
			padding: 15px 0; 
			font-size: 2rem;
		}
		h3 {
			letter-spacing: 2px;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: $font_bb;
			padding: 20px 0 30px;
		}
		ul{
			list-style-type: disc;
		}
	}
	.block-center-text + .block-center-text {
		padding-top: 0; 
	}
	.block-center-img-100 {
		width: 100%;
		img {
			width: 100%;
		}
		figcaption {
			max-width: 630px;
			margin: 0 auto;
			width: 100%; 
			font-size: 1.5rem;
			color: #000;
			padding: 20px 0 0;
			span {
				color: $grey;
			}
			a {
				color: #000;
			}
		}
	}
	.block-center-img-100 + .block-center-img-100 {
		padding-top: 60px;
	}
	.auth {
		max-width: 630px;
		margin: 0 auto;
		padding-top: 30px;
		font-size: 2rem;
		color: #959595;
		a {
			color: #959595;
			transition: all 0.3s ease-out;
			&:hover {
				color: $main_blue;
			}
		}
	}
	.auth-foto{
		max-width: 630px;
		margin: 0 auto;
		padding-top: 30px;
		font-size: 1.5rem;
		font-family: regular;
		a {
			color: #000;
			transition: all 0.3s ease-out;
			&:hover {
				color: $main_blue;
			}
		}
	}
	.block-supported {
		max-width: 850px;
		margin: 0 auto;
		padding: 70px 100px 90px;
		background-color: #e9f6f9;
		h3 {
			padding-bottom: 40px;
			letter-spacing: 2px;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: black;
		}
		.sup-wrapp {
			vertical-align: top;
			padding-bottom: 10px;
			.sup-img-wrapp {
				display: inline-block;
				max-width: 200px;
				width: 31%;
				max-height: 200px;
				overflow: hidden;
				margin-right: 10px;
				img {
					width: 100%;
				}
			}
			.sup-text-wrapp {
				display: inline-block;
				vertical-align: top;
				padding-left: 35px;
				width: 60%;
				max-width: 60%;
				.title {
					font-size: 2.4rem;
					font-family: $font_phil;
					line-height: 1;
					a {
						color: #000;
						transition: color 0.3s ease-out;
						&:hover {
							color: $main_blue;
						}
					}
				}
				p {
					font-size: 1.5rem;
					padding: 3px 0;
					&:first-child {
						padding-top: 0;
						padding-bottom: 5px;
					}
					svg {
						width: 9px;
						height: 13px;
						fill: #000;
						margin-right: 15px;
					}
				}
				.phone {
					font-size: 2rem;
					line-height: 1;
					display: block;
					color: #000;
					width: auto;
					margin-top: 0;
					padding: 3px 0;
					svg {
						position: relative;
    					top: 2px;
    					width: 9px;
						height: 13px;
						fill: #000;
						margin-right: 15px;
					}
					span {
						span {
							font-family: $font_m;
						}
					}
				}
				a.btn {
					margin-top: 15px;
					display: block;
					width: 175px;
				}


			}

		}

	}
	.block-center-img-50 {
		padding: 20px 0;
		figcaption {
			max-width: 630px;
			margin: 0 auto;
			width: 100%; 
			font-size: 1.5rem;
			color: #000;
			padding: 20px 0;
			span {
				color: $grey;
			}
			a {
				color: #000;
			}
		}
	}
	
	.block-center-img-50 + .block-center-text  {
		padding: 0 20px 50px;
	}
	.block-center-citation, .block-center-img-50 {
		max-width: 850px;
		margin: 0 auto;
		width: 100%; 
		text-align: center;
		position: relative;
		img {
			width: 100%;
			padding: 0 10px;
		}
		.slider {
			position: relative;
			figcaption {
				font-size: 1.5rem;
				color: #adadad;
				padding: 20px 20px 0;
				letter-spacing: 0.25px;
				max-width: 630px;
				margin: 0 auto;
				width: 100%;
				text-align: left;
			}
			.slider_arrow {
				width: 25px;
				position: absolute;
				background-color: transparent;
				top:42%;
				// top: calc(50% - 5px) !important;
				bottom:0;
				z-index: 100;
				height: 45px;
				svg{
					fill: #fff;
				}
			}
			.slider_arrow-next  {
				right: 30px;
			}
			.slider_arrow-pre  {
				left: 30px;
			}
		}
		.citation {
			font-size: 4rem;
			letter-spacing: 0.25px;
			font-family: $font_phil;
			line-height: 1.2;
			margin: 70px 0;
			padding: 0 10px;
			&:after {
				content: '';
				width: 120px;
				height: 4px;
				background-color: #000;
				margin: auto;
				position: absolute;
				left: 0; bottom: -50px; right: 0;
			}
			&:before {
				content: '';
				width: 120px;
				height: 4px;
				background-color: #000;
				margin: auto;
				position: absolute;
				top: -50px; left: 0; right: 0;
			}
		}
	}
	.article-for {
		padding-top: 0;
		padding-bottom: 70px;
		h3 {
			padding-top: 0;
		}
		p {
			padding: 10px 0;
			a {
				color: #000;
				transition: all 0.3s ease-out;
			}
			&:hover {
				a {
					color: $main_blue;
				}
			}
		}
		p.active {
			color: #a5a5a5;
		}
	}
}
.fix_pad {
	padding: 0 20px;
}
.comments-wrapp {
	background-color: #f6f6f6;
	min-height: 120px;
	//margin-bottom: 35px;
	padding: 0 20px;
	cursor: pointer;
	.comments-wrapp-content {
		position: relative;
		max-width: 1300px;
		margin: 0 auto;
		.comments-col {
			float: left;
			font-size: 1.8rem;
			letter-spacing: 2px;
			font-family: $font_bb;
			background-image: url('../img/comments.png');
			background-size: cover;
			background-position: center center;
			padding: 13px 22px 19px;
			margin-top: 35px;
			transition: color 0.3s ease-out;
			background-repeat: no-repeat;
			min-height: 72px;
			min-width: 83px;
			text-align: center;
		}
		.show_all {
			position: absolute;
			max-width: 630px;
			margin: 0 auto;
			width: 100%;
			left: 0;
			right: 0;
			padding-top: 45px;
			letter-spacing: 2px;
			font-size: 2rem;
			text-transform: uppercase;
			font-family: black;
			transition: color 0.3s ease-out;
			color: #000;
			svg {
				width: 10px;
				transform: rotate(-90deg);
				position: absolute;
				margin-left: 20px;
				margin-top: 5px;
			}
			
			
		}
	}
	&:hover {
		.comments-wrapp-content {
			.show_all {
				color: $main_blue;
				svg {
					fill: $main_blue;
				}
			}
			.comments-col {
				color: $main_blue;
			}
		}
	}
}


.container-comments{
  clear: both;
  display: none;
  padding: 20px 0;
}

.comments-wrapp .comments-wrapp-content .show_all svg{
  width: 10px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.comments-wrapp .comments-wrapp-content .show_all svg.up{
  webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.next_post {
	position: relative;
	height: 450px;
	top: 0;
	.article-wrapp-bg, .article-wrapp-info {
		height: 450px;
		top: 0;
	}
	.h1 {
		font-size: 6rem;
		font-family: $font_m;
		padding-bottom: 25px;
		
	}
	svg.next_post-refresh {
		width: 30px;
		height: 30px;
		fill: #fff;
		margin: 0px auto 50px;
		cursor: pointer;
		&:hover {
			animation: spin 3s infinite linear;
		}
	}
	
	.card-date_like {
		padding-bottom: 70px !important;
	}
}

@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.specialist-page-first-screen {
	.article-wrapp-info {
		text-align: left;
		.breadcrumbs {
			padding-bottom: 55px;
			padding-top: 45px;
		}
		.wrapp-info {
			width: 100%;
			padding-left: 200px;
			padding-bottom: 52px;
			h1 {
				line-height: 1;
				padding-bottom: 20px;
				margin: 0;
			}
			.adress {
				margin: 0;
			}
			.foto {
				width: 160px;
				border-radius: 50%;
				position: absolute;
				left: 0;
				margin-top: 20px;
				border: 7px solid #303030;
			}
			.review {
				padding-left: 10px;
				ul {
					display: inline-block;
					li {
						display: inline-block;
						img {
							width: 20px;
						}
					}
				}
				span {
					font-size: 1.4rem;
					color: #c1c1c1;
					padding-left: 15px;
					position: relative;
					top: -4px;

				}
			}
			.adress {
				padding-bottom: 30px;
			}
		}
	}
}
.block-right {
	position: absolute;
	right: 0;
	width: 180px;
	h3 {
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: $font_m;
		margin-bottom: 30px;
	}
	figure {
		width: 60%;
		position: relative;
		margin-bottom: 15px;
		img {
			width: 100%;
		}
		.play {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			width: 35%;
    		margin: auto;
		}
	}
	a {
		.desc  {
			font-size: 1.5rem;
			color: #000;
			text-align: left;
			transition: all 0.3s ease-out;
		}

		&:hover {
			.desc  {
				color: $main_blue;
			}
		}
	}
	
}

.structure_inner {
	.article-wrapp {
		top: 0;
        margin: 0;
		padding-top: 338px;
		.article-wrapp-bg {
			height: auto;
			bottom: 0;
			max-height: none;
		}
		.article-wrapp-info {
			top: 0;
			h1 {
				max-width: 100%;
				padding: 0 30px 20px 30px;
			}
		}
	}
	&.inner_align-left  {
		.article-wrapp {
			.article-wrapp-info {
				h1 {
					padding-left: 0;
				}
			}
		}
		.breadcrumbs {
			text-align: left;
		}
	}
	.main-content {
		position: relative;
	}
	.sticky-container {
		max-width: 1300px;
		margin: 0 auto;
	}
	.company-contact {
		top: 0px;
		right: auto;
		
	}
}
.content-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.number input{
	text-align: center;
}

.content-wrapp .wrapp-video{
	width: 100%;
	.wrapp-video_inner{
		position: relative;
		padding-bottom: 56%;
		iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}