.title-page-wrapp {
	padding: 20px 0 35px;
	border-bottom: 4px solid #000;
	margin-bottom: 40px;
	h2 {
		line-height: 1.2;
	}
}
.favourites {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	.favourites-left {
		flex-basis: 25%;
		.favourites-menu {
			li {	
				padding: 15px 0;
				a {
					color: #828282;
					font-size: 1.4rem;
					transition: all 0.3s ease-out;
					img {
						width: 20px;
						position: relative;
						top: 5px;
						margin-right: 10px;
					}
					&:hover {
						color: #000;
					}
				}
				a.active {
					color: #000;
					font-family: $font_b;
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	.favourites-right {
		flex-basis: 75%;
		.favourites-content {
			.wrapp_tabs-categories {
				overflow: auto;
				width: 100%;
				white-space: nowrap;
				padding: 0 0 30px;
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				.tabs-categories {
					// margin-bottom: 25px;
					li {
						display: inline-block;
						text-transform: uppercase;
						color: #9e9e9e;
						font-family: $font_b;
						letter-spacing: 2px;
						font-size: 1.6rem;
						padding-right: 45px;
						cursor: pointer;
						transition: all 0.3s ease-out;
						&:last-child {
							padding-right: 0;
						}
						&:hover {
							color: #000;
						}
					}
					li.active {
						color: #000;
						font-family: $font_bb;
					}
				}
			}
			.wrapp_tabs-content  {
				.wrapp_slider-content {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
					flex-wrap: wrap;
					.card {
						flex-basis: 30%;
					}
					.card-horizontal {
						flex-basis: 46%;
						.wrapp-content {
							padding-left: 20px;
						}	
						.card-title {
							padding-left: 0;
						}
						.card-category {
							padding-top: 5px;
						}
					}
				}
				.card-round {
					.card-horizontal {
						.wrapp-img  { 
							position: static;
							img {
								border-radius: 50%;
								border: 6px solid #efefef;
							}
							.like  {
								img {
									border: none;
  									padding: 0;
								}
							}
						}
					}
					.vip {
						.wrapp-img  { 
							img {
								border: 1px solid #000;
								padding: 5px;
							}
						}
					}
				} 
				.hidden {
					display: none;
				}

			}
			.load_more {
				padding: 60px 0 90px;
			}
			.tags {
				margin: 0 15px 20px;
			}
		}
	}
	.personal_data {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 20px;
		h3 {
			font-family: $font_bb;
			text-transform: uppercase;
			font-size: 1.8rem;
			letter-spacing: 2px;
		}
		.favourites-right_left {
			flex-basis: 45%;
			margin-bottom: 80px;
			h3 {
				margin-bottom: 30px;
			}
			.note {
				max-width: 300px; 
				text-align: right;
				font-size: 1.2rem;
				position: relative;
    			top: -18px;
				a {
					color: #a6a6a6;
					transition: all 0.3s ease-out;
				}
				&:hover {
					a {
						color: $main_blue;
					}
				}
			}
			.title-sex {
				margin-bottom: 10px;
				color: #a6a6a6;
				font-size: 1.4rem;
			}
			.radio-wrap {
				margin-bottom: 20px;
			}
			.input-wrapp {
				border: 1px solid #c6c6c6;
				padding: 0px 15px;
				max-width: 300px;
				margin-bottom: 20px;
				p {
					font-size: 1.2rem;
					color: #c6c6c6;
					padding: 0 0 5px;
					span {
						color: #ed8585;
					}
				}
				.input-border-bottom {
					color: #000;
					font-size: 1.4rem;
					width: 100%;
					border-bottom: none;
					padding: 15px 0;
					margin: 12px 0 0;
					z-index: 11;
				}
				.input-border-bottom+label {
					margin-top: -40px;
					z-index: 10;
				}
				.input-border-bottom:focus + label {
					margin-top: -55px;
				}
				.input-border-bottom-value + label {
					margin-top: -55px;
				}
			}
			input[type='radio'] + label {
				position: relative;
				cursor: pointer;
				padding-left: 30px;
			}
			input[type='radio'] + label:before {
				position: absolute;
				padding: 0px;
				top: 0;
				left: 0;
				width: 17px;
				height: 17px;
				background-size: 47%;
			}
			.btn {
				margin-top: 20px;
			}
			.success-pass {
				margin-top: 30px;
				img {
					width: 25px;
					vertical-align: middle;
				}
				span {
					color: #53ba42;
					font-size: 1.5rem;
					vertical-align: middle;
					padding-left: 15px;
				}
			}
		}
		.favourites-right_right {
			h3 {
				margin-bottom: 25px;
			}
			flex-basis: 45%;
			.wrapp_social-btn {
				margin-top: 35px;
				margin-bottom: 30px;
				li {
					height: 35px;
					margin: 0 7px;
					&:first-child {
						margin-left: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
				.vk  {
					a  {
						svg {
							width: 20px;
						}
					}
				}
				.fb {
					a {
						svg {
							width: 8px;
						}
					}
				}
				.g {
					a {
						svg {
							width: 16px;
						}
					}
				}
				.no-active {
					background-color: #e5e5e5;
				}
			}
		}
	}
	.subscribe {
		flex-basis: 100%;
		.favourites-right_left {
			flex-basis: 100%;
			.btn {
				margin-top: 50px;
			}
			.radio-wrap {
				ul {
					display: inline-block;
					width: 250px;
					li {
						padding: 8px 0;
					}
				}
			}
			.cheched-wrap {
				ul {
					display: inline-block;
					width: 250px;
					li {
						padding: 8px 0;
						input[type=checkbox]+label {
							padding-left: 30px;
							font-size: 1.4rem;
							&:hover {
								color: #000;
							}
						}
						input[type=checkbox]:checked {
							color: #c6c6c6;
						}
						input[type=checkbox]:checked+label {
							color: #000;
						}
						input[type=checkbox]:checked+label:after {
							border-color: #000;
						}
						input[type=checkbox]:checked+label:after {
							background-image: url(../img/svg/uEA01-check-symbol-black.svg);
						}
					}
				}
			}
			.check-all {
				margin-top: 30px;
				svg {
					width: 11px;
					height: 10px;
					display: inline-block;
					fill: #828282;
					transition: all 0.3s ease-out;
				}
				span {
					padding-left: 10px;
					font-size: 1.1rem;
					font-family: $font_m;
					text-transform: uppercase;
					letter-spacing: 2px;
					a {
						color: #828282;
						transition: all 0.3s ease-out;
					}
				}
				&:hover {
					svg {
						fill: $main_blue;
					}
					span {
						a {
							color: $main_blue;
						}
					}
				}
			}
		}
	}

}

