.title-page-wrapp {
	padding: 20px 0 35px;
	border-bottom: 4px solid #000;
	margin-bottom: 40px;
	h2 {
		line-height: 1.2;
	}
}
.favourites {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	.favourites-left {
		flex-basis: 30%;
		.favourites-menu {
			li {	
				padding: 15px 0;
				a {
					color: #828282;
					font-size: 1.4rem;
					transition: all 0.3s ease-out;
					img {
						width: 20px;
						position: relative;
						top: 5px;
						margin-right: 10px;
					}
					&:hover {
						color: #000;
					}
				}
				a.active {
					color: #000;
					font-family: $font_b;
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	.favourites-right {
		flex-basis: 70%;
		.favourites-content {
			.wrapp_tabs-categories {
				overflow: auto;
				width: 100%;
				white-space: nowrap;
				padding: 0 0 30px;
				position: relative;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				.tabs-categories {
					// margin-bottom: 25px;
					li {
						display: inline-block;
						text-transform: uppercase;
						color: #9e9e9e;
						font-family: $font_b;
						letter-spacing: 2px;
						font-size: 1.6rem;
						padding-right: 45px;
						cursor: pointer;
						transition: all 0.3s ease-out;
						&:last-child {
							padding-right: 0;
						}
						&:hover {
							color: #000;
						}
					}
					li.active {
						color: #000;
						font-family: $font_bb;
					}
				}
			}
			.wrapp_tabs-content  {
				.wrapp_slider-content {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
					flex-wrap: wrap;
					.card {
						flex-basis: 30%;
					}
					.card-horizontal {
						flex-basis: 46%;
						.wrapp-content {
							padding-left: 20px;
						}	
						.card-title {
							padding-left: 0;
						}
						.card-category {
							padding-top: 5px;
						}
					}
				}
				.card-round {
					.card-horizontal {
						.wrapp-img  { 
							position: static;
							img {
								border-radius: 50%;
								border: 6px solid #efefef;
							}
							.like  {
								img {
									border: none;
  									padding: 0;
								}
							}
						}
					}
					.vip {
						.wrapp-img  { 
							img {
								border: 1px solid #000;
								padding: 5px;
							}
						}
					}
				} 
				.hidden {
					display: none;
				}

			}
			.load_more {
				padding: 60px 0 90px;
			}
			.tags {
				margin: 0 15px 20px;
			}
		}
	}
	.personal_data {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		h3 {
			font-family: $font_bb;
			text-transform: uppercase;
			font-size: 1.8rem;
			letter-spacing: 2px;
		}
		.favourites-right_left {
			flex-basis: 50%;
			h3 {
				margin-bottom: 30px;
			}
			.input-wrapp {
				border: 1px solid #c6c6c6;
				padding: 8px 15px 12px;
				max-width: 300px;
				margin-bottom: 20px;
				p {
					font-size: 1.2rem;
					color: #c6c6c6;
					padding: 0 0 5px;
					span {
						color: #ed8585;
					}
				}
				input {
					color: #000;
					font-size: 1.4rem;
				}
			}
		}
		.favourites-right_right {
			flex-basis: 50%;
		}
	}
}

