.filters-wrapp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	h2 {
		font-family: $font_m;
	}

	.filters-li {
		padding-top: 10px;
		li {
			display: inline-block;
			margin-right: 30px;
			font-size: 1.4rem;
			cursor:pointer;
			position: relative;
			a {
				color: $grey;
				transition: all 0.3s ease-out;
				&:hover {
					color: $main_blue;
				}
			}
		}
		li.active {
			font-family: $font_b;
			a {
				color: #000;
			}
		}
		li.active:after {
			content: '.';
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
			top: 30px;
			font-size: 4rem;
			line-height: 0;
		}
	}
}

.cards-block-sport {
	.load_more {
		padding: 60px 0 0;
	}
	.block-title {
		flex-basis: 100%;
		padding: 40px 0 25px;
		margin: 0 15px;
		border-top: 4px solid #000;
		h3 {
			float: left;
			font-size: 1.8rem;
			font-family: $font_bb;
			letter-spacing: 2px;
			text-transform: uppercase;

		}
		p {
			float: right;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 1.1rem;
			font-family: $font_m;
			padding-top: 6px;
			a {
				color: $grey;
				transition: all 0.3s ease-out;
			}
			a:hover {
				color: $main_blue;
			}
		}
	}
	.card-horizontal {
		flex-basis: 30%;
		overflow: hidden;
   		max-height: 173px;
		.wrapp-img {
			flex-basis: 43%;
		}
		.wrapp-content {
			padding-left: 25px; 
			position: relative;
			.card-category {
				padding: 10px 0 12px 0;
			}
			.card-title {
				padding: 0 0 5px 0;
				font-size: 2.4rem;
			}
			.dop_info {
				font-size: 1.3rem;
				color: $grey;
				padding-top: 12px;
			}
			&:after {
				content: '';
				position: absolute;
				// background-color: rgba(255,255,255,0.8);	
				background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, #fff 100%);
				width: 100%;
				height: 25px;
				right: 0;
				margin-top: -27px;
				bottom: 0;
			}
		}
		.wrapp-bg {
			width: 100%;
		}

		
	}
	.card-horizontal-full_bg {
		.wrapp-content {
			flex-basis: 100%;
			.card-category {
				padding: 25px 0 55px 0;
			}
			.card-description {
				padding-bottom: 20px;
			}
			&:after {
				width: 0;
			}
		}
		
	}
}

.specialists {
	.card {
		.like {
			display: none !important;
		}
	}
	.card-horizontal {
		.wrapp-img {
			img {
				border-radius: 50%;
				border: 7px solid $grey_dop;
			}
		}
	}
	.card-horizontal.vip {
		img {
			border: 2px solid #000;
			padding: 5px;
		}
	}
}
.cards-block-sport-articles {
	.block-title {
		padding: 20px 0 25px;
	}
}
.tags {
	li {
		display: inline-block;
		padding: 5px 10px;
		margin: 6px;
		background-color: #f2f2f2;
		font-size: 1.4rem;
		letter-spacing: 0.25px;
		cursor: pointer;
		a {
			transition: all 0.3s ease-out;
			color: #000;
			span {
				color: $grey;
				font-family: $font_l;
				padding-left: 6px;
			}
		}
		img {
			width: 25px;	
			height: 12px;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		
		&:hover {
			a {
				color: $main_blue;
			}
		}
	}
	li.active {
		font-family: $font_m;
		background-color: #000;
		a {
			color: #fff;
			span {
				color: #fff;
			}
		}
		
	}
}
 
.block-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	margin: 0 15px;
	position: relative;
	padding-bottom: 30px;
	
	.item-filter  {
		flex-basis: 19%;
		border-top: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
		border-right: 1px solid #c2c2c2;
		min-height: 60px;
		cursor:pointer;
		padding: 5px 20px;
		position: relative;
		svg.down {
			width: 20px;
			height: 20px;
			margin-top: 15px;
			transform: rotate(180deg);
		}
		input[type=checkbox] + label {
			font-size: 1.5rem;
			margin-top: 30px;
		}
		p {
			font-size: 1.3rem;
			color: #7f7f7f;
		}
		.fild-filter {
			width: 100%;
			font-size: 1.5rem;
			background-color: transparent;
			padding-top: 3px;
			color: #000;
			font-family: $font_r;
			cursor: pointer;
		}
		&:first-child {
			border-left: 1px solid #c2c2c2;
		}
		.item-filter-content {
			width: 100%;
			position: absolute;
			background-color: #fff;
			min-height: 100px;
			left:0;
			top: 65px;
			z-index: 50;
			border: 2px solid #000;
			display: none;
			// .input_group_wrapp {
			// 	height: 250px;
			// }
			form {
				padding: 20px;
				.slider_ui {

					.ui-slider-horizontal .ui-slider-range {
						background-color: #000;
					}
					.js_ui_slider_main {
						height: 3px;
						border: none;
						background-color: $grey_dop;
						margin-top: 15px;
					}
				}
			}
			.type-1 {
				.input-wrapp {
					padding: 5px 0;
					position: relative;
					label {
						font-size: 1.5rem;
						// padding-left:10px;
					}
				}
				.btn {
					margin-top: 20px;
				}
			}
			.type-2 {
				input {
					width: 15px;
					font-size: 1.5rem;
					font-family: $font_r;
					background-color: transparent;
					color: #000;
				}
				span {
					font-size: 1.5rem;
				}
				.btn {
					margin-top: 50px;
				}
			}
		}
	}
	.item-filter-input-checkbox {
		cursor: default;
		input[type=checkbox]+label {
			margin-left: -15px;
		}
		input[type=checkbox]+label:after {
			margin-top: 30px;
		}
	}
	.item-filter.next {
		flex-basis: 5%;
	}
	.item-filter-other {
		position: absolute;
		width: 100%;
		height: 280px;
		left: 0;
		z-index: 50;
		top: 60px;
		border: 2px solid #000;
		background-color: #fff;
		padding: 30px 0px;
		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 15px 0;
			.item-filter {
				border: none;
				border-bottom: 1px solid #cccccc;
				padding-left: 0;
			}
		}
	}
	.ps-container > .ps-scrollbar-y-rail {
		opacity: 1 !important;
	}

	.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
		width: 3px  !important;
		right: 10px !important;
	}
	.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
		background-color: grey !important;
		right: 10px !important;
	}
	.ps-container > .ps-scrollbar-y-rail {
		width: 3px !important;
		background-color: transparent !important;
	}
	.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
		width: 3px !important;
	}

	.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { 
		width: 3px !important; 
	}
}

.company-wrapp  {
	.article-wrapp .article-wrapp-info h1 {
		padding-bottom: 20px;
	}
	.adress {
		// padding-bottom: 132px;
		padding: 0 10px 132px;

	}
}
.bg-black {
	background-color: #000;
	.company-content-wrapp {
		.content-block {
			.content-left { 
				h3 {
					color: #fff;
				}
				ul {
					li.active {
						color:#fff;
					}
				}
			}
		}
	}
}


.other-content {
	padding-top: 50px;
	.company-content-wrapp  {
		.content-block {
			padding: 25px 0;
		}
	}
}
.company-content-wrapp {
	width: 800px;
	.menu {
		padding: 50px 0;
		li {
			display: inline-block;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-family: $font_m;
			padding: 0 15px;
			color: #828282;
			cursor: pointer;
			transition: all 0.3s ease-out;
			&:first-child {
				padding-left: 0;
			}
			
			svg.down {
				width: 15px;
				height: 15px;
				transform: rotate(180deg);
				fill: #7f7f7f;
				margin-left: 5px;
			   	position: relative;
				top: 2px;
				transition: all 0.3s ease-out;
			}
			svg.up {
				transform: rotate(0deg);
			}
		}
		li:hover {
			color: $main_blue;
			svg {
				fill: $main_blue;
			}
		}
		li.active {
			color:#000;
		}
		
	}
	.border-top {
		border-top: 4px solid #000;
	}
	.first-block {
		.content-left {
			h3 {
				display: none;
			}
		}
	}
	.content-block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 50px 0;
		.content-left {
			flex-basis: 25%;
			.logo {
				width: 100%;
				padding-right: 70px;
			}
			h3 {
				font-size: 1.8rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: $font_bb;
				color: #000;
				span {
					font-family: $font_l;
				}
			}
			ul {
				margin-top: 35px;
				li {
					padding-bottom: 10px;
					color: #989898;
					cursor: pointer;
				}
				li.active {
					color: #000;
				}
			}
		}
		.content-right {
			flex-basis: 75%;
			position: relative;
			.btn {
				margin: 50px 0;
			}
			.card-wrapp {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				padding-bottom: 40px;
   				border-bottom: 1px solid #dbdbdb;
				.card {
					flex-basis: 45%;
					.card-category {
						padding: 0 0 10px 10px; 
					}
					.card-title {
						font-size: 2rem;
						padding: 0 10px 10px 10px; 
					}
					.card-description {
						padding-left: 10px; 
					}
					.card-date_like {
						padding-left: 5px;
					}
				}
			}
			.trainers {
				.card {
					.wrapp-img {
						img {
							border-radius: 50%;
						}
					}
				}
			}
			.articles {
				.card {
					.card-title {
						font-size: 1.5rem;
						font-family: $font_r;
					}
				}
			}
			.sertif {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				div {
					flex-basis: 30%;
					img {
						width: 100%;
						cursor: pointer;
					}
				}
			}
			.video {
				.card {
					cursor: pointer;
				}
				.video-img {
					height: 160px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					position: relative;
					.video-play {
						width: 35px;
						left: 50%;
						margin-left: -13px;
						top: 70px;
						position: absolute;
					}
				}
				.title {
					font-family: $font_phil;
					font-size: 2.4rem;
					padding-top: 20px;
					color: #000;
					&:hover {
						color: $main_blue;
					}
				}
			}
			.review-wrapp {
				border-bottom: 1px solid #e9e9e9;
				padding: 30px 0;
				&:nth-last-child(3) {
					border: none;
				}
				&:first-child {
					padding-top: 0;
				}
				.title {
					font-size: 1.5rem;
					text-transform: uppercase;
					display: inline-block;
					font-family: $font_b;
				}
				ul {
					display: inline-block;
					margin-left: 15px;
					li {
						display: inline-block;
						img {
							width: 15px;
						}
					}
				}
				.text {
					margin-top: 25px;
				}
				.date {
					font-size: 1rem;
					text-transform: uppercase;
					letter-spacing: 2px;

				}
			}
			.text {
				margin-bottom: 30px;
				overflow: hidden;
			}
			.shadow-text:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 30px;
    			bottom: 50px;
    			background: rgb(17, 142, 199);
				background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 100%);
				background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(0,0,0,0) 100%);
			}
			.link {
				 text-transform: uppercase;
				 color: $main_blue;
				 font-size: 1.4rem;
				 font-family: $font_b;
				 letter-spacing: 2px;
				 cursor: pointer;
			}
			.gallery_foto {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				.text-foto {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					text-align: center;
					p {
						font-size: 1.5rem;
						text-transform: uppercase;
						color: #fff;
						a {
							text-align: center;
							letter-spacing: 2px;
							color: #fff;
						}
					}
					
				}
				.wrapp-img {
					flex-basis: 30%;
					min-height: 130px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					margin: 10px;
					cursor: pointer;
					img {
						width: 100%;
					}
				}
			}
			.hidden {
				display: none;
			}
			.services {
				li {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					flex-wrap: wrap;
					padding: 25px 0;
					border-bottom: 1px dotted #cfcfcf; 
					cursor: pointer;
					img {
						width: 40px;
						margin-right: 30px;
					}
					p {
						font-size: 1.5rem;
						text-transform: uppercase;
					}
					&:first-child {
						padding-top: 0;
					}
					.dop-info  {
						display: none;
						flex-basis: 100%;
						text-transform: none;
						padding: 20px 20px 0 0;
					}
					svg.down {
						width: 18px;
						height: 18px;
						transform: rotate(180deg);
						position: absolute;
   						right: 0;
   						fill: #7f7f7f;
   						transition: all 0.3s ease-out;
					}
					svg.up {
						transform: rotate(0deg);
					}
				}
			}
			.price-list {
				margin-bottom: 40px;
				// max-height: 280px;
				overflow: hidden;
				li {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
					padding: 20px 0;
					border-bottom: 1px solid #ebebeb;
					cursor: pointer;
					span:last-child {
						flex-basis: 31%;
    					text-align: right;
					}
					&:first-child {
						padding-top: 0 !important;
					}
				}
				li.title {
					padding-top: 50px;
					text-transform: uppercase;
					font-family: $font_m;
				}
			}
			.fills {
				max-height: none;
				li {
					font-family: $font_m;
					cursor: default;
					span {
						font-family: $font_r;
					}
					span:last-child {
						flex-basis: 52%;
    					text-align: right;
					}
					&:first-child {
						text-transform: none;
					}
				}
			}
		}
	}
}
.dop_menu {
	position: absolute;
	border: 2px solid #000;
	padding: 20px;
	background-color: #fff;
	display: none;
	margin-top: 10px;
	z-index: 100;
	li {
		display: block;
		padding: 5px 0;
		text-transform: none;
		font-family: $font_r;
		color: #000;
	}
}
.map {
	margin: 50px 0;
	div {
		width: 100%;
		height: 530px;
	}
}

.company-contact {
	width: 385px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	padding: 40px 30px;
	text-align: center;
	position: absolute;
	right: 8%;
    top: 750px;
	z-index: 100;
	background-color: #fff;
	.addres  {
		margin-bottom: 10px;
		img {
			width: 10px;
			display: inline-block;
		}	
		span {
			padding-left: 10px;
			font-size: 1.6rem;
		}
	}
	.time-work {
		margin-bottom: 10px;
		p {
			color: #838383;
		}
	}
	.other-adres {
		border: 1px solid #cacaca;
		color: #838383;
		cursor: pointer;
		width: 55%;
		margin: 0 auto;
		padding:  10px 0;
		font-size: 1.4rem;	
	}
	.tel {
		padding: 30px 0;
		position: relative;
		padding: 15px 0;
		svg {
			width: 10px;
			position: absolute;
			margin-left: -18px;
			margin-top: 9px;
		}
		p {
			font-size: 2rem;
			span {
				font-family: $font_b;
			}
		}
		p.text {
			font-size: 1.5rem;
			color: #949494;
		}
	}
	.contact {
		padding: 15px 0;
		svg {
			width: 18px;
			margin-left: -23px;
   			margin-top: 4px;
   			height: 18px;
		}
		p {
			font-size: 1.5rem;
		}
	}
	.link {
		font-size: 1.5rem;
		color: $main_blue;
	}
	.show-map {
		background-image: url('../img/map-contact.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding: 30px 0;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-family: $font_b;
		letter-spacing: 2px;
		margin: 35px 0;
		cursor: pointer;
		transition: all 0.3s ease-out;
		&:hover {
			color: $main_blue;
		}
	}
}


.gallery-wrapp {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 1000;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
	.gallery-wrapp-content {
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 0;
		overflow: auto;
		&:before {
			content:'';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.gallery {
			background-color: #fff;
			max-width: 80%;
			width: 100%;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			text-align: left;
			.wrapp_close {
				top: -40px;
   				right: -40px;
   				svg {
   					fill: #fff;
   				}
			}
			
			.left-content {
				height: 50rem;
				width: 30%;
				background-color: #1a1a1a;
				text-align: left;
				padding: 15px;
				overflow: hidden;
				display: inline-block;
				vertical-align: top;
				position: absolute;
   				bottom: 0;
   				top: 0;
				.wrapp-img {
					display: inline-block;
					font-size: 0;
					line-height: 0;
					width: 50%;
					text-align: center;
					padding: 15px;
					.img-content {
						border: 2px solid #000;
						background-color: #000;
						img {
							height: 90px;
							cursor: pointer;
						}
					}
					.active {
						border: 2px solid #fff;
					}
				}
			}
			.left-youtube-gallery {
				.wrapp-img {
					.img-content {
						img {
							height: auto;
							width: 100%;
						}
					}
				}
			}
			.right-content {
				display: inline-block;
				width: 100%;
				vertical-align: top;
				background-color: #000;
				padding-left: 30%;
				.slider_arrow {
					position: absolute;
					width: 20px;
					top: 0;
    				bottom: 0;
    				background-color: transparent;
    				z-index: 1001;
    				svg {
    					fill: #fff;
    				}
				}
				.slider_arrow-next {
					right: 10px;
				}
				.slider_arrow-pre {
					left: 10px;
				}
				.wrapp-img {
					img {
						height: 50rem;
   						margin: 0 auto;	
					}
				}
			}
			.right-youtube-gallery {
				.wrapp-img {
					div {
						height: 50rem;
   						margin: 0 auto;	
					}
				}
			}
		}
	}
}

