.filters-wrapp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	h2 {
		font-family: $font_m;
	}

	.filters-li {
		padding-top: 10px;
		// padding-left: 200px;

		li {
			display: inline-block;
			margin-right: 30px;
			font-size: 1.4rem;
			cursor:pointer;
			position: relative;
			color: $grey;
		}
		li.active {
			font-family: $font_b;
			color: #000;
		}
		li.active:after {
			content: '.';
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
			top: 30px;
			font-size: 4rem;
			line-height: 0;
		}
	}
}

.cards-block-sport {
	.load_more {
		padding: 60px 0 0;
	}
	.block-title {
		flex-basis: 100%;
		padding: 40px 0 25px;
		margin: 0 15px;
		border-top: 4px solid #000;
		h3 {
			float: left;
			font-size: 1.8rem;
			font-family: $font_bb;
			letter-spacing: 2px;
			text-transform: uppercase;

		}
		p {
			float: right;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 1.1rem;
			font-family: $font_m;
			padding-top: 6px;
			a {
				color: $grey;
				transition: all 0.3s ease-out;
			}
			a:hover {
				color: $main_blue;
			}
		}
	}
	.card-horizontal {
		flex-basis: 30%;
		overflow: hidden;
   		max-height: 173px;
		.wrapp-img {
			flex-basis: 43%;
		}
		.wrapp-content {
			padding-left: 25px; 
			position: relative;
			.card-category {
				padding: 10px 0 12px 0;
			}
			.card-title {
				padding: 0 0 5px 0;
				font-size: 2.4rem;
			}
			.dop_info {
				font-size: 1.3rem;
				color: $grey;
				padding-top: 12px;
			}
			&:after {
				content: '';
				position: absolute;
				// background-color: rgba(255,255,255,0.8);	
				background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, #fff 100%);
				width: 100%;
				height: 25px;
				right: 0;
				margin-top: -27px;
				bottom: 0;
			}
		}
		.wrapp-bg {
			width: 100%;
		}

		
	}
	.card-horizontal-full_bg {
		.wrapp-content {
			flex-basis: 100%;
			.card-category {
				padding: 25px 0 55px 0;
			}
			.card-description {
				padding-bottom: 20px;
			}
			&:after {
				width: 0;
			}
		}
		
	}
}

.specialists {
	.card-horizontal {
		.wrapp-img {
			img {
				border-radius: 50%;
				border: 7px solid $grey_dop;
			}
		}
	}
	.card-horizontal.vip {
		img {
			border: 2px solid #000;
			padding: 5px;
		}
	}
}
.cards-block-sport-articles {
	.block-title {
		padding: 20px 0 25px;
	}
}
.tags {
	li {
		display: inline-block;
		padding: 5px 10px;
		margin: 6px;
		background-color: #f2f2f2;
		font-size: 1.4rem;
		letter-spacing: 0.25px;
		cursor: pointer;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		span {
			color: $grey;
			font-family: $font_l;
		}
	}
	li.active {
		color: #fff;
		font-family: $font_m;
		background-color: #000;
		span {
			color: #fff;
		}
	}
}
 
.block-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	margin: 0 15px;
	position: relative;
	padding-bottom: 30px;
	input[type='checkbox'] {
		display: none;
	}
	input[type='checkbox'] + label {
		padding-left: 40px;
		cursor: pointer;
	}
	input[type='checkbox'] + label:hover {
		color: $main_blue;
	}

	input[type='checkbox'] + label:after {
		content:'';
		background-color: rgba(0,0,0,0);
		color: #757e1f;
	    font-family: pf_medium;
	    margin-right: 5%;
	    font-size: 0rem;
	    border: 1px solid #c6c6c6;
		padding: 7px;
		border-radius: 1px;
		background-image: none;
		background-size: 85%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    display: block;
	    position: absolute;
	  	top: 0;
	  	margin-top: 8px;
	    // width: 10px;
	    // height: 10px;
	}

	input[type=checkbox]:checked + label:after {
		border-color: $main_blue;
		background-image: url('../img/svg/uEA01-check-symbol.svg');
	}

	.item-filter  {
		flex-basis: 19%;
		border-top: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
		border-right: 1px solid #c2c2c2;
		min-height: 60px;
		cursor:pointer;
		padding: 5px 20px;
		position: relative;
		input[type=checkbox] + label {
			font-size: 1.5rem;
			margin-top: 30px;
		}
		p {
			font-size: 1.3rem;
			color: #7f7f7f;
		}
		.fild-filter {
			width: 100%;
			font-size: 1.5rem;
			background-color: transparent;
			padding-top: 3px;
			color: #000;
			font-family: $font_r;
			cursor: pointer;
		}
		&:first-child {
			border-left: 1px solid #c2c2c2;
		}
		.item-filter-content {
			width: 100%;
			position: absolute;
			background-color: #fff;
			min-height: 100px;
			left:0;
			top: 65px;
			z-index: 50;
			border: 2px solid #000;
			display: none;
			form {
				padding: 20px;
				.slider_ui {
					.ui-slider-horizontal .ui-slider-range {
						background-color: #000;
					}
					.js_ui_slider_main {
						height: 3px;
						border: none;
						background-color: $grey_dop;
					}
				}
			}
			.type-1 {
				.input-wrapp {
					padding: 5px 0;
					position: relative;
					label {
						font-size: 1.5rem;
						// padding-left:10px;
					}
				}
				.btn {
					margin-top: 20px;
				}
			}
			.type-2 {
				input {
					width: 15px;
					font-size: 1.5rem;
					font-family: $font_r;
					background-color: transparent;
					color: #000;
				}
				span {
					font-size: 1.5rem;
				}
				.btn {
					margin-top: 50px;
				}
			}
		}
	}
	.item-filter-input-checkbox {
		cursor: default;
		    
		input[type=checkbox]+label {
			margin-left: -15px;
		}
		input[type=checkbox]+label:after {
			margin-top: 30px;
		}
	}
	.item-filter.next {
		flex-basis: 5%;
	}
	.item-filter-other {
		position: absolute;
		width: 100%;
		height: 280px;
		left: 0;
		z-index: 50;
		top: 60px;
		border: 2px solid #000;
		background-color: #fff;
		padding: 30px 0px;
		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 15px 0;
			.item-filter {
				border: none;
				border-bottom: 1px solid #cccccc;
				padding-left: 0;
			}
		}
	}
}

.company-wrapp  {
	.article-wrapp .article-wrapp-info h1 {
		padding-bottom: 20px;
	}
	.adress {
		padding-bottom: 132px;
	}
}
.bg-black {
	background-color: #000;
	.company-content-wrapp {
		.content-block {
			.content-left { 
				h3 {
					color: #fff;
				}
				ul {
					li.active {
						color:#fff;
					}
				}
			}
		}
	}
}


.other-content {
	.company-content-wrapp  {
		.content-block {
			padding: 25px 0;
		}
	}
}
.company-content-wrapp {
	width: 850px;
	.menu {
		padding: 50px 0;
		li {
			display: inline-block;
			font-size: 1.5rem;
			text-transform: uppercase;
			color: #828282;
			font-family: $font_m;
			padding: 0 15px;
			&:first-child {
				padding-left: 0;
			}
		}
		li.active {
			color:#000;
		}
	}
	.border-top {
		border-top: 4px solid #000;
	}
	.content-block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 50px 0;
		.content-left {
			flex-basis: 25%;
			.logo {
				width: 100%;
				padding-right: 70px;
			}
			h3 {
				font-size: 1.8rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: $font_bb;
				color: #000;
				span {
					font-family: $font_l;
				}
			}
			ul {
				margin-top: 35px;
				li {
					padding-bottom: 10px;
					color: #989898;
					cursor: pointer;
				}
				li.active {
					color: #000;
				}
			}
		}
		.content-right {
			flex-basis: 75%;
			.card-wrapp {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				padding-bottom: 40px;
   				border-bottom: 1px solid #dbdbdb;
				.card {
					flex-basis: 45%;
					
					.card-category {
						padding: 0 0 10px 10px; 
					}
					.card-title {
						font-size: 2rem;
						padding: 0 10px 10px 10px; 
					}
					.card-description {
						padding-left: 10px; 
					}
					.card-date_like {
						padding-left: 5px;
					}
				}
			}
			.trainers {
				.card {
					.wrapp-img {
						border-radius: 50%;
					}
				}
			}
			.articles {
				.card {
					.card-title {
						font-size: 1.5rem;
						font-family: $font_r;
					}
				}
			}
			.video {
				.video-img {
					height: 160px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					position: relative;
					.video-play {
						width: 35px;
						left: 50%;
						margin-left: -13px;
						top: 70px;
						position: absolute;
					}
				}
				.title {
					font-family: $font_phil;
					font-size: 2.4rem;
					padding-top: 20px;
					color: #000;
					&:hover {
						color: $main_blue;
					}
				}
			}
			.review-wrapp {
				border-bottom: 1px solid #e9e9e9;
				padding: 30px 0;
				&:last-child {
					border: none;
				}
				&:first-child {
					padding-top: 0;
				}
				
				.title {
					font-size: 1.5rem;
					text-transform: uppercase;
					display: inline-block;
					font-family: $font_b;
				}
				ul {
					display: inline-block;
					margin-left: 15px;
					li {
						display: inline-block;
						img {
							width: 15px;
						}
					}
				}
				.text {
					margin-top: 25px;
				}
				.date {
					font-size: 1rem;
					text-transform: uppercase;
					letter-spacing: 2px;

				}
			}
			.text {
				margin-bottom: 30px;
				max-height: 120px;
				overflow: hidden;
			}
			.link {
				 text-transform: uppercase;
				 color: $main_blue;
				 font-size: 1.4rem;
				 font-family: $font_b;
				 letter-spacing: 2px;
				 cursor: pointer;
			}
			.gallery_foto {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				.wrapp-img {
					flex-basis: 30%;
					min-height: 130px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					margin: 10px;
					img {
						width: 100%;
					}
					p {
						font-size: 1.5rem;
						text-transform: uppercase;
						color: #fff;
					}
				}
			}
			.price-list {

			}
			.services {
				li {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					padding: 25px 0;
					border-bottom: 1px dotted #cfcfcf; 
					cursor: pointer;
					img {
						width: 40px;
						margin-right: 30px;
					}
					p {
						font-size: 1.5rem;
						text-transform: uppercase;
					}
					&:first-child {
						padding-top: 0;
					}
				}
			}
			.price-list {
				margin-bottom: 40px;
				max-height: 320px;
				overflow: hidden;
				li {
					padding: 20px 0;
					border-bottom: 1px solid #ebebeb;
					cursor: pointer;
					&:first-child {
						padding-top: 0;
						text-transform: uppercase;
						font-family: $font_m;
					}
					span {
						float: right;
					}
				}
			}
		}
	}
}