.filters-wrapp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	h2 {
		font-family: $font_m;
	}

	.filters-li {
		padding-top: 10px;
		// padding-left: 200px;

		li {
			display: inline-block;
			margin-right: 30px;
			font-size: 1.4rem;
			cursor:pointer;
			position: relative;
			color: $grey;
		}
		li.active {
			font-family: $font_b;
			color: #000;
		}
		li.active:after {
			content: '.';
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
			top: 30px;
			font-size: 4rem;
			line-height: 0;
		}
	}
}

.cards-block-sport {
	.load_more {
		padding: 60px 0 0;
	}
	.block-title {
		flex-basis: 100%;
		padding: 40px 0 25px;
		margin: 0 15px;
		border-top: 4px solid #000;
		h3 {
			float: left;
			font-size: 1.8rem;
			font-family: $font_bb;
			letter-spacing: 2px;
			text-transform: uppercase;

		}
		p {
			float: right;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 1.1rem;
			font-family: $font_m;
			padding-top: 6px;
			a {
				color: $grey;
				transition: all 0.3s ease-out;
			}
			a:hover {
				color: $main_blue;
			}
		}
	}
	.card-horizontal {
		flex-basis: 30%;
		overflow: hidden;
   		max-height: 173px;
		.wrapp-img {
			flex-basis: 43%;
		}
		.wrapp-content {
			padding-left: 25px; 
			position: relative;
			.card-category {
				padding: 10px 0 12px 0;
			}
			.card-title {
				padding: 0 0 5px 0;
				font-size: 2.4rem;
			}
			.dop_info {
				font-size: 1.3rem;
				color: $grey;
				padding-top: 12px;
			}
			&:after {
				content: '';
				position: absolute;
				// background-color: rgba(255,255,255,0.8);	
				background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, #fff 100%);
				width: 100%;
				height: 25px;
				right: 0;
				margin-top: -27px;
				bottom: 0;
			}
		}
		.wrapp-bg {
			width: 100%;
		}

		
	}
	.card-horizontal-full_bg {
		.wrapp-content {
			flex-basis: 100%;
			.card-category {
				padding: 25px 0 55px 0;
			}
			.card-description {
				padding-bottom: 20px;
			}
			&:after {
				width: 0;
			}
		}
		
	}
}

.specialists {
	.card-horizontal {
		.wrapp-img {
			img {
				border-radius: 50%;
				border: 7px solid $grey_dop;
			}
		}
	}
	.card-horizontal.vip {
		img {
			border: 2px solid #000;
			padding: 5px;
		}
	}
}
.cards-block-sport-articles {
	.block-title {
		padding: 20px 0 25px;
	}
}
.tags {
	li {
		display: inline-block;
		padding: 5px 10px;
		margin: 6px;
		background-color: #f2f2f2;
		font-size: 1.4rem;
		letter-spacing: 0.25px;
		cursor: pointer;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		span {
			color: $grey;
			font-family: $font_l;
		}
	}
	li.active {
		color: #fff;
		font-family: $font_m;
		background-color: #000;
		span {
			color: #fff;
		}
	}
}

.block-filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	margin: 0 15px;
	.item-filter  {
		flex-basis: 19%;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		border-right: 1px solid grey;
		min-height: 60px;
		cursor:pointer;
		padding: 5px 20px;
		position: relative;
		p {
			font-size: 1.3rem;
		}
		.fild-filter {
			width: 100%;
			font-size: 1.5rem;
			background-color: transparent;
			padding-top: 3px;
			color: #000;
			font-family: $font_r;
			cursor: pointer;
		}
		&:first-child {
			border-left: 1px solid grey;
		}
		.item-filter-content {
			width: 100%;
			position: absolute;
			background-color: #fff;
			min-height: 100px;
			left:0;
			top: 65px;
			z-index: 20;
			border: 2px solid #000;
			display: none;
			form {
				padding: 20px;
			}
			.type-1 {
				.input-wrapp {
					padding: 5px 0;
					label {
						font-size: 1.5rem;
						padding-left:10px;
					}
				}
				.btn {
					margin-top: 20px;
				}
			}
		}
	}
	.item-filter.active {

	}
	.item-filter.next {
		flex-basis: 5%;
	}
}