<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of template</title>
    <meta name="viewport" content="width=980">
    <meta content="IE=9" http-equiv="X-UA-Compatible">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
      <header>
        <div class="wrapp_header">
          <div class="burger"></div>
          <div class="logo"><img src="" alt="Лого"></div>
          <div class="user_panel"></div>
          <ul class="menu_categories">
            <li> <a href="#">Мода и стиль</a></li>
            <li> <a href="#">Красота</a></li>
            <li> <a href="#">Спорт</a></li>
            <li> <a href="#">Зож</a></li>
            <li> <a href="#">Эстетическая медицина</a></li>
            <li> <a href="#">Дети</a></li>
            <li> <a href="#">Модельный бизнес</a></li>
            <li> <a href="#">Афиша</a></li>
          </ul>
        </div>
      </header>
      <div class="wrapp_page">
        <div class="wrapp_first-screen">
          <div class="wrapp_cards">
            <div class="wrapp_whats-up card"></div>
            <div class="card card-big" style="background-image: url(&quot;../img/test.jpg&quot;);">
              <p class="card-category">Спорт</p>
              <p class="card-title">Как подготовиться к фарафону: история минчанки</p>
              <p class="card-date_like">6 октября 2016 / <span>159</span><span>28	</span></p>
            </div>
                  <div class="card card-vertical text-center">
                    <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                    <p class="card-category">Зож</p>
                    <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                    <p class="card-date_like">6 октября 2016 / <span>159</span><span>28	</span></p>
                  </div>
                  <div class="card card-vertical text-center">
                    <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                    <p class="card-category">Зож</p>
                    <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                    <p class="card-date_like">6 октября 2016 / <span>159</span><span>28	</span></p>
                  </div>
                  <div class="card card-vertical text-center">
                    <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                    <p class="card-category">Зож</p>
                    <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                    <p class="card-date_like">6 октября 2016 / <span>159</span><span>28	</span></p>
                  </div>
                  <div class="card card-vertical card-full_bg text-center" style="background-image: url(&quot;../img/test.jpg&quot;);">
                    <p class="card-category">Зож</p>
                    <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                    <p class="card-date_like">6 октября 2016 / <span>159</span><span>28	</span></p>
                  </div>
          </div>
          <div class="wrapp_sidebar">
            <div class="card card-vertical"></div>
            <h4 class="text-uppercase">Самое обсуждаемое</h4>
            <div class="wrapp_top-news">
                    <div class="card card-horizontal">
                      <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                      <div class="wrapp-content text-left">
                        <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                        <p class="card-date_like"> <span>159</span><span>28	</span></p>
                      </div>
                    </div>
                    <div class="card card-horizontal">
                      <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                      <div class="wrapp-content text-left">
                        <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                        <p class="card-date_like"> <span>159</span><span>28	</span></p>
                      </div>
                    </div>
                    <div class="card card-horizontal">
                      <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                      <div class="wrapp-content text-left">
                        <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                        <p class="card-date_like"> <span>159</span><span>28	</span></p>
                      </div>
                    </div>
                    <div class="card card-horizontal">
                      <div class="wrapp-img"><img src="img/5.jpg" alt=""></div>
                      <div class="wrapp-content text-left">
                        <p class="card-title"> <a href="#">Как подготовиться к фарафону: история минчанки</a></p>
                        <p class="card-date_like"> <span>159</span><span>28	</span></p>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END out-->
  </body>
</html>