//- еще выподающее меню, и на ресайз
//-остановка видео на ютуб
//- попапы обратный звонок и еще адреса
//- мобильная версия


extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_card-h-2
		include includes/_header
		div.article-wrapp.company-wrapp.specialist-page-first-screen
			div.article-wrapp-bg(style='background-image: url("img/1-8bg.jpg");')
			//- div.article-wrapp-bg-dark затемнять блок
			div.article-wrapp-info.max-width-1300
				nav
					ul.breadcrumbs
						li 
							a(href='#') Главная 
						li 
							a(href='#') Спорт
						li 
							a(href='#') Статьи

				div.wrapp-info
					img.foto(src='img/4.jpg' alt='')
					h1 Шарпилов Иван Анатольевич
					p.adress Фитнес-инструктор
					div.review
						ul
							li
								img(src='img/star-y.png')
							li
								img(src='img/star-y.png')
							li
								img(src='img/star-y.png')
							li
								img(src='img/star-g.png')
							li
								img(src='img/star-g.png')
						span 26 отзывов	

				div.panel_dop
					p.add_favorites.js-add-favorites <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="249.6 44.5 371 319.1" enable-background="new 249.6 44.5 371 319.1" xml:space="preserve"><path d="M520.9,44.5c-35.5,0-67.8,19-85.8,50.2c-18-31.1-50.2-50.2-85.7-50.2c-55,0-99.8,46.1-99.8,102.8c0,77.7,98,151.2,156.6,195.1c10.3,7.7,19.4,14.5,26.6,20.3c0.7,0.5,1.5,0.8,2.3,0.8c0.8,0,1.6-0.3,2.3-0.8c7.2-5.8,16.3-12.6,26.6-20.3c58.6-43.9,156.6-117.5,156.6-195.1C620.6,90.7,575.9,44.5,520.9,44.5z M459.6,336.6c-9.3,7-17.6,13.2-24.5,18.7c-6.9-5.4-15.2-11.7-24.5-18.7C353.2,293.5,257,221.4,257,147.4c0-52.7,41.5-95.5,92.4-95.5c35,0,66.6,20,82.4,52.2c0.6,1.3,1.9,2.1,3.3,2.1c1.4,0,2.7-0.8,3.3-2.1c15.9-32.2,47.5-52.2,82.5-52.2c51,0,92.4,42.8,92.4,95.5C613.3,221.4,517.1,293.5,459.6,336.6z"/></svg> Добавить в избранное
					
					div.share 
						div.ya-share2(data-services="vkontakte,facebook" data-counter="")

		div.max-width-1300
			div.company-contact#sticky
				div.tel
					p <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="308.8 2.3 241.8 400.1" enable-background="new 308.8 2.3 241.8 400.1" xml:space="preserve"><path d="M548.8,370.5c-2.9,8.4-8.4,14.5-15.9,17.2L506.7,398c-31.7,12.7-70.3-2.7-91.7-36.4c-42-66.1-88.7-181.6-104.3-258.3c-7.8-38.9,9.4-76.3,41.1-89l26.2-10.2c6.7-2.7,14.3-2.4,21.2,0.6c0.9,0.4,1.6,0.7,2.2,0.9c9.9,5.4,17.2,15.1,20,26.7l11.4,49.3c1.8,7.1-1,13.6-6.5,16.1l-29.9,12c-13.4,5.4-20.8,20-18.5,36.1c6.4,42,31.6,105,56.5,140.1c9.2,13.2,25,18.5,38.3,13.4l29.9-12c5.7-2,12.2,0.8,15.9,6.8l25.9,43.3C550.8,347.7,552.1,360.1,548.8,370.5z"/></svg>+375 29 
						span 640-03-03
					p +375 29 
						span 641-04-04
					p.text по вопросам сотрудничества
				div.tel.contact
					p <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve">	<path style="fill:#030104;" d="M7,9L5.268,7.484l-4.952,4.245C0.496,11.896,0.739,12,1.007,12h11.986c0.267,0,0.509-0.104,0.688-0.271L8.732,7.484L7,9z"/><path style="fill:#030104;" d="M13.684,2.271C13.504,2.103,13.262,2,12.993,2H1.007C0.74,2,0.498,2.104,0.318,2.273L7,8L13.684,2.271z"/>	<polygon style="fill:#030104;" points="0,2.878 0,11.186 4.833,7.079"/>	<polygon style="fill:#030104;" points="9.167,7.079 14,11.186 14,2.875 		"/></svg>ivan_fitness@gmail.com 
						
					p <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="430.123px" height="430.123px" viewBox="0 0 430.123 430.123" style="enable-background:new 0 0 430.123 430.123;" xml:space="preserve"><path id="Skype" d="M412.164,246.198c1.605-10.155,2.45-20.544,2.45-31.148c0-110.215-89.342-199.555-199.56-199.555c-10.576,0-20.995,0.871-31.141,2.458C165.534,6.581,143.842,0,120.595,0C53.996,0,0.005,53.984,0.005,120.59c0,23.242,6.585,44.916,17.952,63.332c-1.573,10.172-2.439,20.528-2.439,31.132c0,110.223,89.34,199.536,199.532,199.536c10.585,0,21.007-0.816,31.152-2.417c18.398,11.35,40.072,17.949,63.314,17.949c66.617,0,120.602-53.998,120.602-120.602C430.123,286.269,423.542,264.6,412.164,246.198z M309.801,305.81c-8.442,12.153-20.843,21.65-37.047,28.479c-16.237,6.847-35.428,10.254-57.59,10.254c-26.562,0-48.554-4.648-65.913-14.034c-12.305-6.721-22.313-15.737-30.007-26.98c-7.71-11.252-11.619-22.271-11.619-33.015c0-6.338,2.417-11.85,7.122-16.344c4.754-4.527,10.877-6.796,18.104-6.796c5.92,0,11.005,1.783,15.145,5.316c4.109,3.532,7.556,8.667,10.375,15.443c3.379,7.85,7.049,14.412,10.954,19.648c3.881,5.171,9.343,9.488,16.417,12.867c6.996,3.388,16.307,5.082,27.958,5.082c15.945,0,28.831-3.449,38.693-10.253c9.912-6.866,14.673-15.22,14.673-25.314c0-8.051-2.567-14.445-7.831-19.43c-5.312-5.05-12.172-8.896-20.685-11.579c-8.546-2.711-20.02-5.586-34.399-8.615c-19.308-4.214-35.456-9.119-48.533-14.752c-13.094-5.654-23.522-13.383-31.251-23.146c-7.745-9.859-11.607-22.113-11.607-36.627c0-13.84,4.077-26.217,12.239-36.989c8.158-10.802,19.961-19.07,35.351-24.829c15.336-5.757,33.391-8.637,54.075-8.637c16.541,0,30.849,1.914,42.96,5.722c12.078,3.836,22.146,8.898,30.196,15.25c7.999,6.338,13.885,13.023,17.613,20.038c3.725,7.036,5.601,13.908,5.601,20.614c0,6.235-2.417,11.89-7.127,16.846c-4.709,4.963-10.733,7.493-17.768,7.47c-6.342,0-11.317-1.463-14.767-4.56c-3.36-2.996-6.889-7.766-10.706-14.414c-4.825-9.276-10.604-16.503-17.324-21.672c-6.543-5.073-17.338-7.714-32.359-7.682c-13.898,0-25.018,2.84-33.411,8.394c-8.445,5.643-12.482,12.19-12.501,19.861c0.014,4.807,1.396,8.86,4.177,12.326c2.824,3.498,6.753,6.529,11.803,9.084c5.052,2.595,10.191,4.602,15.355,6.046c5.225,1.481,13.894,3.622,25.944,6.457c15.112,3.257,28.819,6.896,41.136,10.862c12.293,3.986,22.784,8.793,31.451,14.52c8.736,5.71,15.564,12.99,20.438,21.783c4.909,8.807,7.354,19.564,7.354,32.222C322.509,279.968,318.263,293.676,309.801,305.81z"/></svg>ivan_fitness
				div.tel.contact
					p <svg version="1.1" id="Layer_21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-420.9 250.7 20.3 11.5" enable-background="new -420.9 250.7 20.3 11.5" xml:space="preserve"><path d="M-401.5,251.2h-3.3c-0.3,0-0.5,0.2-0.7,0.4c0,0-1.3,2.4-1.7,3.2c-1.1,2.2-1.9,1.5-1.9,0.5v-3.5c0-0.6-0.5-1.1-1.1-1.1h-2.5c-0.7-0.1-1.3,0.3-1.8,0.8c0,0,1.3-0.2,1.3,1.5c0,0.4,0,1.6,0,2.6c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.4-0.1-0.6-0.2c-1-1.4-1.9-2.9-2.5-4.5c-0.1-0.2-0.4-0.4-0.6-0.4c-0.7,0-2.1,0-3,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.1,0,0.1,0,0.2c0.9,2.5,4.8,10.3,9.3,10.3h1.9c0.4,0,0.7-0.3,0.7-0.7v-1.1c0-0.4,0.3-0.7,0.7-0.7c0.2,0,0.4,0.1,0.5,0.2l2.2,2.1c0.2,0.2,0.5,0.3,0.7,0.3h3c1.4,0,1.4-1,0.6-1.8c-0.5-0.5-2.5-2.6-2.5-2.6c-0.3-0.4-0.4-0.9-0.1-1.3c0.6-0.8,1.7-2.2,2.1-2.8C-401,252.9-400,251.2-401.5,251.2z"/></svg>ivan _fitness92
						
					p <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="251.4 20.4 367.4 367.4" enable-background="new 251.4 20.4 367.4 367.4" xml:space="preserve"><path d="M555.8,20.4H314.4c-34.8,0-63,28.2-63,63v241.4c0,34.8,28.2,63,63,63h241.4c34.8,0,63-28.2,63-63V83.4C618.8,48.6,590.6,20.4,555.8,20.4z M377.8,172.2L377.8,172.2c0,0,0.1-0.1,0.1-0.1c0.7-1.3,1.5-2.6,2.3-3.8c0.5-0.7,1-1.4,1.5-2.2c0.6-0.8,1.1-1.6,1.7-2.3c0.5-0.7,1-1.3,1.6-2c1-1.2,2.1-2.4,3.2-3.5c0.5-0.6,1.1-1.1,1.7-1.6c0.8-0.8,1.6-1.5,2.4-2.2c0.6-0.5,1.1-1,1.7-1.4c1.3-1,2.6-2,4-3c0.5-0.3,1-0.7,1.5-1c1.1-0.7,2.2-1.4,3.3-2c0.5-0.3,1.1-0.6,1.6-0.9c1.6-0.8,3.2-1.6,4.8-2.3c0.4-0.2,0.8-0.3,1.2-0.5c1.4-0.6,2.8-1.1,4.3-1.6c0.5-0.2,1-0.3,1.6-0.5c1.8-0.5,3.6-1,5.5-1.4c0.2,0,0.4-0.1,0.6-0.1c1.7-0.3,3.4-0.6,5.2-0.8c0.5-0.1,1-0.1,1.6-0.2c2-0.2,4-0.3,6-0.3c2,0,4,0.1,6,0.3c0.5,0,1,0.1,1.5,0.2c1.8,0.2,3.5,0.5,5.2,0.8c0.2,0,0.4,0.1,0.6,0.1c1.9,0.4,3.7,0.9,5.5,1.4c0.5,0.2,1,0.3,1.5,0.5c1.5,0.5,2.9,1,4.3,1.6c0.4,0.2,0.8,0.3,1.1,0.4c1.6,0.7,3.2,1.5,4.8,2.3c0.5,0.3,1.1,0.6,1.6,0.9c1.1,0.6,2.3,1.3,3.4,2c0.5,0.3,1,0.6,1.5,1c1.4,1,2.7,2,4,3c0.6,0.5,1.1,0.9,1.7,1.4c0.8,0.7,1.7,1.5,2.5,2.3c0.5,0.5,1.1,1,1.6,1.6c1.1,1.1,2.2,2.3,3.2,3.5c0.5,0.6,1,1.3,1.5,1.9c0.6,0.8,1.2,1.6,1.8,2.4c0.5,0.7,1,1.4,1.5,2.1c6.7,10.3,10.7,22.6,10.7,35.9c0,36.2-29.4,65.6-65.6,65.6c-36.2,0-65.6-29.4-65.6-65.6C369.5,192.5,372.5,181.7,377.8,172.2z M579.4,305.2c0,25.5-20.7,46.2-46.2,46.2H337c-25.5,0-46.2-20.7-46.2-46.2v-133h44.3c-3.2,10-5,20.7-5,31.9c0,58,47,105,105,105s105-47,105-105c0-11.1-1.8-21.8-5-31.9h44.3V305.2z M579.4,93.9c0,2.9-2.3,5.2-5.2,5.2h-28.9c-2.9,0-5.2-2.3-5.2-5.2V65c0-2.9,2.3-5.2,5.2-5.2h28.9c2.9,0,5.2,2.4,5.2,5.2V93.9z"/></svg>ivan _fitness92
				a.link(href='#') www.mobydick.by
				div.show-map Смотреть на карте
				button.btn.btn-size-225.btn-black.js-popup-open(data-open-popup = 'popup-backcall') Обратный звонок
		section
			div.max-width-1300
				div.company-content-wrapp
					div.menu.js-menu-dropdown
						ul.main_menu.js-tags-resizes
							li.active 
								a(href='#') О нас
							li 
								a(href='#') Услуги
							li 
								a(href='#') Цены
							li 
								a(href='#') Фотогалерея
							li 
								a(href='#') Отзывы
							li.js-menu-dropdown-open 
								a(href='#') Еще
								svg.down
									use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
					ul.dop_menu.js-menu-dropdown-dop
						li 
							a(href='#') Услуги
						li 
							a(href='#') Цены
						li 
							a(href='#') Фотогалерея
						li 
							a(href='#') Отзывы
					div.content-block.border-top.first-block
						div.content-left
							img.logo(src='img/1-8-logo.png' alt='')
							h3 О компании
						div.content-right.js-show-text
							div.text
								p Любите спорт, ведете здоровый образ жизни и давно мечтаете о занятиях фитнесом с грамотными тренерами, но не можете определиться с выбором? Мы с удовольствием приглашаем вас в новый фитнес-клуб Moby Dick, оснащенный профессиональным силовым и кардиооборудованием, идеально подходящим как для новичков, так и для
								p.text-hide.js-show-other-content  Здесь знают все о правильных тренировках, предлагая действенные способы укрепления здоровья и раскрывая секреты прекрасной физической формы.
							p.link.js-show-other(data-text='+ Все описание') + Все описание
					div.content-block
						div.content-left
							h3 Услуги
						div.content-right
							ul.services
								li.js-drop-open 
									img(src='img/1-8-icon1.png' alt='')
									p Тренажерный зал
									svg.down
										use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
									p.dop-info.js-drop-open-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nisl non nisl accumsan, eu mattis ligula porta. Cras pellentesque nisl id leo tempor, id sollicitudin nisi finibus. Quisque at fermentum ante, ac lobortis quam. Integer imperdiet justo vitae purus consequat, vel mattis ligula placerat. Vivamus efficitur leo et ante lacinia efficitur	
								li.js-drop-open  
									img(src='img/1-8-icon2.png' alt='')
									p Единоборства
									svg.down
										use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
									p.dop-info.js-drop-open-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nisl non nisl accumsan, eu mattis ligula porta. Cras pellentesque nisl id leo tempor, id sollicitudin nisi finibus. Quisque at fermentum ante, ac lobortis quam. Integer imperdiet justo vitae purus consequat, vel mattis ligula placerat. Vivamus efficitur leo et ante lacinia efficitur
								li.js-drop-open  
									img(src='img/1-8-icon3.png' alt='')
									p Бесплатная парковка
									svg.down
										use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
									p.dop-info.js-drop-open-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nisl non nisl accumsan, eu mattis ligula porta. Cras pellentesque nisl id leo tempor, id sollicitudin nisi finibus. Quisque at fermentum ante, ac lobortis quam. Integer imperdiet justo vitae purus consequat, vel mattis ligula placerat. Vivamus efficitur leo et ante lacinia efficitur
								li.js-drop-open  
									img(src='img/1-8-icon4.png' alt='')
									p Фит-бар
									svg.down
										use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
									p.dop-info.js-drop-open-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nisl non nisl accumsan, eu mattis ligula porta. Cras pellentesque nisl id leo tempor, id sollicitudin nisi finibus. Quisque at fermentum ante, ac lobortis quam. Integer imperdiet justo vitae purus consequat, vel mattis ligula placerat. Vivamus efficitur leo et ante lacinia efficitur
								li.js-drop-open  
									img(src='img/1-8-icon5.png' alt='')
									p Общие услуги
									svg.down
										use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
									p.dop-info.js-drop-open-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nisl non nisl accumsan, eu mattis ligula porta. Cras pellentesque nisl id leo tempor, id sollicitudin nisi finibus. Quisque at fermentum ante, ac lobortis quam. Integer imperdiet justo vitae purus consequat, vel mattis ligula placerat. Vivamus efficitur leo et ante lacinia efficitur

					div.content-block
						div.content-left
							h3 Прайслист

						div.content-right.js-show-text
							div
								ul.price-list
									li.title 1Тренаженрый зал (полный день)
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
								ul.price-list.price-list-hidden.js-show-other-content
									li.title Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.
									li Абонемент на 1 месяц / 4 занятия. 
										span 30,00 руб.	
							p.link.js-show-other(data-text='+ Все цены') + Все цены

			section
				div.full-width.bg-black
					div.max-width-1300
						div.company-content-wrapp
							div.content-block
								div.content-left
									h3.title_black Фотогалерея
								div.content-right
									div.gallery_foto.js-gallery-foto(data-gallery-open='gallery-1' )
										div.wrapp-img.js-open-gallery(style='background-image:url("img/4.jpg")' data-gallery = '1')
										div.wrapp-img.js-open-gallery(style='background-image:url("img/4.jpg")' data-gallery = '2')
										div.wrapp-img.js-open-gallery(style='background-image:url("img/4.jpg")' data-gallery = '3')
										div.wrapp-img.js-open-gallery(style='background-image:url("img/4.jpg")' data-gallery = '4')
										div.wrapp-img.js-open-gallery(style='background-image:url("img/4.jpg")' data-gallery = '5')
										div.wrapp-img.js-open-gallery.text-foto(data-gallery = '1')
											p
												a(href='#') + Ещё (15 фото)

			section
				div.max-width-1300.other-content
					div.company-content-wrapp
						div.content-block
							div.content-left
								h3 Тренеры
							div.content-right
								div.card-wrapp.trainers
									+card-horizont('card card-horizontal text-black','img/2.jpg','Евгения Кобик','Bodyflex, TRX, силовая аэробика','Зож',false,false)
									+card-horizont('card card-horizontal text-black','img/3.jpg','Евгения Кобик ','Bodyflex, TRX, силовая аэробика','Зож',false,false)
									+card-horizont('card card-horizontal text-black','img/4.jpg','Евгения Кобик ','Bodyflex, TRX, силовая аэробика','Зож',false,false)
						div.content-block
							div.content-left
								h3 Статьи
							div.content-right
								div.card-wrapp.articles
									+card-horizont('card card-horizontal text-black','img/6.jpg','Личный опыт: работа моделью в Китае','','',true,false)
									+card-horizont('card card-horizontal text-black','img/7.jpg','Кастинг моделей: как себя вести','','',true,false)
									+card-horizont('card card-horizontal text-black','img/7.jpg','Кастинг моделей: как себя вести. Истории из мира моды','','',true,false)
						div.content-block
							div.content-left
								h3 Видео
							div.content-right
								div.card-wrapp.video
									div.card.js-open-youtube(data-gallery = '1')
										div.video-img(style='background-image:url("//img.youtube.com/vi/JMJXvsCLu6s/maxresdefault.jpg")' )
											img.video-play(src="img/video_play.png" )
										p.title Мова Нанова - Мова Гуркова
									div.card.js-open-youtube(data-gallery = '2')
										div.video-img(style='background-image:url("//img.youtube.com/vi/JMJXvsCLu6s/maxresdefault.jpg")')
											img.video-play(src="img/video_play.png" )
										p.title Мова Нанова - Мова Гуркова
						div.content-block.js-scrollTo-content(data-scroll = 'el8')
							div.content-left
								h3 Отзывы о компании 
									p (26)
							div.content-right.js-show-text
								div
									div.overflow-hidden
										div.review-wrapp
											p.title Владимир
											ul
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-g.png')
												li
													img(src='img/star-g.png')
											p.text Туда приятно приходить, стильный зал, отличный персонал, мега админы и тренера) У меня был самый лучший тренер Гришаня! Один его внешний вид вдохновляет! Он супер качок и чемпион по жиму лёжа)) Всем Моби Дик)))
											p.date 20 ноября 2016
										
									div.review-hidden.js-show-other-content
										div.review-wrapp
											p.title Владимир
											ul
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-g.png')
												li
													img(src='img/star-g.png')
											p.text Туда приятно приходить, стильный зал, отличный персонал, мега админы и тренера) У меня был самый лучший тренер Гришаня! Один его внешний вид вдохновляет! Он супер качок и чемпион по жиму лёжа)) Всем Моби Дик)))
											p.date 20 ноября 2016
										div.review-wrapp
											p.title Владимир
											ul
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-y.png')
												li
													img(src='img/star-g.png')
												li
													img(src='img/star-g.png')
											p.text Туда приятно приходить, стильный зал, отличный персонал, мега админы и тренера) У меня был самый лучший тренер Гришаня! Один его внешний вид вдохновляет! Он супер качок и чемпион по жиму лёжа)) Всем Моби Дик)))
											p.date 20 ноября 2016
								p.link.show-other-review.js-show-other(data-text='+ Все отзывы') + Все отзывы
								button.btn.btn-size-225.btn-black.js-popup-open(data-open-popup = 'popup-review') Оставить отзыв

						div.content-block#end
							div.content-left
								h3 Сертификаты
							div.content-right
								div.sertif.js-gallery-foto(data-gallery-open='gallery-2')
									div.js-open-gallery(data-gallery = '1')
										img(src='img/sert1.jpg' alt='')
									div.js-open-gallery(data-gallery = '2')
										img(src='img/sert2.jpg' alt='')
									div.js-open-gallery(data-gallery = '3')
										img(src='img/sert3.jpg' alt='')

		
		div.js-wrapp-foto-gallery
			div.gallery-wrapp.js-open-gallery-modal(data-gallery-modal='gallery-1')
				div.gallery-wrapp-content
					div.gallery
						div.wrapp_close.js-close-gallery-modal
							<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
						div.left-content.js-slider-gallery-preview
							div.wrapp-img(data-gallery='1')
								div.img-content.active
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='2')
								div.img-content
									img(src='img/5.jpg' alt='')
							div.wrapp-img(data-gallery='3')
								div.img-content
									img(src='img/2.jpg' alt='')
							div.wrapp-img(data-gallery='4')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='5')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='6')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='7')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='8')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='9')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='10')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='11')
								div.img-content
									img(src='img/4.jpg' alt='')
							div.wrapp-img(data-gallery='12')
								div.img-content
									img(src='img/4.jpg' alt='')

						div.right-content
							div.js-slider-init-gallery
								div.wrapp-img(data-gallery='1')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='2')
									div
										img(src='img/5.jpg' alt='')
								div.wrapp-img(data-gallery='3')
									div
										img(src='img/2.jpg' alt='')
								div.wrapp-img(data-gallery='4')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='5')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='6')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='7')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='8')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='9')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='10')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='11')
									div
										img(src='img/4.jpg' alt='')
								div.wrapp-img(data-gallery='12')
									div
										img(src='img/4.jpg' alt='')
			div.gallery-wrapp.js-open-gallery-modal(data-gallery-modal='gallery-2')
				div.gallery-wrapp-content
					div.gallery
						div.wrapp_close.js-close-gallery-modal
							<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
						div.left-content.js-slider-gallery-preview
							div.wrapp-img(data-gallery='1')
								div.img-content.active
									img(src='img/sert1.jpg' alt='')
							div.wrapp-img(data-gallery='2')
								div.img-content
									img(src='img/sert2.jpg' alt='')
							div.wrapp-img(data-gallery='3')
								div.img-content
									img(src='img/sert3.jpg' alt='')
						div.right-content
							div.js-slider-init-gallery
								div.wrapp-img(data-gallery='1')
									div
										img(src='img/sert1.jpg' alt='')
								div.wrapp-img(data-gallery='2')
									div
										img(src='img/sert2.jpg' alt='')
								div.wrapp-img(data-gallery='3')
									div
										img(src='img/sert3.jpg' alt='')

		div.gallery-wrapp.js-open-youtube-modal
			div.gallery-wrapp-content
				div.gallery
					div.wrapp_close.js-close-youtube-modal
						<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
					div.left-content.js-slider-youtube-preview.left-youtube-gallery
						div.wrapp-img(data-gallery='1')
							div.img-content.active
								img(src='//img.youtube.com/vi/JMJXvsCLu6s/maxresdefault.jpg' alt='')
						div.wrapp-img(data-gallery='2')
							div.img-content
								img(src='//img.youtube.com/vi/JMJXvsCLu6s/maxresdefault.jpg' alt='')

					div.right-content.right-youtube-gallery
						div.js-slider-init-youtube
							div.wrapp-img(data-gallery='1')
								div
									<iframe id = 'video1' style="width: 100%; height: 60rem;" src="//www.youtube.com/embed/JMJXvsCLu6s" frameborder="0" allowfullscreen ></iframe>
							div.wrapp-img(data-gallery='2')
								div
									<iframe id = 'video2' style="width: 100%; height: 60rem;" src="//www.youtube.com/embed/JMJXvsCLu6s" frameborder="0" allowfullscreen ></iframe>

						
		//- include includes/elements/_go_top
		include includes/_footer


			