extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_card-h-2
		include includes/_header
		nav.max-width-1300
			ul.breadcrumbs
				li 
					a(href='#') Главная 
				li 
					a(href='#') Спорт
				li 
					a(href='#') Статьи

		section
			div.max-width-1300
				div.filters-wrapp
					h2 Всё о спорте
					ul.filters-li
						li.active 
							a(href='#') Обзор
						li 
							a(href='#') Статьи
						li 
							a(href='#') Компании
						li 
							a(href='#') Специалисты
						li 
							a(href='#') Магазины
					div.dropdown
						p Сначала 
							span новые
								svg.down
									use(xlink:href="../img/svg/sprite/sprite.min.svg#up-arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
						ul.dropdown-list
							li 
								a(href='#') Новые
							li 
								a(href='#') Популярные
							li 
								a(href='#') Обсуждаемые
							

		section
			div.max-width-1300
				div.wrapp_cards-block-1.cards-block-sport.cards-block-sport-articles.odd-last-child
					div.block-title
						ul.tags.js-tags-resize
							li.active 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
							li 
								a(href = '#') # Все
									span 248
					
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					div.load_more
						a(href='#') + 
							span Показать ещё
		
		include includes/elements/_go_top
		include includes/_footer
