
extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_card-h-2
		include includes/_header
		nav.max-width-1300
			ul.breadcrumbs
				li 
					a(href='#') Главная 
				li 
					a(href='#') Спорт
				li 
					a(href='#') Статьи

		section(title='filters')
			div.max-width-1300
				div.filters-wrapp
					h2 Всё о спорте
					ul.filters-li
						li Обзор
						li.active Статьи
						li Компании
						li Специалисты
						li Магазины
					div.dropdown
						p Сначала 
							span новые
						ul.dropdown-list
							li Новые
							li Популярные
							li Обсуждаемые
							

		section(title='cards-block-sport-1')
			div.max-width-1300
				div.wrapp_cards-block-1.cards-block-sport.cards-block-sport-articles.odd-last-child
					div.block-title
						ul.tags
							li.active # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
							li # Все 
								span 248
					div.block-filters
						div.item-filter
							div.js-item-filter
								p Район Минска
								p.fild-filter Выбрать район
							div.item-filter-content
								form.type-1
									div.input-wrapp
										input(type='checkbox' id='q')
										label(for='q') Заводской
									div.input-wrapp
										input(type='checkbox')
										label Ленинский
									div.input-wrapp
										input(type='checkbox')
										label Московский
									div.input-wrapp
										input(type='checkbox')
										label Октябрьский
									div.input-wrapp
										input(type='checkbox')
										label Советский
									button.btn.btn-size-130.btn-black Применить

						div.item-filter
							div.js-item-filter
								p Дополнительные услуги
								p.fild-filter Выбрать услуги
							div.item-filter-content
								form.type-1
									div.input-wrapp
										input(type='checkbox')
										label Заводской
									div.input-wrapp
										input(type='checkbox')
										label Ленинский
									div.input-wrapp
										input(type='checkbox')
										label Московский
									div.input-wrapp
										input(type='checkbox')
										label Октябрьский
									div.input-wrapp
										input(type='checkbox')
										label Советский
									button.btn.btn-size-130.btn-black Применить

						div.item-filter
							div.js-item-filter
								p Время работы
								p.fild-filter С 00.00 до 24.00
							div.item-filter-content
								form.type-2
									div.slider_ui.js_ui_slider(data-min='0' data-max='24' data-step='1' data-default-value-to='0' data-default-value-from='24')
										span С
										input.js_ui_slider_value_bottom(disabled="disabled")
										span .00
										span ДО
										input.js_ui_slider_value_top(disabled="disabled")
										span .00
										div.js_ui_slider_main
									
									button.btn.btn-size-130.btn-black Применить
						div.item-filter
							div.js-item-filter
								p Направления
								p.fild-filter Выбрать направления
							div.item-filter-content
								form.type-1
									div.input-wrapp
										input(type='checkbox')
										label Заводской
									div.input-wrapp
										input(type='checkbox')
										label Ленинский
									div.input-wrapp
										input(type='checkbox')
										label Московский
									div.input-wrapp
										input(type='checkbox')
										label Октябрьский
									div.input-wrapp
										input(type='checkbox')
										label Советский
									button.btn.btn-size-130.btn-black Применить				
						div.item-filter.item-filter-input-checkbox
							p Спортивные игры
							input(type='checkbox')
							label Есть
						div.item-filter.next.js-item-filter
						div.item-filter-other.hidden
							div.row
								div.item-filter
									div.js-item-filter
										p Рейтинг
										p.fild-filter Выбрать рейтинг
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Аэробика
										p.fild-filter Выбрать направления
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Банный комплекс
										p.fild-filter Выбрать комплекс
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Прочие услуги
										p.fild-filter Выбрать
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
							div.row
								div.item-filter
									div.js-item-filter
										p Групповые программы
										p.fild-filter Выбрать программу
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Боевые искусства
										p.fild-filter Выбрать боевые искусства
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Танцевальные направления
										p.fild-filter Выбрать направления
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить
								div.item-filter
									div.js-item-filter
										p Направления
										p.fild-filter Выбрать направления
									div.item-filter-content
										form.type-1
											div.input-wrapp
												input(type='checkbox')
												label Заводской
											div.input-wrapp
												input(type='checkbox')
												label Ленинский
											div.input-wrapp
												input(type='checkbox')
												label Московский
											div.input-wrapp
												input(type='checkbox')
												label Октябрьский
											div.input-wrapp
												input(type='checkbox')
												label Советский
											button.btn.btn-size-130.btn-black Применить

													

					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					a(href="#").card.card-vertical.banner
						img(src = 'img/banner-sport.png' alt ='')
					//- +card-vertical('card card-vertical text-center card-full_bg text-white','', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/4.jpg', 2, true, false)
					div.load_more
						a(href='#') + 
							span Показать ещё
		
		//- include includes/elements/_go_top
		include includes/_footer
