//- еще стрелочка

extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_card-h-2
		include includes/_header
		div.article-wrapp.company-wrapp
			div.article-wrapp-bg(style='background-image: url("img/1-8bg.jpg");')
			//- div.article-wrapp-bg-dark затемнять блок
			div.article-wrapp-info.max-width-1300
				nav
					ul.breadcrumbs
						li 
							a(href='#') Главная 
						li 
							a(href='#') Спорт
						li 
							a(href='#') Статьи
				h1 Плыви по течению
				p.adress Минск, ул. Октябрьская 16, Ленинский район, ст. м. Первомайская
				div.panel_dop
					p.add_favorites <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="249.6 44.5 371 319.1" enable-background="new 249.6 44.5 371 319.1" xml:space="preserve"><path d="M520.9,44.5c-35.5,0-67.8,19-85.8,50.2c-18-31.1-50.2-50.2-85.7-50.2c-55,0-99.8,46.1-99.8,102.8c0,77.7,98,151.2,156.6,195.1c10.3,7.7,19.4,14.5,26.6,20.3c0.7,0.5,1.5,0.8,2.3,0.8c0.8,0,1.6-0.3,2.3-0.8c7.2-5.8,16.3-12.6,26.6-20.3c58.6-43.9,156.6-117.5,156.6-195.1C620.6,90.7,575.9,44.5,520.9,44.5z M459.6,336.6c-9.3,7-17.6,13.2-24.5,18.7c-6.9-5.4-15.2-11.7-24.5-18.7C353.2,293.5,257,221.4,257,147.4c0-52.7,41.5-95.5,92.4-95.5c35,0,66.6,20,82.4,52.2c0.6,1.3,1.9,2.1,3.3,2.1c1.4,0,2.7-0.8,3.3-2.1c15.9-32.2,47.5-52.2,82.5-52.2c51,0,92.4,42.8,92.4,95.5C613.3,221.4,517.1,293.5,459.6,336.6z"/></svg> Добавить в избранное
					p 26 отзывов	
					div.share 
						div.ya-share2(data-services="vkontakte,facebook" data-counter="")

		section
			div.max-width-1300
				div.company-content-wrapp
					div.menu
						ul
							li О нас
							li Услуги
							li Цены
							li Фотогалерея
							li Отзывы
							li Еще 
					div.content-block
						div.content-left
							img.logo(src='img/1-8-logo.png' alt='')
						div.content-right
							p Любите спорт, ведете здоровый образ жизни и давно мечтаете о занятиях фитнесом с грамотными тренерами, но не можете определиться с выбором? Мы с удовольствием приглашаем вас в новый фитнес-клуб Moby Dick, оснащенный профессиональным силовым и кардиооборудованием, идеально подходящим как для новичков, так и для профессионалов. Здесь знают все о правильных тренировках, предлагая действенные способы укрепления здоровья и раскрывая секреты прекрасной физической формы.
							p.link + Все описание
					div.content-block
						div.content-left
							h3 Услуги
						div.content-right
							ul
								li 
									img(src='img/1-8-icon1.png' alt='')
									p Тренажерный зал
								li 
									img(src='img/1-8-icon2.png' alt='')
									p Единоборства
								li 
									img(src='img/1-8-icon3.png' alt='')
									p Бесплатная парковка
								li 
									img(src='img/1-8-icon4.png' alt='')
									p Фит-бар
								li 
									img(src='img/1-8-icon5.png' alt='')
									p Общие услуги

					div.content-block
						div.content-left
							h3 Прайслист
							ul 
								li.active Все цены
								li Тренажерный зал
								li Бойцовский клуб
						div.content-right
							ul
								li Тренаженрый зал (полный день)
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
								li Абонемент на 1 месяц / 4 занятия. 
									span 30,00 руб.
							p.link + Все цены
										
					div.content-block
						div.content-left
						div.content-right
			div.full-width
				div.company-content-wrapp
					div.content-block
						div.content-left
							h3 Прайслист
							ul 
								li.active Все цены
								li Тренажерный зал
								li Бойцовский клуб
						div.content-right
						
		//- include includes/elements/_go_top
		include includes/_footer
	