extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_card-h-2
		include includes/_header
		div.article-wrapp
			div.article-wrapp-bg(style='background-image: url("img/7-2-full-header.jpg");')
			//- div.article-wrapp-bg-dark затемнять блок
			div.article-wrapp-info.max-width-1300
				nav
					ul.breadcrumbs
						li 
							a(href='#') Главная 
						li 
							a(href='#') Спорт
						li 
							a(href='#') Статьи
				h1 Плыви по течению

		section
			div.content-wrapp.max-width-1300.about.line-bottom
				div.block-left
					ul
						li.active 
							a(href='#') О проекте
						li 
							a(href='#') Рекламодателям
						li 
							a(href='#') Контакты
				div.block-center-text
					p.line-bottom Fashionbank.by — мой личный банк экспертов моды, красоты, спорта и здоровья.
					h2 О проекте 
					p Fashionbank — это информационный интернет-ресурс, посвященный актуальным событиям в мире моды, культуры, красоты, медиа и светской жизни, а также площадка для развития бизнеса. Достоверная информация, эксклюзивные материалы, оперативность и мнения авторитетных экспертов — это основные преимущества Fashionbanka. Мы рассказываем об успешных людях, чье мнение важно, о личностях, которые решают, каким будет наше завтра. 
				div.block-center-img-50
					div.slider.js-slider-init-one-slide
						div.item 
							img(src='img/7-2-full6.jpg' alt='')
							figcaption Сбалансирвоанное и правильное питание помогает поддерживать фигуру в отличной форме
						div.item 
							img(src='img/7-2-full6.jpg' alt='')
							figcaption Сбалансирвоанное и правильное питание помогает поддерживать фигуру в отличной форме
						div.item 
							img(src='img/7-2-full6.jpg' alt='')
							figcaption Сбалансирвоанное и правильное питание помогает поддерживать фигуру в отличной форме
						div.item 
							img(src='img/7-2-full6.jpg' alt='')
				div.block-center-text
					h3 Команда
					p Наша команда состоит из профессиональных журналистов и мастеров пера. Мы работаем 27 часа в сутки 7 дней в неделю для того, чтобы вы всегда могли получить акуальную и свежую информацию. В нашем штате работают:
					ul.three-block
						li
							p.title 37
							p.text Профессиональных журналиста
						li
							p.title 5
							p.text Фотогрофов с большим опытом
						li
							p.title 3
							p.text Дизайнера с отменным вкусом

				div.block-center-citation
					p.citation Желательно придерживаться именно такого порядка, в противном случае после плавания, когда вы расслабились, очень сложно заставить себя пойти в зал.
				div.block-center-text
					p Сбалансирвоанное и правильное питание помогает поддерживать фигуру в отличной форме

			div.content-wrapp.max-width-1300.about.line-bottom
				div.block-center-text
					h2 Рекламодателям
				div.block-center-text
					p Сайт fashionbank.by предлагает как традиционное рекламное размещение (баннеры и брендирование), так и размещение компаний, специалистов и магазинов в каталоге. Мы хорошо знаем нашего читателя и предлагаем именно то рекламное решение, которое будет интересно аудитории и эффективно для рекламодателя.
					p По всем возникаюбщим вопросам вы можете связаться с нами:
					p +375 (29) 361 55 87 
						span.left-padding fashionbank@gmail.com
					ul.accordion
						li
							p.title Медийная реклама
							p.text Сайт fashionbank.by предлагает как традиционное рекламное размещение (баннеры и брендирование), так и размещение компаний, специалистов и магазинов в каталоге. Мы хорошо знаем нашего читателя и предлагаем именно то рекламное решение, которое будет интересно аудитории и эффективно для рекламодателя.
						li
							p.title Размещение в каталоге
							p.text Сайт fashionbank.by предлагает как традиционное рекламное размещение (баннеры и брендирование), так и размещение компаний, специалистов и магазинов в каталоге. Мы хорошо знаем нашего читателя и предлагаем именно то рекламное решение, которое будет интересно аудитории и эффективно для рекламодателя.
						li
							p.title Технические требования
							p.text Сайт fashionbank.by предлагает как традиционное рекламное размещение (баннеры и брендирование), так и размещение компаний, специалистов и магазинов в каталоге. Мы хорошо знаем нашего читателя и предлагаем именно то рекламное решение, которое будет интересно аудитории и эффективно для рекламодателя.
			div.content-wrapp.max-width-1300.about
				div.block-center-text
					h2 Контактная информация
					ul.contacts
						li
							h3 Офис:
							p +375 (17) 331-14-08
							p info@fashionbank.by
						li
							h3 Редакция:
							p +375 (29) 359-66-09
							p redactor@fashionbank.by
						li
							h3 Отдел маркетинга:
							p +375 (29) 359-67-55
							p +375 (29) 359-67-39
							p marketing@fashionbank.by
						li
							button.btn.btn-black.btn-size-225 Обратная связь
				
				

		//- include includes/elements/_go_top
		include includes/_footer
	