extends _layout

block title
	title Title of template

block content
	include includes/_header

	div.wrapp_page
		div.wrapp_first-screen
			div.wrapp_card
				div.card.card-big
				div.card.card-vertical
				div.card.card-vertical
				div.card.card-vertical
				div.card.card-vertical.card-full-bg
			div.wrapp_sidebar
				aside
					
