//-наташе: лайк, search перекрасить, следующую страницу.

extends _layout

block title
	title Title of template

block content
	div.wrapp_page
		include includes/_header
		section
			div.max-width-1300
				div.wrapp_first-screen
					div.wrapp_cards
						ul.wrapp_whats-up
							li
								a(href='#')
									img(src='/img/svg/index-icon(3).svg' alt='')
									p Мода
							li
								a(href='#')
									img(src='/img/svg/index-icon(4).svg' alt='')
									p Спорт
							li
								a(href='#')
									img(src='/img/svg/index-icon(5).svg' alt='')
									p Фотоотчёты
							li
								a(href='#')
									img(src='/img/svg/index-icon(1).svg' alt='')
									p ЗОЖ
							li
								a(href='#')
									img(src='/img/svg/index-icon(2).svg' alt='')
									p Модельный бизнес
						div.card.card-big.text-black
							a(href="#")
								div.card-bg(style='background-image: url("img/1.jpg");')
								div.like.js-like
									span.heart
								div.wrapp-img-bg
								p.card-category 
									object
										a(href='#') Спорт
								p.card-title Как подготовиться к фарафону: история минчанки
								p.card-date_like  6 октября 2016 / 
									span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
									span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28	
						+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
						+card-vertical('card card-vertical text-center text-black','img/3.jpg', 1, true, false)
						+card-vertical('card card-vertical text-center text-black','img/4.jpg', 1, true, false)
						+card-vertical('card card-vertical card-full_bg text-center text-white','img/5.jpg', 2, true, false)
						+card-vertical('card card-vertical text-center text-black','img/4.jpg', 1, true, false)
					div.wrapp_sidebar
						div.wrapp_baner
							div.card.card-vertical.banner
								a(href='#')
									img(src='img/banner.jpg' alt='')
						div.wrapp_top-news
							h4.text-uppercase Самое обсуждаемое
							+card-horizont('card card-horizontal text-black','img/6.jpg','Кастинг моделей: как себя вести. Истории из мира моды','','',true,false)
							+card-horizont('card card-horizontal text-black','img/7.jpg','Кастинг моделей: как себя вести. Истории из мира моды','','',true,false)
							+card-horizont('card card-horizontal text-black','img/8.jpg','Кастинг моделей: как себя вести. Истории из мира моды','','',true,false)
							+card-horizont('card card-horizontal text-black','img/5.jpg','Кастинг моделей: как себя вести. Истории из мира моды','','',true,false)
		section
			div.wrapp_slider-categories-bg-grey.full-width
				div.max-width-1300
					div.wrapp_slider
						div.js-scroll-opasity
							div.wrapp_tabs-categories.js-scroll-container
								ul.tabs-categories.js-tabs-categories.js-scroll-content
									li.active(data-tab='tab1') Заведения
									li(data-tab='tab2') Специалисты
									li(data-tab='tab3') Магазины
								p.all Все заведения
						div.wrapp_tabs-content.js-tabs-content
							div.wrapp_slider-content.js-slider-init(data-tab-content='tab1')
								+card-horizont('card card-horizontal text-black','img/9.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Зож',false,false)
								+card-horizont('card card-horizontal text-black','img/11.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,false)
								+card-horizont('card card-horizontal text-black','img/12.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
							div.wrapp_slider-content.js-slider-init.hidden(data-tab-content='tab2')
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal text-black','img/9.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Зож',false,false)
								+card-horizont('card card-horizontal text-black','img/11.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,false)
								+card-horizont('card card-horizontal text-black','img/12.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
							div.wrapp_slider-content.js-slider-init.hidden(data-tab-content='tab3')
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal text-black','img/9.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Зож',false,false)
								+card-horizont('card card-horizontal text-black','img/11.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,false)
								+card-horizont('card card-horizontal text-black','img/12.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/5.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
								+card-horizont('card card-horizontal card-horizontal-full_bg text-white','img/13.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Красота',false,true)
								+card-horizont('card card-horizontal text-black','img/10.jpg','Массажный салон BonJoli','Минск, ул. Петруся Бровки 30','Мода и стиль',false,false)
		section
			div.max-width-1300
				div.wrapp_cards-block-1
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
		section
			div.wrapp_slider-video-bg-black.full-width
				div.max-width-1300
					div.wrapp_slider
						div.wrapp_slider-title
							p.rubric Рубрика видео
							p.all Все заведения
						div.wrapp_slider-content.js-slider-init-video
							a(href="#").card.card-big.text-white
								div.card-bg(style='background-image: url("img/video_title.jpg");')
								div.wrapp-img-bg
								img.video-play(src='img/video_play.png' alt='')
								p.card-title Как подготовиться к фарафону: 
								p.card-date_like  6 октября 2016 / 
									span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
									span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28	
							+card-vertical('card card-vertical text-center text-white','img/2.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/3.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/4.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/4.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/4.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/4.jpg', 1, false, true)
							+card-vertical('card card-vertical text-center text-white','img/4.jpg', 1, false, true)
		section
			div.max-width-1300
				div.wrapp_cards-block-1
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center card-full_bg text-white','img/5.jpg', 2, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
					+card-vertical('card card-vertical text-center text-black','img/2.jpg', 1, true, false)
				div.load_more
					a(href='#') + 
						span Показать ещё
		include includes/elements/_go_top			
		include includes/_footer

			

