extends _layout

block title
    title Title of template

block content
    div.wrapp_page
        include includes/_card-h-2
        include includes/_header
        nav
            div.max-width-1300
                ul.breadcrumbs
                    li
                        a(href='#') Главная
                    li
                        a(href='#') Карта сайта

        section
            div.max-width-1300
                div.title-page-wrapp
                    h2 Карта сайта
        section
            div.max-width-1300
                div.map-site
                    div.wrapp-map-site
                        div.wrapp-map-site_row
                            div.wrapp-map-site_row-section
                                a.link-section(href='#') Мода
                            div.wrapp-map-site_row-subsections.line-subsections
                                ul
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты

                        div.wrapp-map-site_row
                            div.wrapp-map-site_row-section
                                a.link-section(href='#') Красота
                            div.wrapp-map-site_row-subsections.line-subsections
                                ul.wrapp-map-site_row-subsections-box
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Обзор

                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Все статьи

                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Специалисты

                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Пластика
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Пластика
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Пластика
                                    li.wrapp-map-site_row-subsection_list
                                        a.link-subsections(href='#') Пластика

                        div.wrapp-map-site_row
                            div.wrapp-map-site_row-section
                                a.link-section(href='#') О проекте

                        div.wrapp-map-site_row
                            div.wrapp-map-site_row-section
                                a.link-section(href='#') Контакты

                        div.wrapp-map-site_row
                            div.wrapp-map-site_row-section
                                a.link-section(href='#') Поиск
