extends _layout

block title
	title Title of template

block content


	include includes/_header
	ul
		li
			a(href='/' style) Главная 
		li
			a(href='/1-0sport.html') 1-0sport
		li
			a(href='/1-1sport.html') 1-1sport
		li
			a(href='/1-4sport.html') 1-4sport
		li
			a(href='/1-8sport.html') 1-8sport
		li
			a(href='/1-11sport.html') 1-11sport
		li
			a(href='/7-2article-medium.html') 7-2article-medium
		li
			a(href='/4-0favourites.html' style) 4-0favourites.html
		li
			a(href='/4-3favourites.html') 4-3favourites.html
		li
			a(href='/4-5favourites.html') 4-5favourites.html
		li
			a(href='/4-7favourites.html') 4-7favourites.html
		li
			a(href='/5-0search.pug') 5-0search.pug
		li
			a(href='/5-2search.pug') 5-2search.pug
		li
			a(href='/5-3search.pug') 5-3search.pug

		

	include includes/_footer
	



	







