extends _layout

block title
	title Title of template

block content


	include includes/_header
	ul
		li
			a(href='/' style) Главная 
		li
			a(href='/1-0sport.html') 1-0sport
		li
			a(href='/1-1sport.html') 1-1sport
		li
			a(href='/1-4sport.html') 1-4sport
		li
			a(href='/1-8sport.html') 1-8sport
		li
			a(href='/1-11sport.html') 1-11sport
		li
			a(href='/7-2article-medium.html') 7-2article-medium

		

	include includes/_footer
	



	







