div.wrapp_popup-contener.js-popup-review
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-review')
			<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
		h3 Обратный звонок
		form.js-form
			ul.rewiew
				li Оценка 
					span *
				li.js-select-review(data-review = '1')
				li.js-select-review(data-review = '2')
				li.js-select-review(data-review = '3')
				li.js-select-review(data-review = '4')
				li.js-select-review(data-review = '5')
			input.js-review-input
			input.input-border-bottom
			label Отзыв
				span *
			
			input.input-border-bottom
			label Имя
				span *
				
			
			button.btn.btn-size-225.btn-black Отправить
			//- Повесить появление попап на отправку формы, удалить p ниже
			p.link.js-popup-open(data-open-popup = 'popup-review-success') Успешная отправка
			