div.wrapp_popup-contener.js-popup-sub
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-sub')
			svg
				use(xlink:href="../img/svg/sprite/sprite.min.svg#uEA01-close" xmlns:xlink="http://www.w3.org/1999/xlink")
		h3 Подписаться на рассылку
		form.js-form
			input.input-border-bottom(data-validation="required" data-validation-strength="5" type="password")
			label E-mail
				span *
			button.btn.btn-size-225.btn-black Подписать
			//- Повесить появление попап на отправку формы, удалить p ниже
			p.link.js-popup-open(data-open-popup = 'popup-sub-success') Успешная подписка
div.wrapp_popup-contener.js-popup-sub-success
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-sub-success')
			svg
				use(xlink:href="../img/svg/sprite/sprite.min.svg#uEA01-close" xmlns:xlink="http://www.w3.org/1999/xlink")
		h3 Поздравляем
		p.text-note.success!= 'Вы успешно подписались на рассылку Fashionbank. Настроить параметры рассылки вы можете в личном кабинете.'
		
			