div.wrapp_popup-contener.js-popup-create-account
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-create-account')
			<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
		h3 Создать аккаунт
		p.text-note!= 'Есть личный кабинет? <span class="js-popup-open" data-open-popup = "popup-sing-in">Войдите</span> в свой аккаунт для просмотра профильной информации.'
		form.js-form
			input.input-border-bottom(data-validation="required" type="text")
			label Имя и фамилия 
				span *
			input.input-border-bottom(data-validation="email required" type="text")
			label E-mail
				span *
			input.input-border-bottom(data-validation="required" data-validation-strength="5" type="password")
			label Пароль
				span *
			input.input-border-bottom(data-validation="required" data-validation-strength="5" type="password")
			label Повторите пароль
				span *
			button.btn.btn-size-225.btn-black Создать
		p.sing_in_social Войти через социальную сеть
		ul.wrapp_social-btn
			li.vk
				a(href='#') <svg version="1.1" id="Layer_21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-420.9 250.7 20.3 11.5" enable-background="new -420.9 250.7 20.3 11.5" xml:space="preserve"><path d="M-401.5,251.2h-3.3c-0.3,0-0.5,0.2-0.7,0.4c0,0-1.3,2.4-1.7,3.2c-1.1,2.2-1.9,1.5-1.9,0.5v-3.5c0-0.6-0.5-1.1-1.1-1.1h-2.5c-0.7-0.1-1.3,0.3-1.8,0.8c0,0,1.3-0.2,1.3,1.5c0,0.4,0,1.6,0,2.6c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.4-0.1-0.6-0.2c-1-1.4-1.9-2.9-2.5-4.5c-0.1-0.2-0.4-0.4-0.6-0.4c-0.7,0-2.1,0-3,0c-0.3,0-0.5,0.2-0.5,0.5c0,0.1,0,0.1,0,0.2c0.9,2.5,4.8,10.3,9.3,10.3h1.9c0.4,0,0.7-0.3,0.7-0.7v-1.1c0-0.4,0.3-0.7,0.7-0.7c0.2,0,0.4,0.1,0.5,0.2l2.2,2.1c0.2,0.2,0.5,0.3,0.7,0.3h3c1.4,0,1.4-1,0.6-1.8c-0.5-0.5-2.5-2.6-2.5-2.6c-0.3-0.4-0.4-0.9-0.1-1.3c0.6-0.8,1.7-2.2,2.1-2.8C-401,252.9-400,251.2-401.5,251.2z"/></svg>
			li.fb
				a(href='#') <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.5 16" enable-background="new 0 0 7.5 16" xml:space="preserve"><path d="M7.5,5.2H4.9V3.5c0-0.6,0.4-0.8,0.7-0.8c0.3,0,1.8,0,1.8,0V0L5,0C2.2,0,1.6,2,1.6,3.4v1.8H0V8h1.6c0,3.6,0,8,0,8h3.4c0,0,0-4.4,0-8h2.3L7.5,5.2z"/></svg>
			li.g
				a(href='#') <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28.335px" height="28.336px" viewBox="0 0 28.335 28.336" style="enable-background:new 0 0 28.335 28.336;" xml:space="preserve"><path d="M28.327,4.238v1.927h-3.854v3.852h-1.927V6.165h-3.853V4.238h3.853V0.384h1.927v3.854H28.327z M16.158,1.958h-2.192c1.548,0.886,2.369,2.71,2.369,4.722c0,1.847-1.021,3.334-2.467,4.464c-1.41,1.102-1.678,1.563-1.678,2.5c0,0.799,1.686,1.991,2.46,2.572c2.695,2.022,3.243,3.295,3.243,5.825c0,3.156-3.403,6.295-8.935,6.295c-4.854,0-8.948-1.975-8.948-5.131c0-3.205,3.396-6.543,8.25-6.543c0.529,0,1.014-0.016,1.515-0.016c-0.664-0.646-1.199-1.201-1.199-2.177c0-0.58,0.184-1.133,0.442-1.629c-0.263,0.019-0.532,0.035-0.81,0.035c-3.986,0-6.309-2.8-6.309-6.313C1.898,3.125,5.432,0,9.669,0c2.185,0,8.352,0,8.352,0L16.158,1.958z M11.532,17.996c-0.659-0.215-1.391-0.342-2.172-0.35c-3.354-0.037-6.196,2.119-6.196,4.619c0,2.551,2.423,4.672,5.775,4.672c4.717,0,6.36-1.992,6.36-4.543c0-0.31-0.039-0.607-0.106-0.898C14.821,20.053,13.356,19.262,11.532,17.996z M12.979,6.806c-0.387-2.956-2.312-5.381-4.563-5.45c-2.25-0.066-3.763,2.196-3.37,5.152c0.388,2.956,2.525,5.021,4.777,5.09C12.071,11.664,13.365,9.762,12.979,6.806z"/></svg>
div.wrapp_popup-contener.js-popup-create-account-success
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-create-account-success')
			<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.3 54.4" enable-background="new 0 0 54.3 54.4" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.7,4.8l2.5-2.5l48.8,48.8l-2.5,2.5L0.7,4.8z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.2,2.3L5.5,0l48.8,48.8l-2.3,2.3L3.2,2.3z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M49.2,0.4l2.5,2.5L2.5,52.1L0,49.6L49.2,0.4z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M51.6,2.9L54,5.2L4.8,54.4l-2.4-2.4L51.6,2.9z"/></svg>
		h3 Спасибо
		p.text-note.success!= 'Вы успешно прошли регистрацию. Добро пожаловать в мир Fashionbank.'
