div.wrapp_popup-contener.js-popup-backcall
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-backcall')
			svg
				use(xlink:href="../img/svg/sprite/sprite.min.svg#uEA01-close" xmlns:xlink="http://www.w3.org/1999/xlink")
		h3 Обратный звонок
		form.js-form
			input.input-border-bottom(data-validation="required" type="text")
			label Имя
				span *
			input.input-border-bottom
			label E-mail
			input.input-border-bottom(data-validation="number" type="text" data-validation-length="min10")
			label Телефон
				span *
			input.input-border-bottom(data-validation="required" type="text")
			label Сообщение
				span *
			button.btn.btn-size-225.btn-black Заказать
div.wrapp_popup-contener.js-popup-backcall-success
	div.wrapp_popup_window.hidden
		div.wrapp_close.js-popup-close(data-close-popup = 'popup-backcall-success')
			svg
				use(xlink:href="../img/svg/sprite/sprite.min.svg#uEA01-close" xmlns:xlink="http://www.w3.org/1999/xlink")
		h3 Спасибо
		p.text-note.success!= 'С вами свяжется менеджер в течение 15 минут.'
		
			