a.go_top(href='#')
	<svg width="135" height="78" viewBox='0 0 135 78' xmlns="http://www.w3.org/2000/svg"><polygon id="svg_15" points="68.0047607421875,1.33746337890625 1.3332672119140625,69.97676086425781 10.269989013671875,78.66026306152344 68.0047607421875,19.217376708984375 125.738037109375,78.66255187988281 134.666748046875,69.97676086425781 "/></svg>